<div class="aftersales_page">
	<div class="page-header">
		<h1>售后管理</h1>
	</div>
	<div class="filter_box clearfix">
        <form class="form-inline">
          <div class="form-group">
            <label>订单编号</label>
            <input type="text" class="form-control" placeholder="订单编号" >
          </div>
          <div class="form-group">
          	<label>申请时间</label>
          	<select class="form-control" style="width: 180px">
          		<option>最近7天</option>
          		<option>最近一个月</option>
          		<option>最近三个月</option>
          		<option>全部</option>
          	</select>
          </div>
          <div class="form-group">
            <label>从</label>
            <input type="text" class="form-control" placeholder="2015-11-01">
             至
            <input type="text" class="form-control" placeholder="2015-11-30">
          </div>
          <div class="form-group">
            <label>退款编号</label>
            <input type="text" class="form-control" placeholder="退款编号" >
          </div>
          <div class="form-group">
          	<label>退款状态</label>
          	<select class="form-control" style="width: 180px">
          		<option>全部</option>
          		<option>处理中</option>
          		<option>退款成功</option>
          		<option>退款失败</option>
          	</select>
          </div>
          
          <div class="form-group">
            <button type="reset" class="btn btn-default">清空条件</button>
            <button type="submit" class="btn btn-default">搜索</button>
          </div>
        </form>
    </div>

	<ul class="aftersales_nav">
		<li class="active">全部</li>
		<li>处理中</li>
		<li>退款成功</li>
		<li>退款关闭</li>
	</ul>
	<table class="aftersales_list">
		<thead>
			<tr>
				<th>退款编号</th>
				<th>订单编号/商品信息</th>
				<th>买家</th>
				<th>成交金额</th>
				<th>退款金额</th>
				<th>申请时间</th>
				<th>退款状态</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1654654361</td>
				<td><a href="#">4508450640</a></td>
				<td>东海</td>
				<td>￥ 10.00</td>
				<td>￥ 10.00</td>
				<td>2015/11/12</td>
				<td>处理中</td>
			</tr>
			<tr>
				<td>1654654361</td>
				<td><a href="#">4508450640</a></td>
				<td>东海</td>
				<td>￥ 10.00</td>
				<td>￥ 10.00</td>
				<td>2015/11/12</td>
				<td>处理中</td>
			</tr>
			<tr>
				<td>1654654361</td>
				<td><a href="#">4508450640</a></td>
				<td>东海</td>
				<td>￥ 10.00</td>
				<td>￥ 10.00</td>
				<td>2015/11/12</td>
				<td>处理中</td>
			</tr>
		</tbody>
	</table>


</div>