<div class="aftersales_page">
	<div class="page-header">
		<h1><{if $type eq 'price'}>退款管理<{else}>售后管理<{/if}></h1>
	</div>
	<div class="filter_box clearfix">
        <form class="form-inline" method="post" action="<{link app=seller ctl=site_aftersales act=order args0=$status}>">
          <div class="form-group">
            <label>订单编号</label>
            <input type="text" name="order[order_id]" value="<{$filter.order_id}>"  class="form-control" placeholder="订单编号" >
          </div>
          <!-- <div class="form-group">
          	<label>申请时间</label>
          	<select class="form-control" style="width: 180px">
          		<option>最近7天</option>
          		<option>最近一个月</option>
          		<option>最近三个月</option>
          		<option>全部</option>
          	</select>
          </div> -->
          <div class="form-group">
            <label>申请时间 从</label>
            <input type="text" name="order[createtime][]" value="<{$filter.createtime[0]}>" class="form-control" placeholder="2015-11-01">
             至
            <input type="text" name="order[createtime][]" value="<{$filter.createtime[1]}>" class="form-control" placeholder="2015-11-30">
          </div>
          <div class="form-group">
            <label>退款编号</label>
            <input type="text" name="order[request_id]" value="<{$filter.request_id}>" class="form-control" placeholder="退款编号" >
          </div>
          <div class="form-group">
          	<label>退款状态</label>
          	<select class="form-control" name="order[status]" style="width: 180px">
          		<option <{if $filter.status eq '0'}> selected<{/if}> value="0">全部</option>
          		<option <{if $filter.status eq '1'}> selected<{/if}> value="1">处理中</option>
          		<option <{if $filter.status eq '5'}> selected<{/if}> value="5">退款成功</option>
          		<option <{if $filter.status eq '2'}> selected<{/if}> value="2">退款失败</option>
          	</select>
          </div>

          <div class="form-group">
            <button type="reset" class="btn btn-default">清空条件</button>
            <button type="submit" class="btn btn-default">搜索</button>
          </div>
        </form>
    </div>

	<ul class="aftersales_nav">
		<li <{if $status eq 'all'}>class="active"<{/if}>>
        <{if $type eq 'price'}>
        <a href="<{link app=seller ctl=site_aftersales act=price_manage args0=all}>">全部</a>
        <{else}>
        <a href="<{link app=seller ctl=site_aftersales act=order args0=all}>">全部</a>
        <{/if}>
        </li>
		<li <{if $status eq '1' or $status eq '3' or $status eq '4'}>class="active"<{/if}>>
        <{if $type eq 'price'}>
        <a href="<{link app=seller ctl=site_aftersales act=price_manage args0=1}>">处理中</a>
        <{else}>
        <a href="<{link app=seller ctl=site_aftersales act=order args0=1}>">处理中</a>
        <{/if}>
        </li>
		<li <{if $status eq '5'}>class="active"<{/if}>>
        <{if $type eq 'price'}>
        <a href="<{link app=seller ctl=site_aftersales act=price_manage args0=5}>">退款成功</a>
        <{else}>
        <a href="<{link app=seller ctl=site_aftersales act=order args0=5}>">退款成功</a>
        <{/if}>
        </li>
		<li <{if $status eq '2'}>class="active"<{/if}>>
        <{if $type eq 'price'}>
        <a href="<{link app=seller ctl=site_aftersales act=price_manage args0=2}>">退款拒绝</a>
        <{else}>
        <a href="<{link app=seller ctl=site_aftersales act=order args0=2}>">退款拒绝</a>
        <{/if}>
        </li>
	</ul>
	<table class="aftersales_list">
		<thead>
			<tr>
				<th>售后编号</th>
				<th>订单编号/商品信息</th>
				<th>买家</th>
				<th>成交金额</th>
				<th>退款金额</th>
				<th>申请时间</th>
				<th>售后状态</th>
				<!-- <th>操作</th> -->
			</tr>
		</thead>
		<tbody>
			<{foreach from=$request_list item=item}>
			<tr>
				<td><{$item.request_id}></td>
				<td><a class="text-muted" href="<{link app=seller ctl=site_order act=detail arg0=$item.order_id}>" target="_blank"><{$item.order_id}></a></td>
				<td><{$item.member_info.login_account}></td>
				<td>￥<{$item.product.info.price|cur}></td>
				<td>￥<{$item.product.info.price|cur}></td>
				<td><{$item.createtime|cdate}></td>
				<td>
					<{switch from=$item.status}>
	                    <{case value='1'}>
	                    <span class="text-muted">申请中</span>
	                    <{case value='2'}>
	                    <span class="text-danger">被拒绝</span>
	                    <{case value='3'}>
	                    <span class="text-success">接受申请</span>
	                    <{case value='4'}>
	                    <span class="text-info">退款处理中</span>
	                    <{case value='5'}>
	                    <span class="text-muted">处理完成</span>
                	<{/switch}>
				</td>
				<!-- <td><a href="#" class="btn-link">查看</a></td> -->
			</tr>
			<{/foreach}>

		</tbody>
	</table>

    <{pagers data=$pager}>
</div>
