<div class="product-container">
    <ol class="breadcrumb">
        您所在当前位置：
        <{if $goods_path}>
            <{foreach from=$goods_path item=item name=gp}>
                <{if $env.foreach.gp.last}>
                <li class="active"><{$data_detail.name}>&nbsp;<{$data_detail.product.spec_info}></li>
                <{else}>
                <li><a href="<{link app=b2c ctl=site_list act=index}>?cat_id=<{$item.ident}>"><{$item.title}></a></li>
                <{/if}>
            <{/foreach}>
        <{else}>
        <li class="active"><{$data_detail.name}>&nbsp;<{$data_detail.product.spec_info}></li>
        <{/if}>
    </ol>
    <div class="product-page">
        <div class="row product_firstRow">
            <div class="col-xs-5">
                <div class="product-main-image" style="position: relative; overflow: hidden;">
                    <a href="<{$data_detail.image_default_id|storager:'l'}>" target="_blank">
                        <img src="<{$data_detail.image_default_id|storager:'m'}>" alt="<{$data_detail.name}>" >
                    </a>
                </div>
                <ul class="product-other-images list-inline">
                    <{foreach from=$data_detail.images item=image name=poi}>
                    <li <{if $data_detail.image_default_id == $image.image_id}>class="current"<{/if}>>
                        <a href="<{$image.image_id|storager:'l'}>" data-middlesrc="<{$image.image_id|storager:'m'}>" target="_blank">
                            <img height=50 width="50" src="<{$image.image_id|storager:'s'}>" />
                        </a>
                    </li>
                    <{/foreach}>
                </ul>
            </div>
            <div class="col-xs-7">
                <h1>
                    <{$data_detail.name}><br>
                    <!-- <small><{$data_detail.product.spec_info}></small> -->
                </h1>
                <!-- <p class="pro_No">
                    货号：<span class="text-warning"><{$data_detail.product.product_id}>&nbsp;&nbsp;<{$data_detail.mark_star|star}></span> <small><{$data_detail.mark_star|number_format:'1'}></small>
                </p> -->

                 <div class="pref_info">
                 <p><span>采购数量</span><span>&lt;<{$data_detail.product.price_interval}>箱</span><span>&gt;<{$data_detail.product.price_interval}>箱</span></p>
                 <p><span>价格</span><span>￥<{$data_detail.product.price_up|cur}>/箱</span><span>￥<{$data_detail.product.price_dn|cur}>/箱</span></p>
                 </div>

                 <div class="distr_info">
                     配送：
                     <span>上海 至 上海松江区</span>
                     <span>运费 ￥:10.00</span>
                 </div>

                 <div class="turnover_info">
                     <ul>
                         <li>总成交量<span>186<small>笔</small></span></li>
                         <li>累计评价<span>100<small>条</small></span></li>
                         <li>
                             <!-- <i class="icon-star"></i>
                             <i class="icon-star"></i>
                             <i class="icon-star"></i>
                             <i class="icon-star"></i>
                             <i class="icon-star-empty"></i> -->
                             <{$data_detail.mark_star|star}>
                         </li>
                     </ul>
                 </div>
                 <!-- <p class="avg-mark">
                     <span class="text-warning"><{$data_detail.mark_star|star}></span> <small><{$data_detail.mark_star|number_format:'1'}></small>
                 </p>
                 <div class="description text-danger">
                     <p><{$data_detail.brief}></p>
                 </div>-->

                <ul class="list-unstyled promotion-list">
                </ul>
                <{if $data_detail.spec_desc}>
                <!-- 规格选择器 -->
                <div class="product-spec-options">
                    <dl class="dl-horizontal">
                        <{foreach from=$data_detail.spec_desc.t key=key item=item}>
                        <dt><{$item}></dt>
                        <dd>
                            <{assign var=spec_options value=$data_detail.spec_desc.v.{$key}}>
                            <ul class="list-inline ps-opt-sel">
                                <{foreach from=$spec_options item=option }>
                                    <li class="<{if $option.current}>current <{/if}><{if $option.marketable!='true'}> disabled<{/if}>">
                                        <{if $option.current}>
                                        <span>
                                            <{if $option.p_image_id}>
                                                <img src="<{$option.p_image_id|storager:'xs'}>">
                                            <{/if}>
                                            <{$option.label}>
                                        </span>
                                        <i class="check glyphicon glyphicon-ok-sign"></i>
                                        <{else}>
                                        <a href="<{if $option.marketable!='true'}>javascript:;<{else}><{link app=b2c ctl=site_product args0=$option.product_id}><{/if}>">
                                            <{if $option.p_image_id}>
                                                <img  src="<{$option.p_image_id|storager:'xs'}>">
                                            <{/if}>
                                            <{$option.label}>
                                        </a>
                                        <{/if}>
                                    </li>
                                <{/foreach}>
                            </ul>
                        </dd>
                        <{/foreach}>
                    </dl>
                </div>
                <{/if}>
                <!--购买区-->
                <div class="product-page-cart">
                    <div class="product-quantity input-group" style="width:150px;" data-minibuy="<{$data_detail.minibuy}>">
                        <div class="spinner-buttons input-group-btn">
                            <button type="button" class="btn btn-default">
                            -
                            </button>
                        </div>
                        <input type="text" class="spinner-input form-control"  value=1>
                        <div class="spinner-buttons input-group-btn">
                            <button type="button" class="btn btn-default">
                                +
                            </button>
                        </div>
                    </div>
                                         <br>
                    <div class="price-availability-block clearfix">
                        <span class="price text-danger">
                           <small>￥</small>
                           <strong><{$data_detail.product.buy_price|cur}></strong>
                        </span>
                    </div>
                    <hr>
                    <a class="btn btn-danger btn-lg btn-buy" href="<{link app=b2c ctl=site_cart act=add args0=$data_detail.product.product_id args1=$store_info.store_id args2=1 }>">加入购物车</a>
                    <a class="btn btn-success btn-lg btn-buy" href="<{link app=b2c ctl=site_cart act=fastbuy args0=$data_detail.product.product_id args1=$store_info.store_id args2=1 }>">立即购买</a>
                    <a class="btn btn-link btn-lg favorite-button" href='<{link app=b2c ctl=site_member act=favorite args0=add args1=$data_detail.goods_id args2=goods}>'>
                        <i class="glyphicon glyphicon-heart-empty"></i>
                        <small>Favorite<em></em></small>
                    </a>
                </div>
                <!--购买区end-->
            </div>
        </div>

        <!-- 支付方式、卖家承诺 -->
         <div class="row payment-method">
             <div class="col-xs-6">
                 <p>支付方式</p>
                 <ul>
                     <li><a href="#">会员卡支付</a></li>
                     <li><a href="#">银联卡支付</a></li>
                     <li><a href="#">货到付款</a></li>
                 </ul>
             </div>
             <div class="col-xs-6">
                 <p>卖家承诺</p>
                 <ul>
                     <li><a href="#">72小时极速发货</a></li>
                 </ul>
             </div>
         </div>
         <!-- 商城推荐 -->
         <div class="mall_reco clearfix">
             <h3>商城推荐</h3>
             <ul>
                 <li>
                     <a href="#">
                         <p><span>￥:128.00</span><span>神农客精选五花肉01</span></p>
                         <img src="<{$baseurl}>/themes/pc/default/statics/images/customer_04.jpg">
                     </a>
                 </li>
                 <li>
                     <a href="#">
                         <p><span>￥:128.00</span><span>神农客精选五花肉01</span></p>
                         <img src="<{$baseurl}>/themes/pc/default/statics/images/customer_04.jpg">
                     </a>
                 </li>
                 <li>
                     <a href="#">
                         <p><span>￥:128.00</span><span>神农客精选五花肉01</span></p>
                         <img src="<{$baseurl}>/themes/pc/default/statics/images/customer_04.jpg">
                     </a>
                 </li>
                 <li>
                     <a href="#">
                         <p><span>￥:128.00</span><span>神农客精选五花肉01</span></p>
                         <img src="<{$baseurl}>/themes/pc/default/statics/images/customer_04.jpg">
                     </a>
                 </li>
                 <li>
                     <a href="#">
                         <p><span>￥:128.00</span><span>神农客精选五花肉01</span></p>
                         <img src="<{$baseurl}>/themes/pc/default/statics/images/customer_04.jpg">
                     </a>
                 </li>
             </ul>
         </div>
        <!-- 相关商品 -->
        <div class="goods-rel-items hide">
            <hr>
            <h4>相关商品</h4>
            <div class="row glist-container">
            </div>
        </div>

        <div class="row goods-detailRow">
            <div class="col-xs-3 goods_side_left">
               <!-- 店铺信息 -->
               <div class="shop_info">
                   <dl>
                       <dt><{$store_info.store_name}></dt>
                       <dd>
                           <p>联系卖家:<span><a href=""><i class="icon-comment"></i></a></span></p>
                           <p>经营品牌:<span>双汇</span></p>
                           <p>所在地区:<span>上海 上海市松江区<{$store_info.store_area}></span></p>
                       </dd>
                   </dl>
                   <div class="server_info">
                        <span>描述<small>4.9<i class="icon-arrow-up"></i></small></span>
                        <span>服务<small>4.9<i class="icon-arrow-up"></i></small></span>
                        <span>物流<small>4.9<i class="icon-arrow-up"></i></small></span>
                   </div>
                   <div class="shop_ctr">
                        <a href="<{link app=store ctl=site_store act=index args0=$store_info.store_id}>" class="btn btn-danger">进入店铺</a>
                        <a href="<{link app=b2c ctl=site_member act=favorite args0=add args1=$store_info.store_id args2=store}>" class="btn btn-default">收藏店铺</a>
                   </div>
               </div>

               <!-- 客服中心 -->
               <div class="kefu_list">
                   <a href="#">
                       <img src="<{$baseurl}>/themes/pc/default/statics/images/kefulist.png" />
                   </a>
               </div>

               <!-- 店主推荐 -->
               <div class="shopkeeper_tj">
                    <h3><span>店主推荐</span><a href="">更多推荐》</a></h3>
                    <ul>
                        <li>
                            <div class="goods_img">
                                <a href="#">
                                    <img src="<{$baseurl}>/themes/pc/default/statics/images/proimg.jpg">
                                </a>
                            </div>
                            <div class="goods_info">
                                <p class="goods_price">￥128.00</p>
                                <p class="goods_name"><a class="#" >神农客精选五花肉</a></p>
                                <p class="sell_info"><span>已售出<small>1230</small>笔</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="goods_img">
                                <a href="#">
                                    <img src="<{$baseurl}>/themes/pc/default/statics/images/proimg.jpg">
                                </a>
                            </div>
                            <div class="goods_info">
                                <p class="goods_price">￥128.00</p>
                                <p class="goods_name"><a class="#" >神农客精选五花肉</a></p>
                                <p class="sell_info"><span>已售出<small>1230</small>笔</span></p>
                            </div>
                        </li>
                    </ul>
               </div>
            </div>
            <div class="col-xs-9">
                <div class="product-page-content">
                    <ul id="pp_tabs" class="nav nav-tabs">
                        <li class="active"><a href="#desc" data-toggle="tab">详情介绍</a></li>
                        <li><a href="#comment" data-toggle="tab">评价</a></li>
                    </ul>
                    <div  class="tab-content">
                        <div class="tab-pane fade in active" id="desc">
                            <!-- data:image/gif;base64,R0lGODlhAQABAIAAAO/v7////yH5BAAHAP8ALAAAAAABAAEAAAICRAEAOw== -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>品牌</th>
                                        <th>分类</th>
                                        <{if $data_detail.keywords}>
                                        <th>关键词</th>
                                        <{/if}>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <{if $data_detail.brand.brand_id}>
                                                    <a target="_blank" href="<{link app=b2c ctl=site_list args0=$data_detail.brand.brand_id}>">
                                                        <{if $data_detail.brand.brand_logo}>
                                                        <img src="<{$data_detail.brand.brand_logo|storager:'xs'}>" alt="<{$data_detail.brand.brand_name}>" />
                                                        <{$data_detail.brand.brand_name}>
                                                        <{else}>
                                                        <{$data_detail.brand.brand_name}>
                                                    <{/if}>
                                                    </a>
                                            <{else}>
                                                无
                                            <{/if}>
                                        </td>
                                        <td>
                                            <{if $data_detail.category.cat_id}>
                                                    <a href="<{link app=b2c ctl=site_list}>?cat_id=<{$data_detail.category.cat_id}>">
                                                        <{$data_detail.category.cat_name}>
                                                    </a>
                                            <{else}>
                                                无
                                            <{/if}>
                                        </td>
                                        <{if $data_detail.keywords}>
                                        <td>
                                            <ul class="list-inline">
                                                <{foreach from=$data_detail.keywords item=item}>
                                                <li>
                                                    <a href="<{link app=b2c ctl=site_list}>?keyword=<{$item.keyword}>">
                                                            <{$item.keyword}>
                                                    </a>
                                                </li>
                                                <{/foreach}>
                                            </ul>
                                        </td>
                                        <{/if}>
                                    </tr>
                                </tbody>
                            </table>
                            <{if $data_detail.params}>
                                <div class="row">
                                    <{foreach from=$data_detail.params key=key item=item}>
                                    <div class="col-xs-6">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <{$key}>
                                                </td>
                                                <td>
                                                    <dl class="dl-horizontal">
                                                        <{foreach from=$item key=k item=v}>
                                                            <dt><{$k}></dt>
                                                            <dd>
                                                                <{$v}>
                                                            </dd>
                                                        <{/foreach}>
                                                    </dl>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <{/foreach}>
                                </div>
                            <{/if}>
                            <div class="description">
                                <{$data_detail.description}>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="comment">
                            //COMMENTS TODO
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

<textarea class="hide" id='related_tpl'>
    <div class="col-xs-3">
        <div class="thumbnail goods-item">
            <div class="gi-image-wrapper">
                <a href="{product.item_url}">
                    <img src="{image}" alt="{name}">
                </a>
            </div>
            <div class="caption">
                <h3 class="g-name"><a href="{product.item_url}">{name}</a></h3>
                <ul class="list-inline">
                    <li class="price-1 text-danger"><small>￥</small>{product.buy_price}</li>
                </ul>
            </div>
        </div>
    </div>
</textarea>
<script type="text/javascript" src="<{$base_url}>/openapi/goods/counter/goods_id/<{$data_detail.goods_id}>/view_count/1/uv.js"></script>
<{script src="jquery.zoom.js"}>
<script charset="utf-8">
    /*
    * 商品详情页脚本
    * @author vmcshop.com
    * @version 1.150620
    */
$(function(){
    //模板填充
    var substitute = function(str, obj) {
        return str.replace(/\\?\{([^{}]+)\}/g, function(match, name) {
            if (match.charAt(0) == '\\') return match.slice(1);
            if(name.match(/\./)){
                value = eval('obj.'+name);
                return value?value:'';
            }
            return (obj[name] != undefined) ? obj[name] : '';
        });
    };
    //倒计时
    var remaining_time = function (intDiff,show_scope){
        if(!show_scope)return;
        setInterval((function(){
            var day=0,
                hour=0,
                minute=0,
                second=0;//时间默认值
            if(intDiff > 0){
                day = Math.floor(intDiff / (60 * 60 * 24));
                hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
            }
            if (minute <= 9) minute = '0' + minute;
            if (second <= 9) second = '0' + second;
            show_scope.find('.day-show').html(""+day+"天");
            show_scope.find('.hour-show').html('<s id="h"></s>'+hour+'时');
            show_scope.find('.minute-show').html('<s></s>'+minute+'分');
            show_scope.find('.second-show').html('<s></s>'+second+'秒 后结束');
            intDiff--;
            return arguments.callee;
        })(), 1000);
    };


    //修改数量时，影响购买按钮数量参数
    $('.product-quantity .spinner-input').on('_change',function(e,cur_val){
        $.each($('.btn-buy'),function(i,a){
            a.href = a.href.replace(/([\s\S]*?)-([\d]+?)-([\d]+?)\.html/,function(){
                var args = arguments;
                return [args[1],args[2],cur_val].join('-')+'.html'
            });
        });
    }).trigger('_change',[$('.product-quantity .spinner-input').val(),0]);


    //相册切换
    var enter_timer = 0;
    $('.product-other-images a').on('mouseenter',function(e,tout){
        var oli = $(this).closest('li'),middle_src = $(this).attr('data-middlesrc'),big_src=$(this).prop('href');
        if(!middle_src)return;
        clearTimeout(enter_timer);
        enter_timer = setTimeout(function(){
            $('.product-main-image img').prop('src',middle_src);
            $('.product-main-image a').prop('href',big_src).parent().zoom({url:big_src});
            $('.product-other-images li').removeClass('current');
            oli.addClass('current');
        },tout||500);
    });
    $('.product-other-images a').on('click',function(e){
        clearTimeout(enter_timer);
        $(this).trigger('mouseenter',[1]);
        return false;
    });
    $('.product-main-image a').parent().zoom({url:$('.product-main-image a').prop('href')});


    /**商品 openapi 调用**/
    var goods_id = "<{$data_detail.goods_id}>";

    //商品促销
    var goods_promotions_api = "<{$base_url}>/openapi/goods/promotion/goods_id/<{$data_detail.goods_id}>/price/<{$data_detail.product.buy_price}>";

    $.getJSON(goods_promotions_api,function(recv){
        var phtml = '';
        if(recv.result == 'success' && recv.data){
            $.each(recv.data.plist,function(idx,p){
                phtml+='<li data-ruleid="'+p.rule_id+'" data-remaining="'+(p.to_time-p.now)+'"><span class="label label-danger">'+p.tag+'</span>&nbsp;'+p.description+' <span class="time-show"><span class="day-show"></span><span class="hour-show"></span><span class="minute-show"></span><span class="second-show"></span></span></li>';
            });
            $('.promotion-list').append(phtml);
            $.each($('.promotion-list [data-remaining]'),function(idx,item){
                item = $(item);
                if(item.attr('data-remaining')>60*60*24*7){
                    $(item.find('.time-show')).remove();
                }else{
                    remaining_time(item.attr('data-remaining'),$(item.find('.time-show')));
                }
            });
            if(recv.data.sale_price && recv.data.sale_price!='null'){
                $('<del class="text-muted">￥'+$('.price-availability-block .price strong').text()+'</del>').insertBefore($('.price-availability-block .price'));
                $('.price-availability-block .price strong').text(recv.data.sale_price);
            }
        }
    });
    <{if $data_detail.nostore_sell != '1'}>
    //库存确认openAPI
    var stock_confirm_api = "<{$base_url}>/openapi/stock/confirm/";
    $.post(stock_confirm_api,{sku:'<{$data_detail.product.bn}>'},function(recv){
        try{
            data = recv.data;
            if(!data || !data['<{$data_detail.product.bn}>'] || data['<{$data_detail.product.bn}>']['num']<1){
                //无法确认库存,或无库存
                //DO SOMETHING
                $('.product-page-cart .btn').addClass('disabled');
                $('<br><div class="alert alert-warning">无库存</div>').insertAfter($('.product-page-cart'));
            }else{
                var stock_num = data['<{$data_detail.product.bn}>']['num'];
                $('.product-quantity input.spinner-input').attr('data-maxbuy',stock_num);
            }
        }catch(e){
            //console.error(e);
        }

    },'json');
    <{/if}>

    //相关商品openAPI
    var related_api = "<{$base_url}>/openapi/goods/related/";
    $.getJSON(related_api,{goods_id:goods_id},function(recv){
        try{
            $.each(recv.data,function(k,v){
                if(v.product.promotion.sale_price && v.product.promotion.sale_price!='null'){
                    v.product.buy_price = v.product.promotion.sale_price;
                }
                $('.goods-rel-items .row').append(substitute($('#related_tpl').val(),v));
            });
            if($('.goods-rel-items .row .goods-item').length){
                $('.goods-rel-items').removeClass('hide');
            }
        }catch(e){
            //console.error(e);
        }
    });
    //喜欢收藏openAPI
    var check_fav_api = "<{$base_url}>/openapi/goods/check_fav/";
    $.getJSON(check_fav_api,{member_id:$.cookie('MEMBER_IDENT'),'goods_id':goods_id},function(recv){
        try{
            data = recv.data;
            if(data.is_fav && data.is_fav>0){
                $('.favorite-button i').removeClass('glyphicon-heart-empty').addClass('glyphicon-heart');
                $('.favorite-button').addClass('disabled');
            }
            $('.favorite-button em').text(' ('+data.fav_count+')');

        }catch(e){
        }



    });
    $('.favorite-button').on('click',function(e){
        e.stopPropagation();
        var _this = $(this);
        $.get(_this.prop('href'),function(re){
            if(re && re.success){
                _this.fadeOut(function(){
                    _this.find('i').removeClass('glyphicon-heart-empty').addClass('glyphicon-heart');
                    var current_count = parseInt(_this.find('em').text().replace(/[\(|\)]/g,''));
                    if(isNaN(current_count))current_count = 0;
                    _this.find('em').text(' ('+(++current_count)+')');
                }).fadeIn(function(){
                    _this.addClass('disabled');
                });
            }else{
                _this.find('small').text(re.error);

                if(re.redirect){
                    location = re.redirect;
                }
            }
        },'json');
        return false;
    });

    /**
     * 切换tab
     */
     $('#pp_tabs a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
         var pane_sel =  $(e.target).attr('href');
         switch (pane_sel) {
             case '#comment':
                 $(this).off('shown.bs.tab');
                 $(pane_sel).load('<{link app=b2c ctl=site_comment act=show args0=$data_detail.goods_id}>');
                 $(pane_sel).on('click','a',function(e){
                     e.stopPropagation();
                     $(pane_sel).load(this.href);
                 });
                 break;
         }
    })

});

</script>
