<{assign var=children value=array()}>
<ul class="list-group category-root">
    <{foreach from=$category_tree item=cat key=ck}>
    <li class="list-group-item <{if $cat.has_children=='true'}> has-children <{/if}>" data-toggle="tab" data-catid="<{$cat.cat_id}>" >
        <a href="#subCat<{$ck}>" -href="<{link app=b2c ctl=site_list}>?cat_id=<{$cat.cat_id}>"><{$cat.cat_name}></a>
        <{if $cat.has_children=='true'}>
            <i class="glyphicon glyphicon-menu-right pull-right"></i>
        <{/if}>
    </li>
    <{/foreach}>
</ul>
<div class="tab-content">
    <{foreach from=$category_tree item=cat key=ck}>
    <div class="tab-pane fade in<{if $ck==20}> active<{/if}>" id="subCat<{$ck}>">
        <{$cat.cat_name}> 子类
    </div>
    <{/foreach}>    
</div>
<script charset="utf-8">
$(function(){ 
    $(".category").hover(function(){},function(){
        $('.category-root li').removeClass('open');
        $(".category .tab-content").hide();
    });
    $(".category-root li").hover(
        function(){
            var cat = $(this).attr('data-catid');
            $('.category-root li').removeClass('open');
            $(this).addClass('open');
            $(".category .tab-content").show();
            $(".category .tab-content .tab-pane").removeClass('active');
            $(".category .tab-content").find('#subCat' + cat).addClass('active');
        }
    );
});
</script>