<{assign var=children value=array()}>
<ul class="list-group category-root">
    <{foreach from=$category_tree item=cat key=ck}>
    <li class="list-group-item <{if $cat.has_children=='true'}> has-children <{/if}>"
    data-toggle="tab" data-catid="<{$cat.id}>" >
        <a href="<{link app=b2c ctl=site_list act=index}>?cat_id=<{$cat.cat_id}>"  href="#subCat<{$cat.cat_id}>"><{$cat.cat_name}>
            <{if $cat.has_children=='true'}>
            <i class="glyphicon glyphicon-menu-right pull-right"></i>
            <{/if}>
        </a>       
    </li>
    <{/foreach}>
</ul>
<div class="tab-content">
    <{foreach from=$category_tree item=one_cat key=ck}>
    <div class="tab-pane fade in clearfix<{if $ck==20}> active<{/if}>" id="subCat<{$one_cat.cat_id}>">
        <div class="tab-pane-cat"><{$one_cat.cat_id}>
        <{foreach from=$one_cat.son item=two_item}>
            <a href="<{link app=b2c ctl=site_list act=index}>?cat_id=<{$two_item.cat_id}>"><span><{$two_item.cat_name}></span></a>
        <{/foreach}>
        </div>
        <div class="tab-pane-brand">
            <a href="<{link app=store ctl=site_store act=index args0=5}>">
                <img src="<{$base_url}>/themes/pc/default/statics/images/brand.png" />
            </a>
        </div>
    </div>
    <{/foreach}>
</div>
<script charset="utf-8">
$(function(){
    $(".category").hover(function(){},function(){
        $('.category-root li').removeClass('open');
        $(".category .tab-content").hide();
    });
    $(".category-root li").hover(
        function(){
            var cat = $(this).attr('data-catid');
            $('.category-root li').removeClass('open');
            $(this).addClass('open');
            $(".category .tab-content").show();
            $(".category .tab-content .tab-pane").removeClass('active');
            $(".category .tab-content").find('#subCat' + cat).addClass('active');
        }
    );
});
</script>
