<h3 class="list_title">
    <span class="floor">1F</span>
    <{$goods.type}>
</h3>
<div class="list_con clearfix">
    <!-- <div class="list_lt">
        <div class="list_item">
            <a href="#">
                <img src="<{$base_url}>./themes/pc/default/statics/images/proimg.jpg" alt="" title="" class="proimg">
                <div class="list_info">
                    <span class="price">￥18.00</span>
                    <p>神农客10公斤精品五花肉</p>
                </div>
            </a>
        </div>
    </div> -->
    <{WIDGET_B2C_INDEX_LEFT_GOOD target=index type=chainfood num=1}>
    <ul class="list_rt">
        <{foreach from=$goods.goods item=item}>
        <li>
            <a href="<{link app=b2c ctl=site_product args0=$item.products.product_id args1=$item.seller_id}>">
                <img src="<{$item.image_default_id|storager:'s'}>" class="proimg">
                <div class="list_info">
                    <span class="price">￥<{$item.products.price|cur}></span>
                    <p><{$item.name}></p>
                </div>
            </a>
        </li>
        <{/foreach}>
    </ul>
</div>
