<!-- <h3 class="list_title">
    <span class="floor_name">1F</span>
    <{$goods.name}>
</h3> -->
<div class="list_con clearfix">
    <{WIDGET_B2C_INDEX_LEFT_GOOD target=index type=china_food}>
    <ul class="list_rt">
        <{foreach from=$goods.item item=item}>
        <li>
            <a href="<{$item.url}>">
                <div class="goodsImgbox"><img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$item.image_id|storager:'s'}>" class="proimg"></div>
                <div class="list_info">
                    <span class="price">￥<{$item.price|cur}></span>
                    <p><{$item.name}></p>
                </div>
            </a>
        </li>
        <{/foreach}>
    </ul>
</div>
