<ul>
    <li>
        <a href="#">
            <p><span>￥:128.00</span><span>神农客精选五花肉01</span></p>
            <img src="<{$baseurl}>/themes/pc/default/statics/images/bestsellers_01.jpg">
        </a>
    </li>
    <li>
        <a href="#">
            <p><span>￥:128.00</span><span>神农客精选五花肉01</span></p>
            <img src="<{$baseurl}>/themes/pc/default/statics/images/bestsellers_02.jpg">
        </a>
    </li>
    <li>
        <a href="#">
            <p><span>￥:128.00</span><span>神农客精选五花肉01</span></p>
            <img src="<{$baseurl}>/themes/pc/default/statics/images/bestsellers_03.jpg">
        </a>
    </li>
    <li>
        <a href="#">
            <p><span>￥:128.00</span><span>神农客精选五花肉01</span></p>
            <img src="<{$baseurl}>/themes/pc/default/statics/images/bestsellers_04.jpg">
        </a>
    </li>
    <li>
        <a href="#">
            <p><span>￥:128.00</span><span>神农客精选五花肉01</span></p>
            <img src="<{$baseurl}>/themes/pc/default/statics/images/bestsellers.jpg">
        </a>
    </li>
</ul>
