<div class="bd">
    <ul class="picList">
        <li>
            <div class="pic"><a href="#" target="_blank"><img src="statics/images/shopimg.png" /></a></div>
            <div class="title"><a href="#" target="_blank">店铺名称1</a></div>
        </li>
        <li>
            <div class="pic"><a href="#" target="_blank"><img src="statics/images/shopimg.png" /></a></div>
            <div class="title"><a href="#" target="_blank">店铺名称2</a></div>
        </li>
        <li>
            <div class="pic"><a href="#" target="_blank"><img src="statics/images/shopimg.png" /></a></div>
            <div class="title"><a href="#" target="_blank">店铺名称3</a></div>
        </li>
        <li>
            <div class="pic"><a href="#" target="_blank"><img src="statics/images/shopimg.png" /></a></div>
            <div class="title"><a href="#" target="_blank">店铺名称4</a></div>
        </li>
        <li>
            <div class="pic"><a href="#" target="_blank"><img src="statics/images/shopimg.png" /></a></div>
            <div class="title"><a href="#" target="_blank">店铺名称5</a></div>
        </li>
        <li>
            <div class="pic"><a href="#" target="_blank"><img src="statics/images/shopimg.png" /></a></div>
            <div class="title"><a href="#" target="_blank">店铺名称6</a></div>
        </li>
        <li>
            <div class="pic"><a href="#" target="_blank"><img src="statics/images/shopimg.png" /></a></div>
            <div class="title"><a href="#" target="_blank">店铺名称6</a></div>
        </li>
        <li>
            <div class="pic"><a href="#" target="_blank"><img src="statics/images/shopimg.png" /></a></div>
            <div class="title"><a href="#" target="_blank">店铺名称6</a></div>
        </li>
    </ul>
</div>
