<div class="bd">
    <ul class="picList">
        <{foreach from=$store.ad_content.title key=key item=item}>
        <li>
            <div class="pic"><a href="<{$store.ad_content.url[$key]}>" target="_blank"><img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$store.ad_content.image[$key]|storager:'xs'}>"/></a></div>
            <div class="title"><a href="<{$store.ad_content.url[$key]}>" target="_blank"><{$store.ad_content.title[$key]}></a></div>
        </li>
        <{/foreach}>
    </ul>
</div>
