
<div class="container-fulid footerbox">
    <footer>
        <div class="footer_link w1200 clearfix">
            <dl>
                <dt><span><img src="<{$base_url}>/themes/pc/default/statics/images/u2371_24.jpg"></span>购物指南</dt>
                <dd><a href="<{link app=b2c ctl=site_passport act=signup}>" target="_blank">免费注册</a></dd>
                <{foreach from=$content item=items}>
                <{foreach from=$items.son item=item}>
                    <{if $item.node_name eq '购物指南'}>
                        <{foreach from=$item.son item=son}>
                        <dd><a href="<{$son.url}>"><{$son.node_name}></a></dd>
                        <{/foreach}>
                        <{break}>
                    <{/if}>
                    <{/foreach}>
                <{/foreach}>
            </dl>
            <dl>
                <dt><span><img src="<{$base_url}>/themes/pc/default/statics/images/u2371_27.jpg"></span>支付方式</dt>
                <{foreach from=$content item=items}>
                <{foreach from=$items.son item=item}>
                    <{if $item.node_name eq '支付方式'}>
                        <{foreach from=$item.son item=son}>
                        <dd><a href="<{$son.url}>"><{$son.node_name}></a></dd>
                        <{/foreach}>
                        <{break}>
                    <{/if}>
                    <{/foreach}>
                <{/foreach}>
            </dl>
            <dl>
                <dt><span><img src="<{$base_url}>/themes/pc/default/statics/images/u2371_30.jpg"></span>配送方式</dt>
                <{foreach from=$content item=items}>
                <{foreach from=$items.son item=item}>
                    <{if $item.node_name eq '配送方式'}>
                        <{foreach from=$item.son item=son}>
                        <dd><a href="<{$son.url}>"><{$son.node_name}></a></dd>
                        <{/foreach}>
                        <{break}>
                    <{/if}>
                    <{/foreach}>
                <{/foreach}>
            </dl>
            <dl>
                <dt><span><img src="<{$base_url}>/themes/pc/default/statics/images/u2371_18.jpg"></span>售后服务</dt>
                <{foreach from=$content item=items}>
                <{foreach from=$items.son item=item}>
                    <{if $item.node_name eq '售后服务'}>
                        <{foreach from=$item.son item=son}>
                        <dd><a href="<{$son.url}>"><{$son.node_name}></a></dd>
                        <{/foreach}>
                        <{break}>
                    <{/if}>
                    <{/foreach}>
                <{/foreach}>
                <dd><a href="<{link app=b2c ctl=site_member act=index}>">退换货</a></dd>
                <dd><a href="<{link app=b2c ctl=site_member act=index}>">取消订单</a></dd>
            </dl>
            <dl>
                <dt><span><img src="<{$base_url}>/themes/pc/default/statics/images/u2371_21.jpg"></span>商家服务</dt>
                <dd><a href="<{link app=seller ctl=site_seller act=index}>">商家中心</a></dd>
                <dd><a href="<{link app=seller ctl=site_passport act=settled_index}>">商家入驻</a></dd>
                <{foreach from=$content item=items}>
                <{foreach from=$items.son item=item}>
                    <{if $item.node_name eq '商家服务'}>
                        <{foreach from=$item.son item=son}>
                        <dd><a href="<{$son.url}>"><{$son.node_name}></a></dd>
                        <{/foreach}>
                        <{break}>
                    <{/if}>
                    <{/foreach}>
                <{/foreach}>
            </dl>
        </div>
        <div class="footer_nav">
            <p class="p1"><a href="#">多鲜乐</a>|<a href="#">鲜驰达</a>|<a href="#">先驰达</a>|<a href="#">神农客卫士</a>|<a href="#">手机美侍客</a>|<a href="#">多鲜乐网贷</a></p>
            <p class="p2"><a href="#">关于美侍客</a><a href="#">营销中心</a><a href="#">联系我们</a><a href="#">网站地图</a><a href="#">法律声明</a></p>
        </div>
        <div class="copyright">
            <p><span>Copyright&copy;2015</span> | <span>备案编号：9349385935</span> | <span>京ICP证09048号</span> | <span>互联网药品信息服务资格证</span></p>
            <p><span>网络文化经营许可证京网文[2014]2148-30号</span> <span>不良信息举报电话：400-3538722</span> </p>

        </div>
    </footer>
</div>

