<{foreach from=$contents item=item}>
<div class="list_lt">
    <div class="list_item">
        	<div class="goodsImgbox">
            <a href="<{$item.url}>">
        		<img src="<{$item.image_id|storager:'s'}>" alt="" title="<{$item.title}>" class="proimg"></a>
        	</div>
            
            <div class="list_info">
                <span class="price"><{$item.extra.price}></span>
                <p> <a href="<{$item.url}>"><{$item.title}></a></p>
            </div>
        
    </div>
</div>
<{/foreach}>
