<nav class="mainNav">
    <div class="container">
      <ul class="nav_ul">
        <li class="default">
            <a href="<{link app=b2c ctl=site_list act=index}>">所有产品分类</a>
            <div class="category-container">
                <div class="category">
                    <{WIDGET_B2C_GOODS_CAT}>
                </div>
            </div>
        </li>
        <li><a href="<{link app=site ctl=index act=index}>" class="active">首页</a></li>
        <{foreach from=$nva item=item}>
            <li>/<a href="<{$item.url}>"><{$item.title}></a></li>
        <{/foreach}>
        
      </ul>        
    </div>
</nav>