<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="default">
            <a href="<{link app=site ctl=index act=index}>">所有产品分类</a>
        </li>
        <li><a href="<{link app=b2c ctl=site_list act=index}>">首页111</a></li>
        <li><a href="<{link app=b2c ctl=site_promotion act=index}>">新品惠</a></li>
        <li><a href="<{link app=b2c ctl=site_brand act=index}>">聚划算</a></li>
        <li><a href="<{link app=b2c ctl=site_member act=index}>">精品店铺</a></li>
        <li><a href="<{link app=b2c ctl=site_member act=index}>">烹饪指南</a></li>
        <li><a href="<{link app=b2c ctl=site_member act=index}>">在线质检</a></li>
        <li><a href="<{link app=b2c ctl=site_member act=index}>">商家入驻</a></li>
      </ul>
    </div>
</nav>
