<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
    <{foreach from=$contents key=key item=item}>
        <li data-target="#carousel-example-generic" data-slide-to="<{$key}>" <{if $key==0}>class="active"<{/if}>></li>
    <{/foreach}>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <{foreach from=$contents key=key item=item}>
        <div class="item">
            <a href="<{$item.url}>"><img src="<{$item.image_id|storager}>" alt="<{$item.title}>"></a>
        </div>
        <{/foreach}>
    </div>
</div>
<script>
    $(function(){
        $('.carousel-inner div:first-child').addClass('active');
    });
</script>
