
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <{foreach from=$slider.ad_content.title key=key item=item}>
        <div class="item">
            <a href="<{$slider.ad_content.url[$key]}>"><img src="<{$slider.ad_content.image[$key]|storager}>" alt="<{$slider.ad_content.title[$key]}>"></a>
        </div>
        <{/foreach}>
    </div>
</div>
<script>
    $(function(){
        $('.carousel-inner div:first-child').addClass('active');
    });
</script>
