.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  display: block;
  content: "";
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
}
.hidden {
  display: none;
}
.basecolor {
  color: #a40001;
}
.w1200 {
  width: 1200px;
  margin: 0 auto;
}
body {
  padding-top: 0px;
  font-size: 12px;
  -ms-overflow-style: scrollbar;
}
body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body .container {
  padding: 0px;
}
header {
  background: #fff;
  /* 顶部样式 */
  /* 顶部搜索栏 */
}
header .container-fulid {
  font-size: 12px;
  color: #333333;
  padding: 0;
}
header .container-fulid .topbar {
  position: relative;
  background: #fafafa;
  border-bottom: 1px solid #e0e0e0;
  height: 39px;
  line-height: 39px;
  min-width: 1200px;
}
header .container-fulid .topbar .top {
  width: 1200px;
  margin: 0 auto;
  height: 39px;
  line-height: 39px;
}
header .container-fulid .topbar .top .topLeft {
  width: 400px;
  float: left;
}
header .container-fulid .topbar .top .topLeft .location {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  border: 1px solid #fafafa;
  border-bottom: none;
  border-top: none;
  height: 38px;
  line-height: 38px;
}
header .container-fulid .topbar .top .topLeft .location small {
  font-size: 12px;
}
header .container-fulid .topbar .top .topLeft .location i {
  color: #666;
}
header .container-fulid .topbar .top .topLeft .location:hover {
  height: 39px;
  line-height: 39px;
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: #fff;
  border-top: none;
}
header .container-fulid .topbar .top .topLeft .location:hover .location-menu {
  display: block;
}
header .container-fulid .topbar .top .topLeft .location:hover a {
  color: #666;
}
header .container-fulid .topbar .top .topLeft .location a {
  cursor: pointer;
}
header .container-fulid .topbar .top .topLeft .location .location-menu {
  display: none;
  width: 500px;
  padding: 0px;
  background: #fff;
  border: 1px solid #ddd;
  margin-top: -1px;
  margin-left: -1px;
  border-top: none;
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 100;
  padding-bottom: 5px;
  padding-top: 5px;
}
header .container-fulid .topbar .top .topLeft .location .location-menu dl {
  margin-left: 10px;
  margin-bottom: 0px;
  position: relative;
  min-height: 30px;
}
header .container-fulid .topbar .top .topLeft .location .location-menu dl dt {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  overflow: hidden;
  position: absolute;
  left: 0px;
}
header .container-fulid .topbar .top .topLeft .location .location-menu dl dd {
  line-height: 30px;
}
header .container-fulid .topbar .top .topLeft .location .location-menu dl dd a {
  padding: 4px 8px;
  white-space: nowrap;
}
header .container-fulid .topbar .top .topLeft .location .location-menu dl dd a:hover {
  background: #f5f5f5;
  color: #C81623;
}
header .container-fulid .topbar .top .topLeft .location .location-menu dl dd a.active {
  background: #C81623;
  color: #fff;
}
header .container-fulid .topbar .top .topLeft .loginStatus {
  display: inline-block;
  margin-left: 50px;
}
header .container-fulid .topbar .top .topLeft .loginStatus span {
  padding-right: 10px;
  color: #646464;
}
header .container-fulid .topbar .top .topLeft .loginStatus a.freeReg {
  padding-left: 10px;
}
header .container-fulid .topbar .top .topRight {
  width: auto;
  float: right;
}
header .container-fulid .topbar .top .topRight ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
header .container-fulid .topbar .top .topRight ul li {
  float: left;
  margin-left: 20px;
}
header .container-fulid .topbar .top .topRight ul li a {
  display: block;
}
header .container-fulid .topbar .top .topRight ul li .icon-shopping-cart {
  color: #a40001;
}
header .container-fulid .topbar .top .topRight ul li ul {
  padding: 0;
  margin: 0;
}
header .container-fulid .topbar .top .topRight ul li ul li {
  margin: 0;
  width: 100%;
}
header .container-fulid .topbar .top .topRight ul li.site_nav i {
  color: #a40001;
}
header .container-fulid .topbar .website_menu {
  position: absolute;
  display: none;
  width: 100%;
  margin: 0 auto;
  z-index: 2000;
  background: #fff;
  border-bottom: 1px solid #ccc;
}
header .container-fulid .topbar .website_menu .menu_con {
  width: 1200px;
  margin: 0 auto;
  color: #333;
  padding: 10px 0;
}
header .container-fulid .topbar .website_menu .menu_con dl {
  width: 200px;
  padding-left: 20px;
  border-right: 1px solid #f5f5f5;
  float: left;
}
header .container-fulid .topbar .website_menu .menu_con dl dt {
  font-size: 14px;
  margin-bottom: 10px;
}
header .container-fulid .topbar .website_menu .menu_con dl dd {
  font-size: 12px;
  height: 24px;
  line-height: 24px;
}
header .container-fulid .topbar .website_menu .menu_con dl dd a:hover {
  color: #a40001;
}
header .container-fulid .topbar .website_menu .menu_con dl:last-child {
  border-right: none;
}
header .topAdv {
  width: 1200px;
  margin: 0 auto;
  height: 90px;
  overflow-y: hidden;
  margin-bottom: 15px;
}
header .topAdv img {
  width: 1200px;
  hieght: 90px;
  display: block;
}
header .searchbar {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 105px;
}
header .searchbar .searchbar_con {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
}
header .searchbar .searchbar_con .logo {
  padding: 0;
  margin: 0 auto;
}
header .searchbar .searchbar_con .logo img {
  height: 100px;
}
header .searchbar .searchbox {
  width: 475px;
  padding: 0;
  padding-top: 10px;
}
header .searchbar .searchbox .search_label {
  width: 100%;
}
header .searchbar .searchbox .search_label span {
  display: inline-block;
  padding: 4px 13px;
  margin: 0;
  cursor: pointer;
}
header .searchbar .searchbox .search_label span.active {
  background: #a40001;
  color: #fff;
}
header .searchbar .searchbox .search_form {
  border: 2px solid #a40001;
}
header .searchbar .searchbox .search_form .search_txt input {
  display: inline-block;
  width: 405px;
  height: 34px;
  line-height: 34px;
  border: none;
  padding: 0;
  outline: none;
  padding-left: 10px;
  overflow: hidden;
}
header .searchbar .searchbox .search_form .search_btn {
  display: inline-block;
  width: 60px;
  background: #a40001;
  height: 36px;
  line-height: 36px;
  color: #fff;
  border: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  float: right;
  font-size: 16px;
}
header .searchbar .searchbox .hotSearch {
  width: 370px;
}
header .searchbar .searchbox .hotSearch li {
  float: left;
  padding: 5px 10px;
}
header .searchbar .kefu {
  float: right;
  margin: 0;
  padding: 0;
  height: 78px;
  line-height: 78px;
  margin-top: 20px;
}
header .searchbar .kefu .mobile {
  position: relative;
}
header .searchbar .kefu .mobile .wxcode {
  position: absolute;
  width: 196px;
  height: 196px;
  background: #fff;
  border: 1px solid #f1f1f1;
  z-index: 100;
  padding: 10px;
  left: -50px;
  z-index: 10000;
}
header .searchbar .kefu .mobile .wxcode:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e1e1e1;
  top: -10px;
  left: 84px;
  position: absolute;
}
header .searchbar .kefu .hotLine {
  line-height: 20px;
  height: 78px;
  font-size: 14px;
  padding-top: 12px;
  background: url(images/clock.jpg) no-repeat left center;
  padding-left: 74px;
  float: right;
}
header .searchbar .kefu .hotLine b {
  color: #a40001;
  display: block;
}
@media screen and (max-width: 768px) {
  .navbar-nav {
    margin-top: 0px;
  }
}
nav.mainNav {
  background-color: #fff;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #a40001;
  height: 50px !important;
  line-height: 50px !important;
  margin: 0px;
  min-width: 1200px;
}
nav.mainNav .container {
  padding: 0;
  width: 1200px;
  height: 50px;
}
nav.mainNav ul.nav_ul {
  margin-bottom: 0px;
}
nav.mainNav ul.nav_ul li {
  display: inline-block;
  float: left;
  font-size: 16px;
  color: #999;
}
nav.mainNav ul.nav_ul li a {
  font-size: 16px;
  color: #5d5d5d;
  padding: 0 28px;
}
nav.mainNav ul.nav_ul li a:hover {
  color: #a40001;
}
nav.mainNav ul.nav_ul li a:focus {
  color: #a40001;
}
nav.mainNav ul.nav_ul li a.active {
  color: #a40001;
}
nav.mainNav ul.nav_ul li.default {
  width: 200px;
  background: #a40001;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  height: 50px;
  line-height: 50px;
  position: relative;
}
nav.mainNav ul.nav_ul li.default a {
  color: #fff;
  padding-left: 20px;
}
nav.mainNav ul.nav_ul li .category-container {
  width: 200px;
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 51;
  height: 500px;
  background: #1c0001;
  opacity: 0.95;
  display: none;
}
nav.mainNav ul.nav_ul li .category-container .category ul {
  margin: 0px;
  cursor: pointer;
}
nav.mainNav ul.nav_ul li .category-container .category ul li:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
nav.mainNav ul.nav_ul li .category-container .category ul li:last-child {
  border-radius: 0px;
}
nav.mainNav ul.nav_ul li .category-container .category ul li {
  font-size: 16px;
  position: relative;
  display: block;
  padding: 0px;
  border: 0px;
  margin: 0;
  height: 36px;
  line-height: 36px;
  width: 100%;
}
nav.mainNav ul.nav_ul li .category-container .category ul li a {
  margin: 0;
  font-size: 14px;
  display: block;
  width: 100%;
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
}
nav.mainNav ul.nav_ul li .category-container .category ul li i {
  color: #FFF;
  font-size: 12px;
  padding-top: 13px;
}
nav.mainNav ul.nav_ul li .category-container .category ul li.open {
  background: #a40001;
  position: relative;
}
nav.mainNav ul.nav_ul li .category-container .category ul li.open a {
  color: #fff;
}
nav.mainNav ul.nav_ul li .category-container .category ul li.open:after {
  content: '';
  height: 0;
  width: 0;
  line-height: 0;
  border-right: 8px solid #fff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  position: absolute;
  right: -2px;
  top: 11px;
  z-index: 10000000;
}
nav.mainNav ul.nav_ul li .category-container .category ul .dropdown-subcat {
  left: 200px;
  top: -2px;
  border: 0px;
  position: relative;
}
nav.mainNav ul.nav_ul li .category-container .category .nav-tabs {
  float: normal;
  border-bottom: 0px solid #ddd;
}
nav.mainNav ul.nav_ul li .category-container .category .tab-content {
  position: absolute;
  left: 200px;
  top: 0px;
  width: 1000px;
  background: #FFF;
  overflow: hidden;
  z-index: 9999;
  min-height: 500px;
  padding: 10px;
  display: none;
  border: 1px solid #a40001;
}
nav.mainNav ul.nav_ul li .category-container .category .tab-pane .tab-pane-cat {
  width: 740px;
  float: left;
  word-break: break-all;
  word-wrap: break-word;
}
nav.mainNav ul.nav_ul li .category-container .category .tab-pane .tab-pane-cat dl {
  position: relative;
  padding-left: 80px;
  margin-bottom: 5px;
}
nav.mainNav ul.nav_ul li .category-container .category .tab-pane .tab-pane-cat dl dt {
  width: 80px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  left: 0;
  overflow: hidden;
}
nav.mainNav ul.nav_ul li .category-container .category .tab-pane .tab-pane-cat dl dt:hover a,
nav.mainNav ul.nav_ul li .category-container .category .tab-pane .tab-pane-cat dl dt:hover i {
  color: #a40001;
}
nav.mainNav ul.nav_ul li .category-container .category .tab-pane .tab-pane-cat dl dt a {
  padding-left: 0;
  font-size: 12px;
  color: #666;
}
nav.mainNav ul.nav_ul li .category-container .category .tab-pane .tab-pane-cat dl dt a i {
  font: 400 9px/14px consolas;
  height: 14px;
  position: absolute;
  right: 18px;
  top: 6px;
  width: 4px;
}
nav.mainNav ul.nav_ul li .category-container .category .tab-pane .tab-pane-cat dl dd {
  word-break: break-all;
  word-wrap: break-word;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 2px;
  min-height: 24px;
}
nav.mainNav ul.nav_ul li .category-container .category .tab-pane .tab-pane-cat dl dd a {
  color: #666;
  font-size: 12px;
  padding: 0px 10px;
  margin-bottom: 3px;
  display: inline-block;
  border-left: 1px solid #e1e1e1;
}
nav.mainNav ul.nav_ul li .category-container .category .tab-pane .tab-pane-cat dl dd a:hover {
  color: #c92d22;
}
nav.mainNav ul.nav_ul li .category-container .category .tab-pane .tab-pane-brand {
  width: 200px;
  height: 200px;
  float: right;
}
.partnerbox {
  width: 100%;
  background: #fff;
}
.partnerbox .partner {
  margin: 0 auto;
  width: 1200px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}
.partnerbox .partner ul {
  text-align: center;
}
.partnerbox .partner ul li {
  padding: 10px 0;
  display: inline-block;
  width: 290px;
  border-right: 1px solid #ddd;
}
.partnerbox .partner ul li:last-child {
  border-right: none;
}
.partnerbox .partner ul li span {
  display: block;
  height: 82px;
  width: 100%;
}
.partnerbox .partner ul li span img {
  display: block;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.partnerbox .partner ul li i {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.footerbox {
  width: 100%;
  padding: 20px 0 0 0;
  margin: 0px;
  background: #fff;
  min-width: 1200px;
}
.footerbox footer {
  width: 100%;
  margin: 0 auto;
}
.footerbox footer .footer_link {
  width: 1000px;
  margin: 0px auto 15px;
}
.footerbox footer .footer_link dl {
  float: left;
  width: 140px;
  margin: 0 30px;
}
.footerbox footer .footer_link dl dt {
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
}
.footerbox footer .footer_link dl dt span {
  margin-right: 10px;
}
.footerbox footer .footer_link dl dd {
  margin-left: 15px;
  border-left: 1px dotted #ddd;
  height: 24px;
  line-height: 24px;
  padding-left: 25px;
}
.footerbox footer .footer_link dl dd a:hover {
  color: #a40001;
}
.footerbox footer .footer_nav {
  width: 100%;
  background: #011626;
  color: #fff;
  height: 110px;
  margin: 20px auto;
  border-top: 5px solid #a40001;
}
.footerbox footer .footer_nav p {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.footerbox footer .footer_nav p a {
  color: #fff;
}
.footerbox footer .footer_nav p.p1 {
  font-size: 18px;
  padding-top: 20px;
}
.footerbox footer .footer_nav p.p1 a {
  font-size: 18px;
  display: inline-block;
  margin: 0 15px;
}
.footerbox footer .footer_nav p.p2 {
  font-size: 14px;
  padding-top: 15px;
}
.footerbox footer .footer_nav p.p2 a {
  display: inline-block;
  margin: 0 15px;
}
.footerbox footer .copyright {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}
.note-image-input {
  border: none !important;
  padding: 0;
  height: 30px;
  margin-bottom: 15px;
}
.filebox,
.fileboxs {
  display: inline-block;
  position: relative;
  height: 120px;
  width: 120px;
}
.filebox .file_input,
.fileboxs .file_input {
  position: absolute;
  z-index: 10;
  width: 120px;
  height: 120px;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
.filebox .showImg,
.fileboxs .showImg {
  width: 118px;
  height: 118px;
  overflow: hidden;
  border: 1px solid #ccc;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  cursor: pointer;
}
.filebox .showImg img,
.fileboxs .showImg img {
  display: block;
  margin: auto;
  max-height: 118px;
  max-width: 118px;
}
.filebox .showImg .loading,
.fileboxs .showImg .loading {
  font-size: 30px;
}
.filebox .file_ctr,
.fileboxs .file_ctr {
  position: absolute;
  margin-left: 130px;
  top: 40px;
}
.filebox .file_ctr a,
.fileboxs .file_ctr a {
  display: block;
  font-size: 14px;
}
.pro_img_item {
  position: relative;
  width: 120px;
  height: 120px;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #ddd;
}
.pro_img_item .item_panel {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.pro_img_item .item_panel .default {
  background: #f3565d;
  color: #fff;
  padding: 2px 3px;
  display: none;
}
.pro_img_item .item_panel .default.selected {
  display: inline-block;
}
.pro_img_item .item_panel .glyphicon-trash {
  display: inline-block;
  color: #f3565d;
  position: absolute;
  right: 10px;
  margin-top: 100px;
  cursor: pointer;
}
.pro_img_item .item_panel .glyphicon-trash:hover {
  color: red;
}
.pro_img_item .item_con {
  position: absolute;
  z-index: 9;
}
.uploader {
  overflow: hidden;
  position: relative;
}
.uploader .handle,
.uploader .thumb {
  cursor: pointer;
}
.uploader .thumb {
  height: 120px;
  width: 120px;
  border: 1px solid #CCC;
  overflow: hidden;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.uploader .thumb span.loading {
  font-size: 30px;
}
.uploader .thumb img {
  display: block;
  margin: auto;
  max-height: 118px;
  max-width: 118px;
}
.uploader .handle {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  width: 120px;
  height: 120px;
}
.uploader label.right {
  display: inline-block;
  position: absolute;
  left: 130px;
  min-height: 16px;
  top: 45px;
}
.fixed_slidebar {
  width: 35px;
  height: 100%;
  background: #000;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 999999;
  float: right;
}
.fixed_slidebar ul {
  padding-top: 150px;
}
.fixed_slidebar ul li {
  width: 36px;
  text-align: center;
  margin: 10px 0;
  min-height: 36px;
  padding: 10px;
  cursor: pointer;
}
.fixed_slidebar ul li a {
  display: block;
  color: #fff;
}
.fixed_slidebar ul li a span {
  display: block;
  width: 16px;
}
.fixed_slidebar ul li i {
  font-size: 16px !important;
  color: #fff;
}
.fixed_slidebar ul li i.icon-shopping-cart {
  color: #a40001;
}
.fixed_slidebar ul li:hover {
  background: #a40001;
  color: #fff;
}
.fixed_slidebar ul li:hover i.icon-shopping-cart {
  color: #fff;
}
.fixed_slidebar ul .tooltip {
  right: 36px;
  margin-right: 36px;
  width: 100px;
  line-height: 20px;
}
.jumbotron .cart_blank {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.jumbotron .cart_blank dt {
  width: 100%;
  text-align: center;
}
.jumbotron .cart_blank dt i {
  color: #e9e9e9;
}
.jumbotron .cart_blank dd {
  margin-top: 25px;
  font-size: 20px;
}
#quickLogin {
  top: 50%;
  margin-top: -220px;
}
#quickLogin .modal-content {
  width: 480px;
  margin: 0 auto;
  height: 380px;
  border-radius: 0px;
}
#quickLogin .modal-header {
  background: #B6000C;
  color: #fff;
}
#quickLogin .modal-header small {
  padding-left: 10px;
  color: #fff;
}
#quickLogin .modal-body {
  height: 273px;
  padding: 0 60px;
}
#quickLogin .modal-body ul {
  margin: 20px auto;
  height: 40px;
}
#quickLogin .modal-body ul li {
  float: left;
  width: 100%;
  border-bottom: 1px solid #ddd;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  font-size: 14px;
}
#quickLogin .modal-body .form-group .form-control {
  border-radius: 0px;
  box-shadow: none;
}
#quickLogin .modal-body .rmb_pwd input {
  margin-right: 5px;
  vertical-align: top;
}
#quickLogin .modal-body .forget_pwd {
  float: right;
  margin-top: 5px;
}
#quickLogin .modal-body .input-group-addon {
  border-radius: 0px;
}
#quickLogin .modal-body .login_btn {
  width: 100%;
  background: #B6000C;
  border-radius: 0px;
  height: 40px;
  margin-top: 5px;
}
#quickLogin .modal-footer {
  height: 50px;
  background: #f5f5f5;
}
#quickLogin .modal-footer p {
  font-size: 12px;
}
#quickLogin .modal-footer p a {
  color: #B6000C;
  padding: 0 5px;
}
form .form-control {
  box-shadow: none;
  border-radius: 0;
}
form .form-control:focus {
  box-shadow: none;
}
form .data_par.active .form-control {
  border: 1px #32BC61 solid;
  background-color: #fff;
}
form .data_par.error .form-control {
  border: 1px #d9534f solid;
  background-color: #fff;
}
form .valid_message {
  color: #5cb85c;
}
form .error .valid_message {
  color: #d9534f;
}
form .success .valid_message {
  position: absolute;
  display: inline-block;
  background: url(images/sucess.png) no-repeat;
  left: auto;
  right: 20px;
  top: 8px;
  width: 16px;
  height: 16px;
}
form .none {
  display: none;
}
.msgTip {
  display: none !important;
}
label.error {
  display: inline-block;
  color: #a40001;
  margin: 4px 0px;
  padding-left: 20px;
  background: url(images/failed.png) no-repeat 2px center;
}
label.right {
  display: inline-block;
  margin: 4px 0px;
  padding-left: 20px;
  background: url(images/success.png) no-repeat 2px center;
  position: absolute;
  right: -15px;
  top: 5px;
}
.form-group {
  margin: 8px 0px;
}
.form-group .input-group label.right {
  right: -30px;
}
.region,
.category_select {
  width: 100%;
}
.region select,
.category_select select {
  width: 33.333333333% !important;
  margin-right: -4px !important;
}
