/* 首页样式 */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  display: block;
  content: "";
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
}
.hidden {
  display: none;
}
.basecolor {
  color: #e93428;
}
.index_page {
  position: relative;
  padding: 0;
  font-size: 12px;
}
.index_page .container {
  padding: 0;
}
.index_page .firstContainer {
  height: 550px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  margin: 0;
}
.index_page .firstContainer .sliderbox {
  position: relative;
}
.index_page .firstContainer .sliderbox .slide {
  position: absolute;
  z-index: 500;
}
.index_page .firstContainer .sliderbox .slide .carousel-inner img {
  width: 100%;
  height: 550px;
}
.index_page .firstContainer .slider .carousel-control {
  font-size: 80px;
  line-height: 500px;
}
.index_page .pro_list {
  width: 1200px;
  margin: 20px auto;
  padding: 0;
}
.index_page .pro_list h3.list_title {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #e93428;
  color: #fff;
  margin: 0;
}
.index_page .pro_list h3.list_title span.floor {
  display: inline-block;
  margin-left: 15px;
}
.index_page .pro_list .list_con {
  width: 100%;
}
.index_page .pro_list .list_con .list_lt {
  width: 299px;
  height: 570px;
  border-right: 1px solid #ccc;
  background: #f5f5f5;
  padding: 20px;
  float: left;
}
.index_page .pro_list .list_con .list_lt .list_item .goodsImgbox {
  width: 100%;
  height: 260px;
  margin: 10px auto;
  overflow: hidden;
}
.index_page .pro_list .list_con .list_lt .list_item .goodsImgbox .proimg {
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.index_page .pro_list .list_con .list_lt .list_item .list_info {
  margin-top: 20px;
  height: 45px;
}
.index_page .pro_list .list_con .list_lt:hover .proimg {
  transform: scale(1.2);
  transition: 0.3s;
}
.index_page .pro_list .list_con .list_rt {
  width: 900px;
  height: 570px;
  float: right;
}
.index_page .pro_list .list_con .list_rt li {
  position: relative;
  width: 225px;
  height: 285px;
  background: #fff;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  float: left;
  /* a:hover{
						position: absolute;
						left:-1px;
						top:-1px;
						width:226px;
						height:285px;
						border: 2px solid red;
						display:block;
					} */
}
.index_page .pro_list .list_con .list_rt li a {
  display: block;
  width: 225px;
  height: 285px;
  padding: 0 10px;
}
.index_page .pro_list .list_con .list_rt li a .goodsImgbox {
  width: 100%;
  height: 200px;
  margin: 10px auto;
  overflow: hidden;
}
.index_page .pro_list .list_con .list_rt li a .goodsImgbox .proimg {
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.index_page .pro_list .list_con .list_rt li a .list_info {
  width: 100%;
  height: 45px;
  margin-top: 20px;
}
.index_page .pro_list .list_con .list_rt li a:hover .proimg {
  transform: scale(1.2);
  transition: 0.3s;
}
.index_page .shop_show {
  width: 1200px;
  overflow: hidden;
  position: relative;
  background: #fafafa;
}
.index_page .shop_show .bd {
  padding: 10px;
}
.index_page .shop_show .bd ul {
  overflow: hidden;
  zoom: 1;
}
.index_page .shop_show .bd ul li {
  margin: 0 8px;
  float: left;
  _display: inline;
  overflow: hidden;
  text-align: center;
}
.index_page .shop_show .bd ul li .pic {
  text-align: center;
}
.index_page .shop_show .bd ul li .pic img {
  width: 180px;
  height: 90px;
  display: block;
  padding: 2px;
}
.index_page .shop_show .bd ul li .pic a:hover img {
  border-color: #999;
}
.index_page .shop_show .bd ul li .title {
  line-height: 24px;
}
.index_page .fixed_slidebar {
  width: 35px;
  height: 100%;
  background: #000;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 999999;
  float: right;
}
.index_page .fixed_slidebar ul {
  padding-top: 200px;
}
.index_page .fixed_slidebar ul li {
  width: 36px;
  text-align: center;
  margin: 10px 0;
  min-height: 36px;
  padding: 10px;
  cursor: pointer;
}
.index_page .fixed_slidebar ul li a {
  display: block;
  color: #fff;
}
.index_page .fixed_slidebar ul li i {
  font-size: 16px !important;
  color: #fff;
}
.index_page .fixed_slidebar ul li i.icon-shopping-cart {
  color: #e93428;
}
.index_page .fixed_slidebar ul li:hover {
  background: #e93428;
  color: #fff;
}
.index_page .fixed_slidebar ul li:hover i.icon-shopping-cart {
  color: #fff;
}
.index_page .fixed_slidebar ul .tooltip {
  right: 36px;
  margin-right: 36px;
  width: 100px;
  line-height: 20px;
}
