/* 首页样式 */

.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after{
	display: block;
	content: "";
	height: 0;
	line-height: 0;
	font-size: 0;
	clear: both;
}
.hidden{
	display:none;
}
.height(@H){
	height: @H;
	line-height: @H;
}

@basecolor:#a40001;

.basecolor{
	color:#a40001;
}

.index_page{
	position: relative;
	padding: 0;
	font-size: 12px;
	
	.container{
		padding: 0;
	}
	// 首页banner
	.firstContainer{ 
		height:550px;
		width:100%;
		margin:0 auto; 
		padding: 0;
		margin:0;
		min-width: 1200px;
		background:url(images/banner1.jpg) no-repeat center;
		background-size:cover;

		.sliderbox{
			position: relative;

			.slide{
				position: absolute;
				z-index: 50;

				.carousel-inner img{
					width:100%;
					height:550px;
				}
			}
		}
		.slider .carousel-control{
			font-size:80px;
			line-height:500px;
		}
	}
	//END 首页banner


	
	//商品列表
	.pro_list{
		width:1200px;
		margin: 20px auto;
		padding:0;

		h3.list_title{
			width:100%;
			.height(60px);
			background: @basecolor;
			color: #fff;
			margin: 0;
			span.floor_name{
				display: inline-block;
				margin-left:15px;
			}
		}
		.list_con{
			width:100%;

			.list_lt{
				width:299px;
				height:570px;
				border-right:1px solid #ccc;
				background: #fff;
				padding:20px;
				border-left:1px solid #ccc;
				border-bottom:1px solid #ccc;
				.fl;

				.list_item{

					.goodsImgbox{
						width:100%;
						height:260px;
						margin:10px auto;
						overflow: hidden;

						.proimg{
							max-height:100%;
							display: block;
							margin-left:auto;
							margin-right:auto;

						}
					}

					.list_info{
						margin-top:20px;
						height:45px;
					}

				}

				&:hover{
					.proimg{
						transform:scale(1.2);
						transition:0.3s;
					}
				}

			}
			.list_rt{
				width:900px;
				height:570px;
				.fr;
				li{
					position: relative;
					width:225px;
					height:285px;
					background: #fff;
					border-right:1px solid #ccc;
					border-bottom:1px solid #ccc;
					.fl;

					a{
						display: block;
						width:225px;
						height:265px;
						padding:0 10px;
						.goodsImgbox{
							width:100%;
							height:200px;
							margin:10px auto;
							overflow: hidden;

							.proimg{
								max-height:100%;
								display: block;
								margin-left:auto;
								margin-right:auto;

							}
						}
						

						.list_info{
							width:100%;
							height:45px;
							margin-top:20px;
						}

						&:hover{
							.proimg{
								transform:scale(1.2);
								transition:0.3s;
							}
						}
					}
					/* a:hover{
						position: absolute;
						left:-1px;
						top:-1px;
						width:226px;
						height:285px;
						border: 2px solid red;
						display:block;
					} */

				}	
			}
		}
	}
	//END 商品列表



	//店铺展示橱窗
	.shop_show{ 
		width:1200px;  
		overflow:hidden; 
		position:relative;  
		background: #fafafa;   
	}
	
	.shop_show .bd{ 
		padding:10px; 

	}
	.shop_show .bd ul{ 
		overflow:hidden; 
		zoom:1; 
	}
	.shop_show .bd ul li{ 
		margin:0 8px; 
		float:left; 
		_display:inline; 
		overflow:hidden; 
		text-align:center;  
	}
	.shop_show .bd ul li .pic{ 
		text-align:center; 
		width:180px;
		height:90px;
		text-align: center;
	}
	.shop_show .bd ul li .pic img{ 
		display: block;
		max-width:180px; 
		max-height:90px;  
		padding:2px; 
	}
	.shop_show .bd ul li .pic a:hover img{ 
		border-color:#999;  
	}
	.shop_show .bd ul li .title{ 
		line-height:24px;   
	}

	//END 店铺展示橱窗



	//首页固定边栏
	.fixed_slidebar{
		width:35px;
		height:100%;
		background: #000;
		position: fixed;
		top:0px;
		right:0px;
		z-index: 999999;
		.fr;
		ul{
			padding-top:150px;
			li{
				width:36px;
				text-align: center;
				margin:10px 0;
				min-height: 36px;
				padding:10px;
				cursor: pointer;
				a{
					display: block;
					color:#fff;
				}
				i{
					font-size: 16px !important;
					color:#fff;
				}
				i.icon-shopping-cart{
					color: @basecolor;
				}
				
				&:hover{
					background: @basecolor;
					color:#fff;
					i.icon-shopping-cart{
						color:#fff;
					}
				}

			}
			.tooltip{
				right:36px;
				margin-right:36px;
				width:100px;
				line-height: 20px;
			}
		}
		
	}

	//首页左侧楼层导航
	.fixed_floorNav{
		position: fixed;
		left:50px;
		top:50%;
		z-index: 100000;
		box-shadow: 0px 0px 2px #ddd;
		ul{
			li{
				width:25px;
				height:25px;
				line-height: 25px;
				border-bottom:1px dotted #ddd;
				text-align: center;
				background:#fff;
				color:#000;
				cursor: pointer;

				&.active{
					background: @basecolor;
					color:#fff;
				}
			}
		}
	}

	//END 首页固定边栏




}













