.freeze-manager {
  margin-top: 20px;
}
.freeze-manager table thead {
  background-color: #f2f2f2;
}
.freeze-manager table thead tr th {
  border-bottom: none;
  padding: 12px;
}
.freeze-manager table tbody tr {
  border: 1px solid #ddd;
  border-top: none;
}
.freeze-manager table tbody tr td {
  vertical-align: middle;
}
.freeze-manager table tbody tr .opt button {
  padding: 3px 10px;
  background-image: none;
}
.freeze-manager table tbody tr .opt a.btn {
  padding: 3px 5px;
}
.freeze-manager table tbody .add-mem {
  border: none;
  padding: 20px 10px;
}
.freeze-manager table tbody .add-mem button {
  border: 1px dashed #dddddd;
  text-align: center;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0;
  display: inline-block;
}
.freeze-manager table tbody .mem-head .row .col-xs-6 {
  padding: 0;
}
.freeze-manager table tbody .mem-head .row .col-xs-6 img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border-color: #ddd;
}
.freeze-manager table tbody .mem-head .row .name {
  padding-top: 30px;
}
.mem-check-nav {
  margin-top: 15px;
}
.mem-check-nav li {
  border: none;
}
.mem-check-nav li.active a,
.mem-check-nav li.active:hover a {
  border: none;
  border-bottom: 2px solid #a40001;
  cursor: pointer;
}
.buyer-check {
  margin-top: 20px;
}
.buyer-check table thead {
  background-color: #f2f2f2;
}
.buyer-check table thead tr th {
  border-bottom: none;
  padding: 10px;
}
.buyer-check table tbody tr {
  border: none;
  border-bottom: 1px solid #ddd;
}
.buyer-check table tbody tr td {
  vertical-align: middle;
}
.buyer-check table tbody tr .opt a.btn {
  padding: 3px 5px;
}
.storage-manage {
  margin-top: 20px;
}
.storage-manage table thead {
  background-color: #f2f2f2;
}
.storage-manage table thead tr th {
  border-bottom: none;
  padding: 12px;
}
.storage-manage table tbody tr {
  border: 1px solid #ddd;
  margin: 10px 0;
}
.storage-manage table tbody tr td {
  vertical-align: middle;
  border: 0;
}
.storage-manage table tbody .goods-info .row .g-img {
  width: 90px;
  height: 90px;
  text-align: center;
  line-height: 90px;
  border: 1px solid #ddd;
  margin-left: 30px;
}
.storage-manage table tbody .goods-info .row .g-img img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.storage-manage table tbody .goods-info .row .g-name {
  padding-top: 30px;
  text-align: left;
}
.pruchase-manage .page-header {
  border: 0;
  margin-bottom: 10px;
  padding: 0;
}
.pruchase-manage .my-pruchase-nav {
  margin-top: 15px;
}
.pruchase-manage .my-pruchase-nav li {
  border: none;
}
.pruchase-manage .my-pruchase-nav li.active a,
.pruchase-manage .my-pruchase-nav li.active:hover a {
  border: none;
  border-bottom: 2px solid #a40001;
  cursor: pointer;
}
.pruchase-manage .my-pruchase-nav .order-trash {
  float: right !important;
}
.pruchase-manage .order-screening .form-inline .form-group {
  margin-top: 15px;
}
.mem-pruchase-list {
  margin-top: 10px;
}
.mem-pruchase-list .mo-list-head thead tr th {
  background-color: #f2f2f2;
}
.mem-pruchase-list .mo-list-items {
  margin-top: 10px;
}
.mem-pruchase-list .mo-list-items thead .text-nowrap th .list-inline li {
  vertical-align: middle;
  padding: 2px 10px;
}
.mem-pruchase-list .mo-list-items thead .text-nowrap th .list-inline li label {
  margin-bottom: 0;
}
.mem-pruchase-list .mo-list-items thead .text-nowrap th .list-inline li label input {
  margin-top: 0;
}
.mem-pruchase-list .mo-list-items thead .text-nowrap th .list-inline .opt-delete {
  padding-right: 25px;
  float: right;
}
.mem-pruchase-list .mo-list-items thead .text-nowrap th .list-inline .opt-contact {
  padding-right: 16px;
  background: url(images/icon-message.png) no-repeat top right;
  background-size: 16px 16px;
}
.mem-pruchase-list .mo-list-items tbody tr td {
  vertical-align: middle;
}
.mem-pruchase-list .mo-list-items tbody tr .item-info {
  padding: 8px 0;
}
.mem-pruchase-list .mo-list-items tbody tr .item-info .mo-item .i-img {
  width: 80px;
  height: 80px;
  border: 1px solid #ddd;
  line-height: 80px;
  text-align: center;
  margin: 0 15px;
}
.mem-pruchase-list .mo-list-items tbody tr .item-info .mo-item .i-img img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.mem-pruchase-list .mo-list-items tbody tr .item-info .mo-item .i-name {
  padding-top: 10px;
}
.mem-pruchase-list .mo-list-items tbody tr .item-info .mo-item .i-amount {
  padding-top: 25px;
}
.mem-pruchase-list .mo-list-items tbody tr .item-info .mo-item .i-price {
  padding-top: 25px;
}
.mem-pruchase-list .mo-list-items tbody tr .item-info .mo-item .i-opt {
  margin-top: 5px;
}
.mem-pruchase-list .mo-list-items tbody tr .item-info .mo-item .i-opt a.btn {
  width: 80px;
  padding: 5px 0;
  text-align: center;
  font-size: 12px;
  margin-bottom: 5px;
}
.mem-pruchase-list .mo-list-items tbody tr .item-info .mo-item:last-child {
  border: none;
}
.mem-pruchase-list .mo-list-items tbody tr .o-opt a.btn {
  width: 80px;
  font-size: 12px;
  padding: 5px 0;
  margin-bottom: 5px;
}
