//freeze-managerdon
//冻品管家管理
.freeze-manager{
	margin-top: 20px;
	table{
		thead{
			background-color: rgb(242, 242, 242);
			tr{
				th{
					border-bottom: none;
					padding:12px;
				}
			}
		}
		tbody{
			tr{
				border: 1px solid #ddd;
				border-top: none;
				td{
					vertical-align: middle;	
				}
				.opt{
					button{
						padding:3px 10px;
						background-image: none;
					}
					a.btn{
						padding:3px 5px;
					}
				}
			}
			.add-mem{
				border:none;
				padding:20px 10px;
				button{
					border:1px dashed #dddddd;
					text-align: center;
					width:100%;
					height:60px;
					line-height: 60px;
					padding:0;
					display: inline-block;
				}
			}
			.mem-head{
				.row{
					.col-xs-6{
						padding:0;
						img{
							width: 80px;
							height:80px;
							border-radius: 40px;
							border-color: #ddd;
						}
					}
					.name{
						padding-top: 30px;
					}
				}
			}
		}
	}
}