.navbar-inverse{
	background-color: #fff;
	border-bottom: 1px solid #080808;
	border-top: medium none;
	border-right:medium none;
	min-height: 36px;

	.nav{
		 li{
		 	color: #000333;
    		font-size: 16px;
    		cursor: pointer;
    		height: 36px;
    		width: 104px;
    		border-left: 1px solid #080808;
    		border-top: 1px solid #080808;
    		a{
	    		padding:0px;
	    		text-align:center;
	    		line-height: 35px;
	    		color:#000333;

    			&:hover{
				  	color: #080808;   			
				  }
				&.active{
				  background-color: #ff0000;
				  color: #fff;
	    		}
    			
			 }
			
		
		 }
		 li:last-child{
		 	border-right:1px solid #080808;
		 	}
	}
}
.buyer_container{
	.my-page{
		.m-baseinfo{
		 h4{
		 text-align: center;
		 a{
		   color: #000;
		   font-family: "微软雅黑 Regular","微软雅黑";
	       font-style: normal;
	       font-weight: 400;
	       &:hover{
	       color: #ff0000;
	       }
		 }
		 
		 }
		 .list-inline{
		  span.label-warning{
		    color: #ffffff;
		    font-family: "Arial Negreta","Arial";
		    font-size: 14px;
		    font-style: normal;
		    font-weight: 700;
		    padding:2px 25px;
		  }
		 }
		}
	}
}