.navbar-inverse {
  background-color: #fff;
  border-bottom: 2px solid #a40001;
  border-top: medium none;
  border-right: medium none;
  min-height: 36px;
}
.navbar-inverse .nav li {
  color: #000333;
  font-size: 16px;
  cursor: pointer;
  height: 36px;
  width: auto;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: none;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}
.navbar-inverse .nav li a {
  display: block;
  padding: 0 15px;
  text-align: center;
  line-height: 35px;
  color: #000333;
}
.navbar-inverse .nav li a:hover {
  color: #080808;
}
.navbar-inverse .nav li a.active {
  background-color: #a40001;
  color: #fff;
  border: 1px solid #a40001;
}
.buyer_container .my-page .m-baseinfo h4 {
  text-align: center;
}
.buyer_container .my-page .m-baseinfo h4 a {
  color: #000;
  font-family: "微软雅黑 Regular", "微软雅黑";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.buyer_container .my-page .m-baseinfo h4 a:hover {
  color: #ff0000;
}
.buyer_container .my-page .m-baseinfo .list-inline span.label-warning {
  color: #ffffff;
  font-family: "Arial Negreta", "Arial";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  padding: 2px 25px;
}
