body{
	font-size: 12px;
	background: #fff;
}
ul,ol{
	padding: 0;
	margin: 0;
	list-style: none;
}
.fl{ float: left;}
.fr{ float: right;}
.clearfix:after{
	content: "";
	height:0px;
	line-height: 0px;
	display: block;
	font-size:0px;
	clear: both;
}

@basecolor:#e93428;

//商品列表页面
.glist-container{

	//面包屑导航
	.breadcrumb_row{
		background: #f5f5f5;
		padding:0px;
		margin:20px 0;
		height:56px;
		margin-bottom:0;

		.breadcrumb{
			margin-bottom:0px;
			height:56px;
			padding:0 10px;
			li{
				padding: 0;
				
			}
			li.search_li{
				form.goods_search{
					margin-left:10px;
					height:20px;
					line-height: 20px;
					input{
						padding:0 5px;
					}
					button{
						background:#333;
						border:none;
						width:40px;
						height:24px;
						margin-left:-6px;
						i{
							color:#fff;
							

						}
					}
				}
				&:before{
					content: "";
				}
			}
		}

		.about_goods_total{
			height:56px;
			line-height: 56px;
			font-size: 14px;
			span{
				color:@basecolor;
				padding:0 5px;
			}
		}
	}

	//END 面包屑导航
	.panel-body{
		padding:0px;
	}
	.gfilter{
		margin:0;
		border-radius:0px;
		padding:0px;

		table.gfilter_tab{
			width:100%;
			td{
				padding:5px 0;
				border-bottom:1px solid #ddd;
				text-align: center;
				vertical-align: middle;
				ul{
					li{
						float: left;
						padding:10px 15px;
					}
				}
			}
			td:first-child{
				width:15%;
				background: #f5f5f5;
				font-size: 14px;
				font-weight: 700;
			}
		}
	}

	//END 面包屑导航
	

	//商品列表板块
	.goods-list{
		margin-top:20px;


		.form-inline{
			width:50%;
			.fl;
		}
		.heading_rt{
			width:30%;
			.fr;
			.toggleSpan{
				margin-top:5px;
				span{
					display: inline-block;
					width:60px;
					height: 30px;
					line-height: 30px;
					text-align: center;
					.fl;
					margin-left:-1px;
					background: #fff;
					cursor:pointer;
					&.active{
						background: @basecolor;
						color: #fff;
					}
				}

			}
			.pageNav{
				height: 30px;
				line-height: 30px;
				text-align: right;
				margin-top:5px;

				a{
					display: inline-block;
					width:30px;
					height:30px;
					line-height: 30px;
					border: 1px solid #ddd;
					text-align: center;
					background: #fff;
				}
			}
		}
	}

	//END 商品列表板块

	
}
//END 商品列表页


//会员登录页面
.passport-login-container{
	margin-top:20px;
	
	.login_panel_lt{
		.fl;
		width:60%;
	}
	.login_panel_rt{
		width:40%;
		.fr;
		.panel-heading{
			span{
				cursor:pointer;
				&.active{
					background: @basecolor;
				}
			}
		}
		.login-panel{
			margin-left:0px;
			width:100%;
		}
	}
	
}


//END 会员登录页面