<header class="bar bar-nav">
  <a class="icon icon-left-nav pull-left history-go-1" href="<{link app=mobile ctl=index}>"></a>
<{if $_PAGE_!='mobile/member/action/index.html'}>
    <a href="#my_menu_popover"><h1 class="title"><{$title}> <span class="icon icon-caret"></span></h1></a>
<{else}>
  <h1 class="title"><{$title}></h1>
<{/if}>
</header>
<div  class="content my-main">
  <{include file=$_PAGE_ app=$app_id}>
</div>
<div id="my_menu_popover" class="popover">
  <header class="bar bar-nav">
    <h1 class="title">会员中心</h1>
  </header>
  <ul class="table-view">
      <{foreach from=$menu item=i key=k}>
            <{if !$i.link}>
            <li class="table-view-divider"><{$i.label}></li>
            <{/if}>
            <{foreach from=$i.items item=m key=j}>
               <li data-myaction="<{$m.link.act}>" class="table-view-cell mm-<{$m.link.ctl}>-<{$m.link.act}> <{if $current_action!='index' && $m.link.act == $current_action}> active<{/if}>">
                   <a class="navigate-right"  href="<{link app=$m.link.app ctl=$m.link.ctl act=$m.link.act}>">
                       <{$m.label}>
                   </a>
               </li>
            <{/foreach}>
      <{/foreach}>
  </ul>
</div>
