<header class="bar bar-nav">
      <{switch from=$action}>
      <{case value='edit'}>
        <a class="icon icon-left-nav pull-left" href="<{link app=b2c ctl=mobile_member act=sel_maddr args0=list_admin}>"></a>
        <h1 class="title">编辑收货地址</h1>
      <{case value='list_admin'}>
        <a class="icon icon-left-nav pull-left" href="<{link app=b2c ctl=mobile_member act=sel_maddr}>"></a>
        <h1 class="title">管理收货地址</h1>
      <{case}>
        <a class="icon icon-close pull-right" href="<{$callback}>?addr_id=<{$addr_id}>"></a>
        <h1 class="title">收货地址选择</h1>
      <{/switch}>
</header>
<div class="content">
    <{switch from=$action}>
    <{case value='edit'}>
    <form class="content-padded" action="<{link app=b2c ctl=mobile_member act=sel_maddr args0=save}>" method="post" id="maddr_form">
        <{if $maddr.addr_id}>
        <input type="hidden" name="maddr[addr_id]" value="<{$maddr.addr_id}>">
        <{/if}>
        <input name="maddr[name]" style="display:none" disabled="disabled">
        <input type="text" required="true" autocomplete='off' name="maddr[name]" class="form-control"  value="<{$maddr.name}>" placeholder="*收货人姓名">
        <h6 style="margin-top:0;">收货地区</h6>
        <{input type=region app=ectools name="maddr[area]" value=$maddr.area}>
        <input type="text" required="true" autocomplete='off' name="maddr[addr]" class="form-control"  value="<{$maddr.addr}>" placeholder="*详细的地址门牌">
        <input type="text"  autocomplete='off' name="maddr[zip]" class="form-control"  value="<{$maddr.zip}>" placeholder="请填写收货地邮政编码">
        <input type="text" required="true" autocomplete='off' name="maddr[mobile]" class="form-control"  value="<{$maddr.mobile}>" placeholder="*收货人手机号码">
        <input type="text" autocomplete='off' name="maddr[tel]" class="form-control"  value="<{$maddr.tel}>" placeholder="固定电话">
        <input type="text" autocomplete='off' name="maddr[email]" class="form-control"  value="<{$maddr.email}>" placeholder="电子邮箱">
        <p>
            <input type="checkbox" class="i-check" <{if $maddr.is_default=='true'}>checked<{/if}> name="maddr[is_default]" value="true" class="autologin-checkbox" id="set_addr_default">
             <label for="set_addr_default" class="fa"> <span>设置为默认收货地址</span></label>
        </p>

        <button type="submit" class="btn btn-block btn-primary">保存<{if $maddr.addr_id}>修改<{/if}>
        </button>
        <{if $maddr.addr_id}>
        <a class="btn btn-block btn-outlined" onclick="if(!confirm('确认删除？')){return false;}" href="<{link app=b2c ctl=mobile_member act=sel_maddr args0=delete args1=$maddr.addr_id}>">删除该收货信息</a>
        <{/if}>
    </form>
    <{case}> <!-- default -->
    <ul class="table-view">
        <{foreach from=$list item=maddr}>
        <li class="table-view-cell maddr-item">
            <a <{if $action=='list_admin'}>class="navigate-right" href="<{link app=b2c ctl=mobile_member act=sel_maddr args0=edit args1=$maddr.addr_id}><{else}>href="<{$callback}>?addr_id=<{$maddr.addr_id}>"<{/if}>">
                <{$maddr.name}>
                <{if $maddr.mobile}><span class="pull-right"><{$maddr.mobile}></span><{/if}>
                <p>
                    <{if $maddr.is_default=='true'}>
                    <span class="text-danger">[默认]</span>
                    <{/if}><{$maddr.area|region}>,<{$maddr.addr}>
                    <{if $maddr.zip}>,<{$maddr.zip}><{/if}><{if $maddr.tel}>,<{$maddr.tel}><{/if}><{if $maddr.email}>,<{$maddr.email}><{/if}>
                </p>
                <{if $action!='list_admin'}>
                <input type="radio" class="i-radio" id="maddr_<{$maddr.addr_id}>" name="addr_id" value="<{$maddr.addr_id}>" <{if $maddr.selected}>checked<{/if}>>
                <label for="maddr_<{$maddr.addr_id}>" class="fa"></label>
                <{/if}>
            </a>
        </li>
        <{/foreach}>
    </ul>
    <div class="content-padded">
        <a href="<{link app=b2c ctl=mobile_member act=sel_maddr args0=edit}>" class="btn btn-block btn-positive">新增地址</a>
        <{if $action!='list_admin'}>
        <a href="<{link app=b2c ctl=mobile_member act=sel_maddr args0=list_admin }>" class="btn btn-outlined btn-block"><span></span> 管理收货地址</a>
        <{/if}>
    </div>
    <{/switch}>
</div>
