<div class="page-header">
	<h1>店员设置</h1>
</div>
<div class="clerk_setting_page">
	<table class="table table-hover">
		<tr>
			<th class='col-xs-1'>序号</th>
			<th class='col-xs-2'>角色名称</th>
			<th class='col-xs-2'>头像</th>
			<th class='col-xs-1'>超级管理员</th>
			<th class='col-xs-2'>最后登录时间</th>
			<th class='col-xs-1'>启用</th>
			<th class='col-xs-1'>操作</th>
		</tr>
		<tr>
			<td>01</td>
			<td>admin</td>
			<td><img src="<{$base_url}>/themes/pc/default/statics/images/clerk_photo.jpg" class="img-thumbnail"></td>
			<td>是</td>
			<td>2015-10-12 12:20:22</td>
			<td>是</td>
			<td>
				<button class="btn btn-block btn-link">编辑</button>
				<button class="btn btn-block btn-link">删除</button>
			</td>
		</tr>
		<tr>
			<td>01</td>
			<td>admin</td>
			<td><img src="<{$base_url}>/themes/pc/default/statics/images/clerk_photo.jpg" class="img-thumbnail"></td>
			<td>是</td>
			<td>2015-10-12 12:20:22</td>
			<td>是</td>
			<td>
				<button class="btn btn-block btn-link">编辑</button>
				<button class="btn btn-block btn-link">删除</button>
			</td>
		</tr>
	</table>
</div>
