<div class="page-header">
	<h1>店铺设置</h1>
</div>

<div class="store_setting_page">
	<p class="tishi text-warning">您填写的信息将在店铺前台展示给买家，请认真填写！</p>
	<form action="" method="" class="setting_form form-horizontal" >
		<div class="form-group">
			<label class="col-xs-2 control-label">店铺名称:</label>
			<div class="col-xs-5">
				<input type="text" class="form-control" value="美侍客官方旗舰店" readonly="readonly" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">店铺logo:</label>
			<div class="col-xs-5">
				<input type="file" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">店铺简介:</label>
			<div class="col-xs-5">
				<textarea class="form-control" placeholder="请填写店铺简介"  rows="4"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">店铺地址:</label>
			<div class="col-xs-5">
				<input type="text" class="form-control" placeholder="请填写店铺详细地址" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">店铺介绍:</label>
			<div class="col-xs-5">
				<textarea class="form-control" placeholder="请填写店铺介绍" rows="10"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label"></label>
			<div class="col-xs-5">
				<button class="btn btn-danger">保存</button>
			</div>
		</div>
	</form>
</div>
