<div class="page-header">
	<h1>店铺设置</h1>
</div>

<div class="store_setting_page">
	<p class="tishi text-warning">您填写的信息将在店铺前台展示给买家，请认真填写！</p>
	<form action="<{link app=seller ctl=site_store act=setting}>" method="post" class="setting_form form-horizontal" data-module="validator" >
		<input type="hidden" name="store[store_setting][type]" value="<{$store_info.store_setting.type}>" />
		<input type="hidden" name="store[store_setting][good_type]" value="<{$store_info.store_setting.good_type}>" />
		<input type="hidden" name="store[store_setting][store_brand]" value="<{$store_info.store_setting.store_brand}>" />
		<input type="hidden" name="store[store_setting][operate_good]" value="<{$store_info.store_setting.operate_good}>" />
		<input type="hidden" name="store[store_setting][legal_idcard_image]" value="<{$store_info.store_setting.legal_idcard_image}>" />

		<h4>店铺信息</h4>
		<div class="form-group">
			<label class="col-xs-2 control-label"><span class="text-danger">*</span>店铺类型:</label>
			<div class="col-xs-5">
                
                <input type="text" class="form-control" disabled="disabled" value="<{$store_type[$store_info.store_type].label}>">
			
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label"><span class="text-danger">*</span>店铺名称:</label>
			<div class="col-xs-5">
				<input type="text" class="form-control" name="store[store_name]" value="<{$store_info.store_name}>" required="true" />
				<span class="msgTip" data-message="error"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label"><span class="text-danger">*</span>店铺logo:</label>
			<div class="col-xs-5">
				<{input type="imageupload" tag="图片上传" name="store[logo]" value=$store_info.logo required='true' accept="jpg|png|gif"}>   
			<span class="msgTip" data-message="error">不能为空</span>
			</div>
		</div>
        <{include file="site/passport/companyInfo/store_principal.html" extra=$store_principal}>

		<div class="form-group">
			<label class="col-xs-2 control-label"></label>
			<div class="col-xs-5">
				<button type="submit" class="btn btn-danger">保存设置</button>
			</div>
		</div>
	</form>
</div>
