\#*
.*
!.gitignore
*.swp
*~
*.swo
$.swn
config/certi.php
config/config.php
config/install.lock.php
config/dev.zl
config/example.config.php
tmp/
data/
logs/
demodata/image.rar
mobile_test_case
nbproject/