/*Rounded Corners*/
/*Box Shadow*/
/*Transition*/
/*reset*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.msgbox {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: auto;
  font-size: 14px;
  white-space: nowrap;
}
header.bar.bar-nav {
  -webkit-transform: translateZ(0);
}
.bar.bar-header-secondary {
  -webkit-transform: translateZ(0);
}
.bar.bar-footer {
  -webkit-transform: translateZ(0);
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.warning {
  color: #f90;
}
.table-view-divider {
  font-size: 14px;
}
.hidden,
.hide {
  display: none;
}
.bar-standard.bar-footer {
  border-top: 1px #ddd solid;
}
.tvc-reset-padding {
  padding: 6px 15px;
}
.tvc-reset-padding h4 {
  font-size: 14px;
}
.label {
  display: inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 4px;
  line-height: normal;
  border: 1px #efefef solid;
}
.label.label-danger {
  border-color: #d9534f;
  color: #d9534f;
}
.input-group.region {
  background: none;
}
.input-group.region select {
  float: left;
  width: 33.333333333333336%;
}
/*model*/
nav.main-nav {
  position: absolute;
  height: 44px;
  z-index: 99;
}
nav.main-nav .tab-item {
  height: 44px;
  padding: 0;
  margin: 0;
}
nav.main-nav .tab-label {
  line-height: 16px;
}
.promotion-list {
  list-style: none;
  padding: 0;
}
.promotion-list li {
  font-size: 12px;
  line-height: 25px;
  padding: 0;
  margin: 0;
}
.goods-item .gi-image-wrapper {
  text-align: center;
}
.goods-item .gi-image-wrapper a {
  display: block;
}
.goods-item .gi-image-wrapper img {
  max-width: 100%;
}
.goods-item .caption {
  padding: 15px;
}
.goods-item .caption h5 {
  margin-top: 0;
}
.goods-item .caption a {
  color: #333;
  font-size: 12px;
  line-height: 14px;
}
.fa-shopping-cart .cart-count {
  font-size: 12px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 3px 2px 5px #757171;
  -moz-box-shadow: 3px 2px 5px #757171;
  box-shadow: 3px 2px 5px #757171;
  background: #d9534f;
  color: #fff;
  padding: 2px 5px;
  position: relative;
  top: -18px;
  left: -15px;
}
.msgbox {
  position: fixed;
  z-index: 999;
  background: #333;
  opacity: 0.8;
  color: #fff;
  left: 50%;
  top: 50%;
  padding: 10px;
  -webkit-box-shadow: 3px 2px 5px #757171;
  -moz-box-shadow: 3px 2px 5px #757171;
  box-shadow: 3px 2px 5px #757171;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.msgbox.msgbox-error {
  background-color: #d9534f;
}
.content-splash {
  text-align: center;
}
.content-splash .fa {
  color: #999;
}
.content-splash .fa-shopping-cart {
  color: #ccc;
}
.content-form h5 {
  margin-top: 0;
}
.content-form label.control-label {
  margin-bottom: 15px;
  display: inline-block;
}
.product-quantity {
  max-width: 180px;
}
.product-quantity button,
.product-quantity input {
  height: 27px;
  background-color: #fff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.product-quantity button {
  width: 30%;
  text-align: center;
  padding: 7px 8px;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.product-quantity button.pull-left {
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.product-quantity input {
  width: 40%;
  border-color: #929292;
  text-align: center;
  border-left: none;
  border-right: none;
  font-size: 12px;
  margin: 0;
}
.table-view-cell-right {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 14px;
  text-align: right;
}
.table-view-cell .right-center {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.i-check {
  display: none;
}
.i-check + label {
  font-size: 25px;
  color: #666;
  vertical-align: middle;
}
.i-check + label:active {
  color: #333;
}
.i-check + label:before {
  content: "\f096";
}
.i-check + label span {
  font-size: 14px;
  line-height: 25px;
  display: inline-block;
  vertical-align: middle;
  height: 25px;
}
.i-check:checked + label {
  color: #007aff;
}
.i-check:checked + label:before {
  content: "\f046";
}
.i-radio {
  display: none;
}
.i-radio + label {
  font-size: 25px;
  color: #666;
  vertical-align: middle;
}
.i-radio + label:active {
  color: #333;
}
.i-radio + label:before {
  content: "\f10c";
}
.i-radio:checked + label {
  color: #007aff;
}
.i-radio:checked + label:before {
  content: "\f192";
}
.text-success {
  color: #5cb85c;
}
.text-danger {
  color: #d9534f;
}
.text-warning {
  color: #ec971f;
}
.img-thumbnail {
  padding: 1px;
  background: #fff;
  border: 1px #e9e9e9 solid;
}
.img-circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.mobile-img-upload .img-preview {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 3px 2px 1px #cccccc;
  -moz-box-shadow: 3px 2px 1px #cccccc;
  box-shadow: 3px 2px 1px #cccccc;
  text-align: center;
}
.mobile-img-upload .img-preview img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.mobile-img-upload .btn-fileupload {
  width: 200px;
  margin: 10px auto 0;
  position: relative;
}
.mobile-img-upload .btn-fileupload input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border: 0;
  opacity: 0;
}
.mobile-img-upload p {
  text-align: center;
  padding: 10px;
}
.hot-keywords .btn {
  margin-bottom: 5px;
}
/*table*/
table {
  background-color: #ffffff;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #ccc;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 25px;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
/*列表页*/
.glist-container .table-view .table-view-cell {
  background-position: left bottom;
}
.glist-container .table-view .table-view-cell .g-link {
  padding: 0;
}
.glist-container .table-view .table-view-cell .g-link:active {
  background-color: #fff;
}
.glist-container .table-view .table-view-cell .g-image {
  margin: 0;
  text-align: center;
  margin-bottom: 5px;
  background-color: #fff;
  min-height: 200px;
}
.glist-container .table-view .table-view-cell .g-info {
  padding: 12px;
}
.screen-body .btn {
  margin-bottom: 5px;
}
/*商品详情*/
.product-container {
  padding-bottom: 100px;
}
.product-container .table-view-cell.product-images {
  padding: 0;
}
.product-container .table-view-cell.product-images .slider {
  background: #fff;
}
.product-container .table-view-cell.product-images .slider .history-go-1 {
  background: #fff;
  color: #666;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px #ddd solid;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  position: absolute;
  left: 10px;
  top: 10px;
  opacity: 0.8;
}
.product-container .table-view-cell.product-images .slide {
  text-align: center;
}
.product-container .table-view-cell.product-images img {
  max-width: 100%;
}
.product-container .table-view-cell.product-info {
  padding-right: 100px;
}
.product-container .table-view-cell.product-info p {
  margin-bottom: 5px;
}
.product-container .table-view-cell .g-price {
  position: static;
  left: auto;
  top: auto;
}
.product-container .product-spec-options h5 {
  margin-top: 10px;
}
.product-container .product-spec-options .btn {
  margin-bottom: 5px;
}
.product-container .product-spec-options .has-pimg {
  padding: 0 8px 0 0;
  vertical-align: center;
  text-align: right;
  height: 40px;
  line-height: 38px;
}
.product-container .product-spec-options .has-pimg img {
  max-height: 100%;
  margin-right: 5px;
  border: 1px #fff solid;
  border-right-color: #ececec;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.product-container .product-spec-options .has-pimg.active img {
  border-color: #efefef;
  border-right-color: #e9e9e9;
}
.goods-rel-items .column {
  float: left;
  width: 50%;
  overflow: hidden;
}
.product-bar-footer .btn-buy {
  padding: 10px 15px;
  top: 5px;
}
.product-bar-footer .fa-shopping-cart {
  top: 3px;
  position: relative;
}
.goods-desc {
  font-size: 14px;
}
.goods-desc a {
  color: #666;
}
.goods-desc .content-desc {
  background-color: #fff;
  padding: 15px;
  overflow: hidden;
}
.goods-desc .content-desc img {
  max-width: 100%;
}
/*购物车页*/
.cart-container {
  margin-bottom: 85px;
}
.cart-container .btn-remove {
  color: #d9534f;
}
.cart-container .product-quantity {
  width: 60%;
  margin-top: 10px;
}
.cart-container .cart-item {
  padding-right: 15px;
}
.cart-container .cart-item .media-body p {
  font-size: 12px;
}
.cart-container .cart-item .ci-price {
  font-size: 14px;
}
.cart-container .cart-item .ci-img {
  width: 25%;
  position: relative;
  margin-right: 10px;
}
.cart-container .cart-item .ci-img .img-cover {
  width: 50%;
  height: 100%;
  position: absolute;
  left: -15px;
  top: 0;
  display: block;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#ffffff), to(rgba(255, 255, 255, 0)));
  background: -moz-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
}
.cart-container .cart-item .ci-img img {
  max-width: 100%;
  position: relative;
  margin-left: -15px;
}
.cart-container .cart-item .ci-img input[type=checkbox] {
  display: none;
}
.cart-container .cart-item .ci-img input[type=checkbox] + label {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  font-size: 20px;
  left: 0;
  top: 45%;
  color: #666;
}
.cart-container .cart-item .ci-img input[type=checkbox] + label:active {
  color: #333;
}
.cart-container .cart-item .ci-img input[type=checkbox] + label:before {
  content: "\f096";
}
.cart-container .cart-item .ci-img input[type=checkbox]:checked + label {
  color: #007aff;
}
.cart-container .cart-item .ci-img input[type=checkbox]:checked + label:before {
  content: "\f14a";
}
.cart-container .cart-item .promotion-list {
  clear: both;
  margin-top: 5px;
}
.cart-container .cart-item .promotion-list li {
  text-align: left;
  width: auto;
}
#ck_ident_all {
  display: none;
}
#ck_ident_all + label {
  font-size: 20px;
  color: #666;
  vertical-align: middle;
}
#ck_ident_all + label:active {
  color: #333;
}
#ck_ident_all + label:before {
  content: "\f096";
}
#ck_ident_all + label span {
  display: none;
}
#ck_ident_all:checked + label {
  color: #007aff;
}
#ck_ident_all:checked + label:before {
  content: "\f14a";
}
.cart-bar-footer .cfb-amount {
  font-size: 12px;
  text-align: right;
  padding-right: 15px;
  color: #333;
}
.cart-bar-footer .cfb-amount strong {
  font-size: 18px;
}
.cart-bar-footer .cfb-checkout {
  background-color: #d9534f;
  padding: 0;
}
.cart-bar-footer .cfb-checkout a {
  color: #fff;
}
.cart-bar-footer .checkout-btn {
  display: block;
  line-height: 50px;
}
.bar.cart-bar-secondary {
  font-size: 14px;
  bottom: 50px;
  border-bottom: 1px #ccc solid;
  height: 35px;
  line-height: 35px;
  padding-left: 15px;
}
.bar.cart-bar-secondary a {
  display: inline-block;
  margin-left: 15px;
  color: #333;
}
/*checkout*/
.table-view-cell.checkout-item {
  padding-right: 100px;
}
.table-view-cell.checkout-item img {
  border: 1px #efefef solid;
  padding: 2px;
}
.checkout-container {
  margin-bottom: 50px;
}
.checkout-container .i-radio + label {
  position: absolute;
  right: 15px;
  top: 30%;
}
.checkout-container textarea {
  font-size: 12px;
}
.checkout-bar-footer .tab-total {
  color: #333;
}
.checkout-bar-footer .tab-submit {
  background-color: #d9534f;
  padding: 0;
}
.checkout-bar-footer .tab-submit button {
  line-height: 50px;
  margin: 0;
  padding: 0;
  top: 0;
  color: #fff;
}
.checkout-bar-footer .tab-submit a {
  line-height: 50px;
  display: block;
  color: #fff;
}
.invoice-cell select,
.invoice-cell input {
  margin-bottom: 0;
  padding: 5px 10px;
}
/*my*/
/*会员中心*/
.my-main .my-baseinfo {
  height: 100px;
  margin: 0!important;
}
.my-main .my-baseinfo p {
  font-size: 12px;
  padding-right: 15px;
}
.my-main .my-baseinfo .go-avatar {
  width: 50px;
}
.my-main .my-baseinfo .go-avatar img {
  border: 1px #ddd solid;
  background-color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 1px;
  width: 50px;
  height: 50px;
}
.my-main .my-baseinfo .btn-logout {
  font-size: 12px;
}
.my-main .tv-allorder {
  margin-bottom: 0;
}
.my-main .my-total {
  background-color: #fff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  border-bottom: 1px #ccc solid;
}
.my-main .my-total .control-item {
  line-height: 30px;
  border-right: 1px #e9e9e9 solid;
  border-left: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.my-main .my-total .control-item:last-child {
  border-right: none;
}
.my-main .my-order-status-menu .control-item {
  position: relative;
}
.my-main .my-order-status-menu .fa {
  display: block;
}
.my-main .my-order-status-menu .badge {
  position: absolute;
  right: 10px;
  top: 5px;
}
.my-main .tv-mmenu .mm-mobile_member-orders {
  display: none;
}
.maddr-item label {
  position: absolute;
  top: 50%;
  right: 15px;
  vertical-align: middle;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.tv-orderitem .table-view-cell {
  padding-right: 15px;
}
/*评价*/
.tv-comment .table-view-cell {
  padding-right: 15px;
}
.tv-comment .comment-images {
  display: table;
  margin: 5px 0;
}
.tv-comment .comment-images a {
  display: table-cell;
  width: 60px;
  height: 60px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}
.tv-comment .comment-images a img {
  border: 1px #e9e9e9 solid;
  padding: 1px;
  background: #fff;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
/*图片上传*/
.five-images-upload:before,
.five-images-upload:after {
  content: " ";
  display: table;
}
.five-images-upload:after {
  clear: both;
}
.five-images-upload:before,
.five-images-upload:after {
  content: " ";
  display: table;
}
.five-images-upload:after {
  clear: both;
}
.five-images-upload .upload-item {
  float: left;
  overflow: hidden;
  position: relative;
  width: 20%;
  height: 60px;
}
.five-images-upload .upload-item .img-preview {
  width: 98%;
  margin: 0 auto;
  border: 1px #ccc solid;
  height: 100%;
  text-align: center;
}
.five-images-upload .upload-item .img-preview img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.five-images-upload .upload-item .fa {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.five-images-upload .upload-item input[type=file] {
  width: 100%;
  height: 100%;
  opacity: 0;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  z-index: 8;
  top: 0;
  left: 0;
}
