<{script src="jquery.lazyload.min.js"}>
<script charset="utf-8">
/*购物数量 事件拦截开始*/
$(function(){
    var change_event_timer = 0;
    var _change_quantity = function(ipt,num){
        ipt = $(ipt),last_val = parseInt(ipt.val());
        var set_v = last_val+num;
        ipt.val(set_v);
        if(isNaN(ipt.val()) || ipt.val()<1){
            ipt.val('1');
        }
        if(ipt.attr('data-max') && set_v>parseInt(ipt.attr('data-max'))){
            ipt.val(ipt.attr('data-max'));
        }
        if(ipt.attr('data-min') && set_v<parseInt(ipt.attr('data-min'))){
            ipt.val(ipt.attr('data-min'));
        }
        if(set_v === parseInt($(ipt).attr('data-now')))return;
        $(ipt).attr('data-now',set_v);
        ipt.trigger('_change',[ipt.val(),num]);
    }

    $('.product-quantity button').on('click',function(e){
        var btn = $(this);
        btn.eq(0).blur();
        if(btn.next('input').length){
            _change_quantity(btn.next('input'),-1);
        }
        if(btn.prev('input').length){
            _change_quantity(btn.prev('input'),+1);
        }
    });
    $('.product-quantity input').on('keyup',function(e){
        switch (e.keyCode) {
            case 13:
                _change_quantity(this,0);
                break;
        }
    });
    $('.product-quantity input').on('blur',function(e){
        _change_quantity(this,0);
    });
});
/**
 * img lazy & auto height
 */
var img_lazyload = function(scope,options){
    if(!options)options = {};

    var ready_lazy_imgs = $(scope).find('img[data-original]');
    $.each(ready_lazy_imgs,function(i,img){
        try{
            var original_size_match = $(img).attr('data-original').match(/\?[\d]+_H([\d]+)_W([\d]+)/),
            original_size = {height:original_size_match[1],width:original_size_match[2]};
            img.height = original_size.height*($(img).parent().width()/original_size.width);
        }catch(e){}
    });
    if(!options['placeholder']){
        options['placeholder']="data:image/gif;base64,R0lGODlhAQABAIAAAO/v7////yH5BAAHAP8ALAAAAAABAAEAAAICRAEAOw==";
    }
    ready_lazy_imgs.lazyload(options);
}

/*购物数量 事件拦截结束*/
</script>
