<form action="" method="post">
    <input type="hidden" name="addType" value="<{$type}>">
    <input type="hidden" name="parentLabel" value="<{$parentLabel}>">
    <input type="hidden" name="catPath" value="<{$catPath}>">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" required="true"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">产品包装信息</h4>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>包装名称
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="packName">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>净重名称
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="suttleName">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>净重数值
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="suttleNum">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>单个产品净重
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="normsSuttle">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>单个产品规格净重误差范围
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="normsError">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>内包装净重
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="normsSuttle">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>内包装个数
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="normsNumber">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>内包装尺寸
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="normsSize">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>内包装材质及技术标准
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="normsTexture">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>内包装净重数值
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="netweightInner">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>外包装规格
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="normsOut">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>外包装净重
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="normsSuttleKg">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>外包装毛重
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="normsRoughKg">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>外包装尺寸
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="normsOutSize">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>外包装材质及技术标准
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="normsOutTexture">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>其他包装信息
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="otherPackInfo">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>外包装净重数值
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="netweightOut">
            </div>
        </div>
        <!-- <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>外包装毛重数值
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="grossweightOut">
            </div>
        </div> -->
        <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>外包装长度
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="normsLength">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>外包装宽度
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="normsWidth">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>外包装高度
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="normsHeight">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">
                <span class="text-danger"></span>外包装体积:
            </label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="normsVolume">
            </div>
        </div>
        <div class="agree">
            <input type="checkbox" checked="checked" disabled="disabled"> 我同意该产品包装标准</div>
    </div>
    <div class="modal-footer apt_pack">
        <button type="button" class="btn btn-default confirm-<{$cat_id}>" data-dismiss="modal">确定</button>
    </div>
</form>
