<div class="directory_page">
    <div class="page-header">
        <h1>商品目录</h1>
    </div>
    <div class="store_panel clearfix">
        <a href="#" class="thumbnail pull-left">
			<img class="" src="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
		</a>
        <div class="pull-left storeInfo">
            <h4><a href="#">店铺名称</a></h4>
            <ul class="inline_ul">
                <li>店铺类型：厂家店铺</li>
                <li>经营品牌：<span>双汇</span><span>金锣</span></li>
                <li>所属地区：上海</li>
            </ul>
        </div>
    </div>
    <div class="directory_box">
    	<form class="directory_form">
	        <h3><span>全部商品目录</span></h3>
	        <div class="panel panel-default dir_list">
	            <div class="panel-heading">
	            	<span class="dir_title"><i class="icon-th"></i>鸡肉类</span>
	                <div class="btn-group btn-group-xs pull-right" role="group">
	                    <button type="button" class="btn btn-default btn_qx">全选</button>
	                    <button type="button" class="btn btn-default btn_fx">反选</button>
	                </div>
	            </div>
	            <div class="panel-body">
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            </div>
	        </div>
	        <div class="panel panel-default dir_list">
	            <div class="panel-heading">
	            	<span class="dir_title"><i class="icon-th"></i>鸡肉类</span>
	                <div class="btn-group btn-group-xs pull-right" role="group">
	                    <button type="button" class="btn btn-default btn_qx">全选</button>
	                    <button type="button" class="btn btn-default btn_fx">反选</button>
	                </div>
	            </div>
	            <div class="panel-body">
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            </div>
	        </div>
	        <div class="panel panel-default dir_list">
	            <div class="panel-heading">
	            	<span class="dir_title"><i class="icon-th"></i>鸡肉类</span>
	                <div class="btn-group btn-group-xs pull-right" role="group">
	                    <button type="button" class="btn btn-default btn_qx">全选</button>
	                    <button type="button" class="btn btn-default btn_fx">反选</button>
	                </div>
	            </div>
	            <div class="panel-body">
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            	<label class="dir_item"><input type="checkbox"><span>三黄土鸡</span></label>
	            </div>
	        </div>
	        <div class="clearfix"><button class="btn btn-danger pull-right">保存修改</button></div>
        </form>
    </div>

    <div class="panel panel-default tip_panel">
	  	<div class="panel-body">
	  		<span>说明：</span>
	  		<p>1.当某一类别下存在已发布的商品时，不能进行删除操作</p>
		</div>
	</div>
</div>


<script type="text/javascript">
	/*
	 *全选/反选
	 */
	$(function(){
		$('.btn_qx').bind('click',function(){
			var cks = $(this).parents('.dir_list').children('.panel-body').find(':checkbox');
			cks.prop('checked',true).addClass('ck');
		})
		$('.btn_fx').bind('click',function(){
			var cks = $(this).parents('.dir_list').children('.panel-body').find(':checkbox');
			for(var i = 0; i<cks.size(); i++){
				if(cks.eq(i).hasClass('ck')){
					cks.eq(i).prop('checked',false).removeClass('ck');
				}else{
					cks.eq(i).prop('checked',true).addClass('ck');
				}
			}
		})
		$('.dir_list .panel-body label :checkbox').bind('click',function(){
			if($(this).hasClass('ck')){
				$(this).prop('checked',false).removeClass('ck');
			}else{
				$(this).prop('checked',true).addClass('ck');
			}
		})
	})
</script>