<div class="directory_page">
    <div class="page-header">
        <h1>商品目录</h1>
    </div>
    <div class="store_panel clearfix">
        <a href="<{link app=store ctl=site_store act=index args0=$info.store.store_id}>" class="thumbnail pull-left">
            <img class="" src="<{if $info.store.logo}><{$info.store.logo|storager:'xs'}><{else}><{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg<{/if}>">
		</a>
        <div class="pull-left storeInfo">
            <h4><a href="#"><{$info.store.store_name}></a></h4>
            <ul class="inline_ul">
                <li>店铺类型：<{$info.store.store_type}></li>
                <li>经营品牌：
                    <{foreach from=$info.brand item=item}>
                    <span><{$item.brand_name}></span>
                    <{/foreach}>
                </li>
                <li>所属地区：上海</li>
            </ul>
        </div>
    </div>
    <div class="directory_box">
        <form class="directory_form" method="post" action="<{link app=seller ctl=site_goods act=directory}>" data-module="validator">
	        <h3><span>全部商品目录</span></h3>
                <{foreach from=$info.cat key=key item=items}>
                <div class="panel panel-default dir_list">
	            <div class="panel-heading">
                        <input type="hidden" value="<{$items.cat_id}>" name="cat[<{$key}>][cat_id]"/>
                        <input type="hidden" value="<{$items.cat_name}>" name="cat[<{$key}>][cat_name]"/>
                        <input type="hidden" value="<{$this_cat[$key].id}>" name="cat[<{$key}>][id]"/>
	            	<span class="dir_title"><i class="icon-th"></i><{$items.cat_name}></span>
	                <!-- <div class="btn-group btn-group-xs pull-right" role="group">
	                    <button type="button" class="btn btn-default btn_qx">全选</button>
	                    <button type="button" class="btn btn-default btn_fx">反选</button>
	                </div> -->
	            </div>
	            <div class="panel-body">
                        <{foreach from=$items.children key=k item=item}>
                        <input type="hidden" value="<{$item.cat_name}>" name="cat[<{$key}>][parent][<{$k}>][cat_name]"/>
                        <input type="hidden" value="<{$this_cat[$key].children[$k].id}>" name="cat[<{$key}>][parent][<{$k}>][id]"/>
                        <input type="hidden" value="<{$item.cat_id}>" name="cat[<{$key}>][parent][<{$k}>][cat_id]"/>
                         <label class="dir_item">
                            <input type="checkbox"
                                   <{if $this_cat[$key].children[$k].cat_id eq $item.cat_id}> checked <{/if}>
                                   name="cat[<{$key}>][parent][<{$k}>][check]" >
                            <span><{$item.cat_name}></span>
                             <{if !$this_cat[$key].children[$k].extra}>
                             <a href="<{link app=seller ctl=site_cat act=write_aptitude args0=$item.cat_id}>" data-toggle="modal" data-target="#write_apt_modal" class="warning"><i class="text-danger icon-exclamation-sign"> </i><small>缺少资质</small></a>
                             <{/if}>
                        </label>
                        <{/foreach}>
	            </div>
	        </div>                
                <{/foreach}>
	        <div class="clearfix"><button class="btn btn-danger pull-right directory_submit">保存修改</button></div>
        </form>
    </div>

    <div class="panel panel-default tip_panel">
	  	<div class="panel-body">
	  		<span>说明：</span>
	  		<p>1.当某一类别下存在已发布的商品时，不能进行删除操作</p>
		</div>
	</div>
</div>

<!-- 填写资质modal 开始-->
<div class="modal fade" id="write_apt_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
            
    </div>
  </div>
</div>
<!-- 填写资质modal 结束-->
<script type="text/javascript">
    $('.directory_form').submit(function(){
        var confirm = true;
        $('.dir_item').each(function(index,element){
            var status_ck = $(this).find('input[type=checkbox]').is(':checked');
            var has_warning = $(this).find('a').hasClass('warning');
            console.log(status_ck,has_warning);
            if(status_ck == true && has_warning == true){
                alert('您勾选的分类，资质未完善');
                $(this).find('input[type=checkbox]').focus();
                confirm = false;
                return false; 
            } 
            
        });
        if(!confirm)  return false;

        return false;

    })
    var $cat_item = $('.directory_form .dir_item');
    


	$('#write_apt_modal').on('shown.bs.modal', function () {
        $.VMC.init();  //重新绑定图片上传事件
        /**
         * 日期选择
         */
         $('.form_datetime').datetimepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: true,
            weekStart: 1,
            todayHighlight: 1,
            minView:2,
            language:"zh-CN",
            pickerPosition: "bottom-left"
        }).on("hide",function(ev){
            $(".form_datetime").trigger('blur');
        });


        /*区间日期选择*/
        $(".timeStart").datetimepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: true,
            weekStart: 1,
            todayHighlight: 1,
            minView:2,
            language:"zh-CN",
            pickerPosition: "bottom-left"
        }).on("click",function(ev){
            $(".timeStart").datetimepicker("setEndDate", $(".timeEnd").val());
        }).on("hide",function(ev){
            $(".timeStart").trigger('blur');
        });
        $(".timeEnd").datetimepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: true,
            weekStart: 1,
            todayHighlight: 1,
            minView:2,
            language:"zh-CN",
            pickerPosition: "bottom-left"
        }).on("click", function (ev) {
            $(".timeEnd").datetimepicker("setStartDate", $(".timeStart").val());
        }).on("hide",function(ev){
            $(".timeEnd").trigger('blur');
        });
    });
	$("#write_apt_modal").on("hidden.bs.modal", function () {
        $(this).removeData("bs.modal");  //关闭时清空数据
    });

	/*
	 *全选/反选
	 */
	/*$(function(){
		$('.btn_qx').bind('click',function(){
			var cks = $(this).parents('.dir_list').children('.panel-body').find(':checkbox');
			cks.prop('checked',true).addClass('ck');
		})
		$('.btn_fx').bind('click',function(){
			var cks = $(this).parents('.dir_list').children('.panel-body').find(':checkbox');
			for(var i = 0; i<cks.size(); i++){
				if(cks.eq(i).hasClass('ck')){
					cks.eq(i).prop('checked',false).removeClass('ck');
				}else{
					cks.eq(i).prop('checked',true).addClass('ck');
				}
			}
		})
		$('.dir_list .panel-body label :checkbox').bind('click',function(){
			if($(this).hasClass('ck')){
				$(this).prop('checked',false).removeClass('ck');
			}else{
				$(this).prop('checked',true).addClass('ck');
			}
		})
	})*/
</script>