<div class="price_page">
    <div class="page-header">
        <h1>价格管理</h1>
    </div>
    <{foreach from=$goods_list item=item}>
    <div class="goods_info">
        <div class="col-xs-10">
            <a href="<{link app=b2c ctl=site_product act=index args0=$item.product_id args1=$item.store_id}>" class="thumbnail">
                <img src="<{$item.image_default_id|storager:'xs'}>"/>
            </a>
            <div>
                <p><a href="<{link app=b2c ctl=site_product act=index args0=$item.product_id args1=$item.store_id}>"
                      class="goods_name"><{$item.name}></a></p>
                <p>商品编号：<{$item.gid}></p>
                <p>所属分类：<{$item.cat_id}></p>
            </div>
        </div>
        <div class="col-xs-2">
            <a href="<{link app=seller ctl=site_goods act=price args0=$item.goods_id}>" class="btn btn-danger edit_record">修改商品价格</a>
        </div>
    </div>
    <{/foreach}>
</div>
<div style="width:100%"><{pagers data=$pager}></div>
