
<div class="goods_sell">
    <h3 class="page-title"><{if $type eq 'storage'}>仓库<{else}>在售<{/if}>商品</h3>
    <form class="form-inline goods_filter" action="<{link app=seller ctl=site_goods act=index}>" method="post">
        <div class="form-group">
            <label for="" class="control-label"><span>商品名称</span></label>
            <input type="text" class="form-control" name="goods[name]" value="<{$serach.name}>" placeholder="请输入商品名称">
        </div>
        <div class="form-group">
            <label for="" class="control-label"><span>商品编码</span></label>
            <input type="text" class="form-control" name="goods[gid]" value="<{$serach.gid}>" placeholder="请输入商品编码">
        </div>
        <div class="form-group">
            <label for="" class="control-label"><span>所属类目</span></label>
            <select class="form-control" style="width:180px" name="">
                <option>鸡肉类</option>
                <option>鸭肉类</option>
                <option>猪肉类</option>
                <option>鱼肉类</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label"><span>价格区间</span></label>
            <input type="text" class="form-control" style="width:78px;" value="<{$serach.price[0]}>" name="goods[price][]"/>&nbsp;到&nbsp;
            <input type="text" class="form-control" style="width:78px;" value="<{$serach.price[1]}>" name="goods[price][]"/>
        </div>
        <div class="form-group">
            <label class="control-label"><span>总销量&nbsp;&nbsp;&nbsp;</span></label>
            <input type="text" class="form-control" style="width:78px;" value="<{$serach.buy_count[0]}>" name="goods[buy_count][]"/>&nbsp;到&nbsp;
            <input type="text" class="form-control" style="width:78px;" value="<{$serach.buy_count[1]}>" name="goods[buy_count][]"/>
        </div>
        <div class="form-group">
            <button type="reset" class="btn btn-default">清空条件</button>
            <button type="submit" class="btn btn-default">搜索</button>
        </div>

    </form>

    <form  action="<{link app=seller ctl=site_classify act=update}>" method="post">
    <div class="table-scrollable">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th width="15%">上架时间</th>
                    <th width="10%">商品编号</th>
                    <th width="25%">商品名称</th>
                    <!-- <th width="10%">规格</th> -->
                    <th width="15%">所属分类</th>
                    <th width="10%">库存数量</th>
                    <th width="10%">销量</th>
                    <th width="15%">操作</th>

                </tr>
            </thead>
        <tbody id="cat_list">
            <{if $goodList}>
            <{foreach from=$goodList item=item name="item"}>
                <tr>
                    <td><{$item.uptime|cdate}></td>
                    <td><{$item.gid}></td>
                    <td><{$item.name|cut:50:'...'}></td>
                    <!-- <td>5*2kg</td> -->
                    <td><{$item.cat_id}></td>
                    <td><{$item.stock}></td>
                    <td><{$item.buy_count}></td>
                        <td>
                             <{if $type eq 'storage'}>
                                <a href="<{link app=seller ctl=site_goods act=marketable args0=$item.goods_id args1=up}>" class="btn btn-default">上架</a>
                            <{else}>
                                <a href="<{link app=seller ctl=site_goods act=marketable args0=$item.goods_id args1=dn}>" class="btn btn-default">下架</a>
                            <{/if}>

                        <a href="<{link app=seller ctl=site_goods act=add args0=$item.goods_id}>" class="btn btn-default"><i class="fa fa-edit"></i>编辑</a>
                    </td>
                </tr>
            <{/foreach}>
            <{/if}>
        </tbody>
        </table>
    </div>
    </form>
</div>
<script type="text/javascript">
$(function(){
    var type = '<{$type}>';
    if(type != ''){
        $('.form-inline').attr('action', '<{link app=seller ctl=site_goods act=storage}>');
    }
    $('#cat_list').on('focus', 'input.edit-col', function(){
        $(this).data('v', $(this).val());
    });
    $('#cat_list').on('blur', 'input.edit-col', function(){
        var edit_input = $(this);
        if(edit_input.val() == edit_input.data('v')) return;
        var updateValue = {
            'goods_id' : edit_input.attr('data-pkey'),
        };
        updateValue['name'] = edit_input.val();
        $.post('<{link app=seller ctl=site_goods act=edit}>', updateValue, function(re){
            if(re && ('success' in re)) {
                edit_input.data('v', edit_input.val());
                edit_input.val('已修改').fadeOut(function(){
                    edit_input.val(edit_input.data('v'));
                }).fadeIn();
            }
        },'json');
    });
    $("[type=select]").change(function(){
        var edit_input = $(this);
        var updateValue = {
            'goods_id' : edit_input.attr('data-pkey'),
            'choose' : edit_input.val(),
        }
        $.post('<{link app=seller ctl=site_goods act=edit}>', updateValue, function(re){
            if(re && ('success' in re)){
                //修改成功
            }
        }, 'json');
    });
});
</script>

<div class="modal fade" id="cat_edit" role="basic" aria-hidden="true">
              <div class="modal-dialog">
                      <div class="modal-content">

                      </div>
              </div>
</div>
