<div class="modify_record_page">
	<div class="page-header">
		<h1>价格修改记录</h1>
	</div>
	<div class="clearfix">
		<div class="col-xs-6 goods_num">
			<span>商品编号：</span>2352235324
		</div>
		<div class="col-xs-6" style="text-align: right;">
			<a href="<{link app=seller ctl=site_goods act=price}>" class="btn btn-danger">返回列表</a>
		</div>
	</div>
	
	<table class="table table-hover modify_list">
		<tr>
			<th class="col-xs-3">货号</th>
			<th class="col-xs-3">规格</th>
			<th class="col-xs-4">价格</th>
			<th class="col-xs-2">修改时间</th>
		</tr>
		<tr>
			<td>34592348924-1</td>
			<td>A1/箱</td>
			<td>
				<p>100.0(小于10箱)</p>
				<p>98.0(大于10箱)</p>
			</td>
			<td>
				2015-12-10 12:10:33
			</td>
		</tr>
		<tr>
			<td>34592348924-1</td>
			<td>A1/箱</td>
			<td>
				<p>100.0(小于10箱)</p>
				<p>98.0(大于10箱)</p>
			</td>
			<td>
				2015-12-10 12:10:33
			</td>
		</tr>
	</table>

</div>