<{if $type}>
<form class="write_apt_form form-horizontal" method="post" action="<{link app=seller ctl=site_passport act=saveAptitude}>"
      <{else}>
<form class="write_apt_form form-horizontal" method="post" action="<{link app=seller ctl=site_cat act=saveAptitude}>"
<{/if}>
      data-module="validator">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">资质填写</h4>
    </div>
    <div class="modal-body">
        <input type="hidden" name="id" value="<{$cat.id}>"/>
        <input type="hidden" name="cat_id" value="<{$cat.cat_id}>"/>
        <!-- 动检证 -->
        <{if $aptitude.creature eq 'true'}>
        <{include file="site/passport/companyInfo/animal_certificate.html"}>
        <{/if}>
        <!-- 食品生产许可证 -->
        <{if $aptitude.food eq 'true'}>
        <{include file="site/passport/companyInfo/f_p_lesstion.html"}>
        <{/if}>
        <!-- 定点屠宰证 -->
        <{if $aptitude.butcher eq 'true'}>
        <{include file="site/passport/companyInfo/slaughter_lesstion.html"}>
        <{/if}>

        <!-- 选填 -->

        <!-- 进沪证 -->
        <{if $aptitude.shanghai eq 'true'}>
        <{include file="site/passport/companyInfo/entry_lesstion.html"}>
        <{/if}>

        <!-- ISO证 -->
        <{if $aptitude.iso14001 eq 'true'}>
        <{include file="site/passport/companyInfo/iso14001_lesstion.html"}>
        <{/if}>
        <{if $aptitude.iso22000 eq 'true'}>
        <{include file="site/passport/companyInfo/iso22000_lesstion.html"}>
        <{/if}>
        <{if $aptitude.iso9001 eq 'true'}>
        <{include file="site/passport/companyInfo/iso9001_lesstion.html"}>
        <{/if}>
        <!-- 清真食品生产经营许可证 -->
        <{if $aptitude.muslim eq 'true'}>
        <{include file="site/passport/companyInfo/food_mosque_lesstion.html"}>
        <{/if}>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-primary" id="saveAptitude">保存</button>
    </div>
</form>
<script>
    void function (companyForm) {
        companyForm.find('#saveAptitude').click(function (e) {

            e.stopPropagation();

        });
    }($('#companyInfo_form'));
</script>