

<div class="store_probox">
	<div class="store_pro_floor">
		<h2><span>主力产品</span></h2>
		<ul class="clearfix">
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
		</ul>
	</div>
	<div class="store_pro_floor">
		<h2><span>本月新品</span></h2>
		<ul class="clearfix">
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
		</ul>
	</div>
	<div class="store_pro_floor">
		<h2><span>推荐新品</span></h2>
		<ul class="clearfix">
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
			<li>
				<a href="">
					<span>精选冰冻琵琶腿</span>
					<img src="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
				</a>
				<span><small>￥：120.00</small>已售出36箱</span>
			</li>
		</ul>
	</div>
</div>
