<div class="store_probox">
	<div class="store_pro_floor">
		<h2><span><{WIDGET_STORE_INDEX_FLOOR_TITLE app=b2c position_id=21 store_id=$store_id}></span></h2>
		<div class="floor_con clearfix">
            <{WIDGET_STORE_INDEX_LEFT_GOOD app=b2c position_id=22 store_id=$store_id}>
			<{WIDGET_STORE_GOODS_INDEX_GOOD_FLOOR app=b2c position_id=23 store_id=$store_id}>
		</div>
	</div>

	<div class="store_pro_floor">
		<h2><span><{WIDGET_STORE_INDEX_FLOOR_TITLE app=b2c position_id=24 store_id=$store_id}></span></h2>
		<div class="floor_con clearfix">
			<dl>
				<dt>
					<a href="#"><img src"<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/store_tj.jpg"></a>
				</dt>
				<dd>
					<a href="#">精选猪腿肉一箱</a>
					<p>
						<span class="weight">10Kg</span>
						<span class="price"><b>￥100</b>/箱</span>
					</p>
				</dd>
			</dl>
			<ul class="clearfix">
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
			</ul>
		</div>
	</div>
	<div class="store_pro_floor">
		<h2><span><{WIDGET_STORE_INDEX_FLOOR_TITLE app=b2c position_id=27 store_id=$store_id}></span></h2>
		<div class="floor_con clearfix">
			<dl>
				<dt>
					<a href="#"><img src"<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/store_tj.jpg"></a>
				</dt>
				<dd>
					<a href="#">精选猪腿肉一箱</a>
					<p>
						<span class="weight">10Kg</span>
						<span class="price"><b>￥100</b>/箱</span>
					</p>
				</dd>
			</dl>
			<ul class="clearfix">
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
			</ul>
		</div>
	</div>
	<div class="store_pro_floor">
		<h2><span><{WIDGET_STORE_INDEX_FLOOR_TITLE app=b2c position_id=30 store_id=$store_id}></span></h2>
		<div class="floor_con clearfix">
			<dl>
				<dt>
					<a href="#"><img src"<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/store_tj.jpg"></a>
				</dt>
				<dd>
					<a href="#">精选猪腿肉一箱</a>
					<p>
						<span class="weight">10Kg</span>
						<span class="price"><b>￥100</b>/箱</span>
					</p>
				</dd>
			</dl>
			<ul class="clearfix">
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>
				</li>
				<li>
					<p class="tag">旺铺名品</p>
					<a class="pro_img" href="">
						<img src="<{$base_url}>/themes/pc/default/statics/images/loading.gif" data-original="<{$base_url}>/themes/pc/default/statics/images/bestsellers.jpg">
					</a>
					<p class="caption"><a href="#">精选冰冻琵琶腿</a></p>
					<p class="goods_info"><span class="price"><b>￥：120.00</b></span><span class="sell_count">已售出<b>36</b>箱</span></p>  
				</li>
			</ul>
		</div>
	</div>
	<div class="floor_adv">
		<a href="#">
			<img src="<{$base_url}>/themes/pc/default/statics/images/floor_adv.jpg">
		</a>
	</div>
</div>	
