<div class="store_probox">
	<div class="store_pro_floor">
		<h2><a href="javascript:;" name="mainPro"><span><{WIDGET_STORE_INDEX_FLOOR_TITLE app=b2c position_id=21 store_id=$store_id}></span></a></h2>
		<div class="floor_con clearfix">
            <{WIDGET_STORE_INDEX_LEFT_GOOD app=b2c position_id=22 store_id=$store_id}>
            <ul class="clearfix">
			<{WIDGET_STORE_GOODS_INDEX_GOOD_FLOOR app=b2c position_id=23 store_id=$store_id}>
			</ul>
		</div>
	</div>

	<div class="store_pro_floor">
		<h2><a href="javascript:;" name="specialPro"><span><{WIDGET_STORE_INDEX_FLOOR_TITLE app=b2c position_id=24 store_id=$store_id}></span></a></h2>
		<div class="floor_con clearfix">
			<div class="floor_con clearfix">
            <{WIDGET_STORE_INDEX_LEFT_GOOD app=b2c position_id=25 store_id=$store_id}>
            <ul class="clearfix">
			<{WIDGET_STORE_GOODS_INDEX_GOOD_FLOOR app=b2c position_id=26 store_id=$store_id}>
			</ul>
		</div>
		</div>
	</div>
	<div class="store_pro_floor">
		<h2><a href="javascript:;" name="newPro"><span><{WIDGET_STORE_INDEX_FLOOR_TITLE app=b2c position_id=27 store_id=$store_id}></span></a></h2>
		<div class="floor_con clearfix">
					<div class="floor_con clearfix">
            <{WIDGET_STORE_INDEX_LEFT_GOOD app=b2c position_id=28 store_id=$store_id}>
            <ul class="clearfix">
			<{WIDGET_STORE_GOODS_INDEX_GOOD_FLOOR app=b2c position_id=29 store_id=$store_id}>
			</ul>
		</div>
		</div>
	</div>
	<div class="store_pro_floor">
		<h2><a href="javascript:;" name="promPro"><span><{WIDGET_STORE_INDEX_FLOOR_TITLE app=b2c position_id=30 store_id=$store_id}></span></a></h2>
		<div class="floor_con clearfix">
			<div class="floor_con clearfix">
            <{WIDGET_STORE_INDEX_LEFT_GOOD app=b2c position_id=31 store_id=$store_id}>
            <ul class="clearfix">
			<{WIDGET_STORE_GOODS_INDEX_GOOD_FLOOR app=b2c position_id=32 store_id=$store_id}>
			</ul>
		</div>
		</div>
	</div>
	<div class="floor_adv">
		<{WIDGET_B2C_INDEX_FLOOR_BANNER app=b2c position_id=33 store_id=$store_id}>
	</div>
</div>	
