<div class="reg_progress clearfix">
    <ol>
        <li class="active">
            <span><i>1</i>卖家账号填写</span>
        </li>
        <li>
            <span><i>2</i>企业类型选择</span>
        </li>
        <li>
            <span><i>3</i>公司信息提交</span>
        </li>
        <li>
            <span><i>4</i>店铺信息提交</span>
        </li>
        <li>
            <span><i>5</i>完成入驻</span>
        </li>
    </ol>
</div>
<div class="passport-signup-container seller_regbox">
    <div class="panel panel-default signup-panel">
        <div class="panel-body">
            <form id="member_signup_form" data-module="validator" class="form-horizontal" action="<{link app=seller ctl=site_passport act=signup args0=1}>" method="post">
                <!-- 登陆后跳转地址 -->
                <input type="hidden" name="forward" value="<{$forward}>">
                <div class="form-group">
                    <label for="input_login_name" class="col-md-2 control-label"><span class="text-danger">*</span>登录账号：</label>
                    <div class="col-md-4">
                        <input type="text" required="true" autocomplete='off' name="pam_account[login_name]" class="form-control" id="input_login_name" placeholder="手机号/邮箱/用户名" required="true" format="username|mobile|email" remote="<{link app=seller ctl=site_passport act=check_login_name}>" data="#input_login_password">
                        <span class="msgTip" data-message="format">账号仅支持手机号、邮箱、用户名(支持6-18位字母、数字、下划线组合)</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_login_password" class="col-md-2 control-label"><span class="text-danger">*</span>登录密码：</label>
                    <div class="col-md-4">
                        <input type="password" required="true" name="pam_account[login_password]" class="form-control" id="input_login_password" placeholder="必须是6-20位，只能包含字母、数字、下划线" required="true" format="password">
                        <span class="msgTip" data-message="format">必须是6-20位，只能包含字母、数字、下划线</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_psw_confirm" class="col-md-2 control-label"><span class="text-danger">*</span>确认密码：</label>
                    <div class="col-md-4">
                        <input type="password" required="true" format="password" name="pam_account[psw_confirm]" class="form-control" id="input_psw_confirm" placeholder="再次输入登录密码" equalTo="#input_login_password">
                        <span class="msgTip" data-message="error">两次密码输入不一致</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_psw_confirm" class="col-md-2 control-label"><span class="text-danger">*</span>验证手机：</label>
                    <div class="col-md-4">
                        <input type="text" required="true" name="pam_account[mobile]" class="form-control" id="input_mobile" required="true" format="mobile" remote="<{link app=seller ctl=site_passport act=is_exists_mobile}>">
                        <span class="msgTip" data-message="error">请输入正确的手机号码</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_psw_confirm" class="col-md-2 control-label"><span class="text-danger">*</span>短信验证码：</label>
                    <div class="col-md-2">
                        <input type="text" required="true" name="smscode" class="form-control" id="input_vcode" required="true" >

                        <span class="msgTip" data-message="error"></span>
                    </div>
                    <div class="col-md-2">
                        <div class="mobile-vcode">
                            <button type="button" data-loading-text="正在发送..." class="btn btn-default">获取短信验证码</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_psw_confirm" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input type="checkbox" name="treaty" checked="checked"> 我已阅读并同意
                        <a href="#" class="text-danger" data-toggle="modal" data-target="#accordModal">《云冻品b2b用户注册协议》</a>
                        <a href="#" class="text-danger" data-toggle="modal" data-target="#accordModal">《云冻品b2b服务条款》</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <button type="submit" data-loading-text="正在提交..." class="btn btn-danger">立即注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- 注册协议Modal -->
<div class="modal fade" id="accordModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">云冻品b2b用户注册协议/云冻品b2b服务条款</h4>
      </div>
      <div class="modal-body">
        <p>1、云冻品电商平台(以下简称平台)作为全国性大宗冻品分销平台，利用平台自有的遍布全国的冷链物流分拨系统，为各地批发市场、菜场及各类型餐饮用户提供分销服务。</p>
        <p>2、平台产品由卖家直供，并送至平台自有的冷链设施，平台同时提供配送到门的无鏠冷链配送服务，确保产品直销直供。</p>
        <p>3、平台用为b2b性质的开放式的专业冻品直销平台，产品的供应对象为：各级批发市场、菜场商户，餐饮、食品行业直接用户。因此，平台采取会员制销售方式，即客户首先要在平台进行会员统一注册后，客户成为买家，平台会为买家提供大宗食品分销服务，确保产品在同等质量同批量同区域中为最低价。平台服务区域范围：全国共建立26个物流区，覆盖21个省、87个地级市平台直销直供产品：鸡产品、鸭产品、猪产品、牛羊产品、海产品(含冷冻河产品)、丸肠水发品、腌腊产品、冰鲜产品、速冻点心、速冻蔬菜、调理品·水煮包·方便菜、粮油产品、调味品、干货产品、儿童食品，共16大类上万个产品品种。</p>
        <p>4、平台创新型引进了冻品管家服务模式，可以按照买家要求，根据距离远近、专业度、好评度等指标为买家寻找合适的冻品管家，冻品管家可以随时随地帮助买家完成下单、新品定制、在线投诉等工作，提供一对一的贴心管家服务。</p>
        <p>5、平台为保证买家权益，可以提供货到验收后再付款的支付方式，同时，对于质量问题产品提供3天无条件退换货服务。
        <p>6、对买家提出的产品特殊定制要求，平台有责任招募相关卖家提供产品分类标准定制服务。</p>
        <p>7、平台对所销售的产品要求卖家与第三方检测机构合作，提供每批次产品检验检测服务，以便于买家源头追溯。
        <p>8、买家可以通过电商平台PC端、APP移动端、微商城、CallCenter中心、在线客服等各类系统进行咨询、下单或为与冻品管家24小时在线沟通，方便快捷。</p>
        <p>9、平台法律声明<br>
        对于不属于因平台物流不善而导致的产品质量事故，平台将协助买家追偿卖家应付的法律责任。</p>
        <p>10、买家声明<br>
        平台买家已知悉并完全理解此章程。</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">我知道了</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script>
/*
 * 会员注册脚本
 */

void function(signup_form) {

    /*var alert_timer = 0;
    var _alert_error = function(msg) {
        signup_form.find('.alert-error').remove();
        signup_form.append($('<div class="alert alert-danger">' + msg + '</div>'));
        alert_timer = setTimeout(function() {
            clearTimeout(alert_timer);
            signup_form.find('.alert-danger').fadeOut('fast', function() {
                $(this).remove();
            });
        }, 3000);
    }

     */    
    //获得短信验证码
    var _cutdown_sms = function(btn) {
        btn.addClass('disabled');
        var cutdown = 120,
            btn_o_text = btn.text(),
            timer =
            setInterval((function() {
                btn.text('短信已发送,' + (cutdown--) + '秒后可重试');
                if (cutdown < 1) {
                    clearInterval(timer);
                    btn.text(btn_o_text).removeClass('disabled');
                }
                return arguments.callee;
            })(), 1000);
    };

    signup_form.find('.mobile-vcode button').on('click', function(e) {
        var btn = $(this);
        if (btn.hasClass('disabled')) return;
        btn.addClass('disabled');
        $.post('<{link app=seller ctl=site_passport act=send_vcode_sms}>', {
            mobile: $('#input_mobile').val()
        }, function(re) {
            if (re && re.error) {//input_vcode
                btn.removeClass('disabled');
                
                alert(re.error);   
            }
            if (re && re.success) {
                $("#input_vcode").val(re.redirect);
                _cutdown_sms(btn);
            }
        }, 'json');


    });



}($('#member_signup_form'));
</script>
