<div class="reg_progress clearfix">
    <ol>
        <li>
            <span><i>1</i>卖家账号填写</span>
        </li>
        <li>
            <span><i>2</i>企业类型选择</span>
        </li>
        <li class="active">
            <span><i>3</i>公司信息提交</span>
        </li>
        <li>
            <span><i>4</i>完成入驻</span>
        </li>
    </ol>
</div>
<div class="passport-signup-container seller_regbox">
    <div class="panel panel-default signup-panel clearfix">
        <div class="panel-lt panel-menu pull-left">

            <h4 class="menu-root">买手店信息提交</h4>
            <ul class="menu-list">
                <li></li>
            </ul>
        </div>
        <div class="panel-body panel-rt pull-right">
            <div class="settled_warning">
                <dl class="clearfix">
                    <dt><i class="icon-warning-sign"></i></dt>
                    <dd>
                        <p>1.信息提交前，请务必先了解<a href="">《美侍客招商标准》</a>;</p>
                        <p>2.公司类需填项较多，建议先查看<a href="">《公司信息注意事项》</a>再填写;</p>
                        <p>3.以下所需要上传的电子版资质仅支持JPG、GIF、PNG格式图片，大小不超过1M,且必须加盖企业公章;</p>
                    </dd>
                </dl>
            </div>
            <form id="buyer_companyInfo_form" class="buyer_comInfo_form form-horizontal" action="<{link app=buyer ctl=site_passport act=signup}>" method="post" data-module="validator">
                <div class="form-group">
                	<label class="col-xs-2 control-label"><span class="text-danger">*</span>姓名</label>
                    <div class="col-xs-4">
						<input type="text" class="form-control" name="name" value="" required="true">
						<span class="msgTip" data-msg="error"></span>
                    </div>
                </div>
               	<div class="form-group">
                	<label class="col-xs-2 control-label"><span class="text-danger">*</span>性别</label>
                    <div class="col-xs-4">
						<div class="form-item">
							<span>
								<input type="radio" name="sex" checked="checked" required="true" value="1"> 男
							</span>
							<span>
								<input type="radio" name="sex" required="true" value="0"> 女
							</span>
						</div>
						<span class="msgTip" data-msg="error"></span>
                    </div>
                </div>
                <div class="form-group">
                	<label class="col-xs-2 control-label"><span class="text-danger">*</span>身份证号</label>
                	<div class="col-xs-4">
						<input type="text" class="form-control" name="card_id" value="" required="true" format="idcard">
						<span class="msgTip" data-message="format">身份证填写错误</span>
                    </div>
                </div>
                <div class="form-group">
                	<label class="col-xs-2 control-label"><span class="text-danger">*</span>买手类型</label>
                    <div class="col-xs-4">
						<div class="form-item">
							<span>
								<input type="checkbox" name="buyer_type" value="1" required="true"> 自主创业型
							</span>
							<span>
								<input type="checkbox" name="buyer_type" value="2"> 批发型
							</span>
							<span>
								<input type="checkbox" name="buyer_type" value="3"> 有固定的销售渠道型
							</span>
							<span>
								<input type="checkbox" name="buyer_type" value="4"> 配送型
							</span>
						</div>
						<span class="msgTip" data-msg="error"></span>
                    </div>
                </div>
             <div class="form-group">
                 <label class="col-md-2 control-label"><span class="text-danger">*</span>收货地区</label>
                 <div class="col-md-5">
                     <{input type=region name='consignor[area]' value=$dlyplace.consignor.area required='true'}>
                 </div>
             </div>
                <div class="form-group">
                	<label class="col-xs-2 control-label"><span class="text-danger">*</span>收货地区详细地址</label>
                	<div class="col-xs-4">
						<input type="text" class="form-control" name="addr" value="" required="true">
						<span class="msgTip" data-msg="error"></span>
                    </div>
                </div>
                <div class="form-group">
                	<label class="col-xs-2 control-label"><span class="text-danger">*</span>照片(一寸免冠)</label>
                	<div class="col-xs-4">
						<{input type="imageupload" tag="图片上传" name="photo" value=$extra.store.photo required='true' accept="jpg|png|gif" }>
						<span class="msgTip" data-msg="error"></span>
                    </div>
                </div>
                <div class="form-group">
                	<label class="col-xs-2 control-label"><span class="text-danger">*</span>微信号</label>
                	<div class="col-xs-4">
						<input type="text" class="form-control" name="wechat" value="" required="true">
						<span class="msgTip" data-msg="error"></span>
                    </div>
                </div>
                <div class="form-group">
                	<label class="col-xs-2 control-label"><span class="text-danger">*</span>QQ号</label>
                	<div class="col-xs-4">
						<input type="text" class="form-control" name="qq" value="" required="true" format="qq">
						<span class="msgTip" data-message="format">请输入6-11位数字的QQ号</span>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-xs-2"></label>
                    <div class="col-xs-4">
                        <button type="submit" data-loading-text="正在提交..." class="btn btn-danger" style="margin-left: 20px;">
                        	保存并进行下一步
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
/**
 *动态添加多项,例如：检测设备，电商团队成员，企业荣誉，车间概况
 */
    var itemLength = function(obj){
        var items = obj.find('div[data-items="itemList"]');
        var item = items.find('div[data-item="creat-item"]:first');
        item.find($('.delBtn')).hide();
    }
    $('div[data-module="creater"]').each(function(index, el) {

        var addBtn = $(this).find('.addBtn');
        var delBtn = $(this).find('delBtn');
        var items = $(this).find('div[data-items="itemList"]');
        var item = items.find('div[data-item="creat-item"]');
        var itemLen = item.size();
        var html = items.find('div[data-item="creat-item"]:first').prop("outerHTML");
        var _this = $(this);
        var imgUrl = '<{$base_url}>/public/javascripts/images/add.jpg';

        //增加
        addBtn.bind('click',function(){
            _this.find('div[data-items="itemList"]').append(html);
            _this.find('div[data-item="creat-item"]:last').find('input').val('');
            _this.find('div[data-item="creat-item"]:last').find('img').attr('src', imgUrl);
            itemLen++;
            $.VMC.init();
        })
        
        //删除

        if(itemLen <= 1){
           item.find($('.delBtn')).hide();
        }
        itemLength(_this);
        _this.on('click','.delBtn',function(){
            if(!confirm('确定删除')) return false;
            var parent = $(this).parents('div[data-item="creat-item"]');
            var content_id = parent.find('.content_id').val();
            if(!content_id){
                parent.remove();
                return false;
            }
            var url = '<{link app=seller ctl=site_passport act=del_extra}>';
            $.post(url, {content_id: content_id}, function (re) {
                if (re.success) {
                    parent.remove();
                    itemLen--;
                    itemLength(_this);
                } else {
                    alert('操作失败');
                }
            });
        });    
    });



/**
 * 表单验证
 */
 
    void function (signup_form) {
        var _alert_error = function (msg) {
            signup_form.find('.alert-error').remove();
            signup_form.append($('<div class="alert alert-danger">' + msg + '</div>'));
            alert_timer = setTimeout(function () {
                clearTimeout(alert_timer);
                signup_form.find('.alert-danger').fadeOut('fast', function () {
                    $(this).remove();
                });
            }, 3000);
        }
        signup_form.on('submit', function (e) {
            e.stopPropagation();
            $.post(signup_form.attr('action'), signup_form.serialize(), function (re) {
                if (re.error) {
                    _alert_error(re.error);
                } else if (re.success) {
                    location = re.redirect;
                }
            }, 'json');
            return false;
        });
    }($('#seller_signup_form'));



$('#companyInfo_form .business').change(function(){
    var typeId = $('#companyInfo_form input[name="typeId"]').val().trim();
    var url = '<{link app=seller ctl=site_passport act=check_company}>';
    $.post(url, {business : $(this).val().trim(), business_type : 0, type_id : typeId}, function(re){
        console.log(re);
    })
});


</script>
