<div class="reg_progress clearfix">
    <ol>
        <li>
            <span><i>1</i>卖家账号填写</span>
        </li>
        <li>
            <span><i>2</i>企业类型选择</span>
        </li>
        <li>
            <span><i>3</i>公司信息提交</span>
        </li>
        <li>
            <span><i>4</i>店铺信息提交</span>
        </li>
        <li class="active">
            <span><i>5</i>完成入驻</span>
        </li>
    </ol>
</div>
<div class="passport-signup-container seller_regbox">
    <div class="panel panel-default signup-panel">
        <div class="panel-body seller_signup_complete">
            <h2><i class="icon-ok-sign"></i> 入驻成功！</h2>
            <h4>美侍客平台欢迎您！<a href="<{link app=site ctl=index act=index}>">返回首页</a></h4>
        </div>
    </div>
</div>
