<h3 class="page-title"><{if $content.content_id}>编辑<{else}>添加<{/if}>广告</h3>
<!--
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index.php?app=b2c&ctl=admin_pages_content&act=index<{if $pageObject}>&filter[pages]=<{$pageObject.pages_id}><{/if}><{if $position}>&filter[position_id]=<{$position.position_id}><{/if}>">内容列表</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:;"><{if $content.content_id}>编辑<{else}>新增<{/if}>内容</a>
        </li>
    </ul>
</div>
-->
<form method="post" action="index.php?app=b2c&ctl=admin_pages_content&act=save" id='content_edit_form' class="form">
    <input type="hidden" name="content_id" value="<{$content.content_id}>">     
    <div class="modal-body">
        <div class="row">
            <div class="col-md-9">
                <div class="form-horizontal">
                 <div class="form-body">
                    <div class="form-group ">
                       <label class="col-md-4 control-label">内容名称
                            <span class="required">*</span>
                       </label>
                        <div class="col-md-8">
                            <{input required='true' type='text' name='content[title]' value=$content.title}>
                        </div>
                    </div> 
                    <div class="form-group" id="pages">
                       <label class="col-md-4 control-label">所属页面
                            <span class="required">*</span>
                       </label>
                        <div class="col-md-5">
                            <{input required='true' type='select' name='content[pages_id]' rows=$pages value=$pageObject.pages_id valueColumn='pages_id' labelColumn='name'}>
                        </div>
                    </div> 
                   <div class="form-group" id="position">
                       <label class="col-md-4 control-label">所在位置
                            <span class="required">*</span>
                       </label>
                        <div class="col-md-5">
                            <{input required='true' type='select' name='content[position_id]' rows=$positions value=$position.position_id valueColumn='position_id' labelColumn='name'}>
                        </div>
                    </div>
                    <div class="form-group ">
                       <label class="col-md-4 control-label">链接
                            <span class="required">*</span>
                       </label>
                        <div class="col-md-6">
                            <{input required='true' type='text' name='content[url]' value=$content.url}>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-xs-4 control-label">图片上传:</label>
                        <div class="col-xs-5">
                             <{input type="image" width=110 height=100 tag="图片上传" name="content[image_id]" value=$content.image_id required='true'}>
                        </div>
                        <label class="col-xs-4 control-label">图片上传尺寸:</label>
                        <{if $position.position_id}>
                        <div class="col-xs-5"><{$postion_psize.width}>px*<{$postion_psize.height}>px</div>
                        <{else}><div class="col-xs-5">请选择所在位置</div><{/if}>
                    </div>
                    <div class="form-group" id="content_type">
                       <label class="col-md-4 control-label">类型
                            <span class="required">*</span>
                       </label>
                        <div class="col-md-5">
                            <{input type='select' name='content[type]' options=$types value=$content.type required='true'}>
                        </div>
                    </div> 
                    <div class="form-group" id="content_price">
                        <label class="col-md-4 control-label">商品价格：</label>
                        <div class="col-md-8">
                            <div class="col-md-5">
                                <label>原价：</label>
                                <{input type="text" data-map="price" name="content[extra][cost]" value=$content.extra.cost|default:'0.00'}>
                            </div>
                            <div class="col-md-5">
                                <label>售价：</label>
                                <{input type="text" data-map="price" name="content[extra][price]" value=$content.extra.price|default:'0.00'}>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                       <label class="col-md-4 control-label">排序
                            <span class="required">*</span>
                       </label>
                        <div class="col-md-3">
                            <{input type='text' name='content[ordernum]' value=$content.ordernum|default:0 required='true' }>
                        </div>
                    </div> 
                    <div class="form-group ">
                       <label class="col-md-4 control-label">状态
                            <span class="required">*</span>
                       </label>
                        <div class="col-md-3">
                        <label class="radio-inline"><input  type="checkbox" name="content[status]" value="1" <{if !$content || $content.status == 1 }>checked<{/if}>>启用</label>
                        </div>
                    </div>                       
                    
                </div>

            </div>            
        </div>
    </div>
<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn blue">保存</button>
            <a href="index.php?app=b2c&ctl=admin_pages_content&act=index<{if $pageObject}>&filter[pages]=<{$pageObject.pages_id}><{/if}><{if $position}>&filter[position_id]=<{$position.position_id}><{/if}>" class="btn default">返回</a>
        </div>
    </div>
</div>
</form>
<script charset="utf-8">
function typeChange(val)
{
    if( val == 2)
    {
        $("#content_price").show();
    }else{
        $("#content_price").hide();
    }
}
var content = {
    id : <{$content.content_id|default:0}>,
    page : <{$content.page_id|default:0}>,
    type : <{$content.type|default:0}>,
    position : <{$content.position_id|default:0}>
};
$('#content_type select').on('change',function(e){  
    typeChange($(this).val());
});
$(function(e){
     typeChange(content.type);
});

$("#pages select").on('change',function(e){
    content.page = $(this).val();
    $.getJSON('<{link app="b2c" ctl="admin_pages_position" act="page_position"}>' + "&pages_id=" + $(this).val(), function(result){
        $("#position select option:gt(0)").remove(); 
        if(result.success == 'undefined') return ;
        console.log(result.result);
        var positions = result.result;
        for(i in positions)
        {
            $('#position select').append($("<option/>", {
                value: positions[i]['position_id'],
                text: positions[i]['name']
            }));
        }
    });
});
</script>
