<div class="passport-signup-container">
    <div class="panel panel-default signup-panel">
        <div class="panel-heading clearfix">
            <a class="btn btn-default" label="账号注册" icon="fa fa-plus" >账号注册&nbsp;<i class="fa fa fa-plus"></i></a>
  		    <a class="btn btn-default" label="入驻申请" icon="fa fa-plus" >公司信息&nbsp;<i class="fa fa fa-plus"></i></a>
  		    <a class="btn btn-default" label="商城签约" icon="fa fa-plus" >资质认证&nbsp;<i class="fa fa fa-plus"></i></a>
            <a class="btn btn-default" label="商家入驻" icon="fa fa-plus" >店铺申请&nbsp;<i class="fa fa fa-plus"></i></a>
            <a class="btn btn-danger" label="商家入驻" icon="fa fa-plus" >品牌申请&nbsp;<i class="fa fa fa-plus"></i></a>
        </div>
        <div class="panel-body">
              <form id="seller_signup_form" class="form-horizontal" action="<{link app=seller ctl=site_passport act=signup args0=5}>" method="post">
                  <div class="form-group">
                      <label for="input_addr" class="col-xs-2 control-label">品牌名称
                          <span class="required" aria-required="true">*</span>
                     </label>
                      <div class="col-md-5">
                          <input type="text" required=true value="<{$brand.name}>" id="check_brand_name" name="seller[extra][brand_name]" vtype='required' class='form-control'/>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="input_addr" class="col-xs-2 control-label">拼音首字母
                          <span class="required" aria-required="true">*</span>
                     </label>
                      <div class="col-md-5">
                          <input type="text"  disabled=false  value="<{$brand.brand_initial}>" placeholder="系统自动生成"  class='form-control initial'/>
                          <input type="hidden" required=true  value="<{$brand.brand_initial}>" name="seller[extra][brand_initial]" vtype='required' class='form-control initial'/>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="input_addr" class="col-xs-2 control-label">品牌网址
                          <span class="required" aria-required="true">*</span>
                     </label>
                      <div class="col-md-5">
                          <input type="text" required=true value="<{$brand.english_name}>" name="seller[extra][brand_url]" vtype='required' class='form-control'/>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="input_addr" class="col-xs-2 control-label">所属分类
                          <span class="required" aria-required="true">*</span>
                     </label>
                      <div class="col-md-3">
                          <{input type="select" rows=$cat valueColumn="cat_id" labelColumn="cat_name" name="seller[extra][bradn_cat]" vtype='required' class='form-control'}>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="input_addr" class="col-xs-2 control-label">品牌logo
                          <span class="required" aria-required="true">*</span>
                     </label>
                      <div class="col-md-5">

                          <input type="file" accept="image/*" data-url="<{link app=image ctl=site_upload act=index}>"  class="form-control" value="">
                          <input type="hidden" name="seller[extra][brand_logo]"  value=""/>
                          <span class="hide">上传成功</span>
                      </div>
                  </div>

                      <div class="form-group">
                          <label for="input_addr" class="col-xs-2 control-label">上传资质文件
                              <span class="required" aria-required="true">*</span>
                         </label>
                          <div class="col-md-5">

                              <input type="file" accept="image/*" data-url="<{link app=image ctl=site_upload act=index}>" class="form-control" value="">
                              <input type="hidden" name="seller[extra][aptitudes_image]"  value=""/>
                              <span class="hide">上传成功</span>
                          </div>
                      </div>

                  <div class="form-group">
                      <label for="input_addr" class="col-xs-2 control-label">简介
                          <span class="required" aria-required="true">*</span>
                     </label>
                      <div class="col-md-5">
                          <textarea class="form-control" name="seller[extra][brand_desc]" placeholder="简单描述" rows="1">
                              <{$brand.brand_desc}>
                          </textarea>

                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-xs-offset-2 col-xs-5">
                          <button type="submit" data-loading-text="正在提交..." class="btn btn-warning">提交</button>
                      </div>
                  </div>
              </form>
         </div>
    </div>
</div>

</div>

<script charset="utf-8">
    $(function(){

        $('input[type="file"]').fileupload({

            add:function(e, data){
                if(!data.files[0]['type'].match(/^image/)){
                    alert('非法上传，不是图片类型');
                }
                data.submit();
            },
            done:function(e, data){
                var re = $.parseJSON(data.result);
                var input= e.target || e.srcElement;
                $(input).next('input').val(re.image_id);
                $(input).next('input').nextAll().removeClass('hide');
            }
        });

        $('#check_brand_name').blur(function(){
            var url = "<{link app=seller ctl=site_brand act=check_brand_name}>";
            var url_initial = "<{link app=seller ctl=site_brand act=brand_initial}>";
            var input = $(this);
            if(input.val() == '')return;
            $.post(url, {brand_name : input.val()}, function(re){
                if(re.success){
                    input.closest('.form-group').removeClass('has-error').addClass('has-success');
                    if(re.data && re.data.is_mobile){
                        $('.local-vcode').hide();
                        $('.mobile-vcode').show();
                    }else{
                        $('.local-vcode').show();
                        $('.mobile-vcode').hide();
                    }
                }else{
                    input.popover({content:re.error,placement:'right',trigger:'click',container:'body'});
                    input.popover('show');
                    input.closest('.form-group').removeClass('has-success').addClass('has-error');
                }
            }, 'json');
            $.post(url_initial, {brand_name : input.val()}, function(re){
                if(re.success){
                    $('.initial').val(re.success);
                }else if(re.error){

                }
            });
        });
    });
</script>
