<div class="passport-signup-container settled_container">
    <div class="settled_statuspage">
        <ul class="status_label">
            <li>入驻信息已提交</li>
            <li>资质审核</li>
            <li>店铺授权</li>
        </ul>
        <ul class="status_process clearfix">
            <li class="active"><span>1</span></li>
            <li><span>2</span></li>
            <li><span>3</span></li>
        </ul>

        <button class="return_btn">返回上一步</button>
        <button class="return_index hidden">返回平台首页</button>
    </div>
</div>

