
<div class="passport-signup-container settled_container">
    <div class="settled_menu">
        <dl>
            <dt>商家入驻</dt>
            <dd><a href="">入驻须知</a></dd>
            <dd class="active"><a href="">公司信息认证</a></dd>
            <dd><a href="">店铺信息上传</a></dd>
            <dd><a href="">平台审核</a></dd>
        </dl>
    </div>
    <div class="panel-body settled_main">
        <div class="page_heading">
            <h1>公司信息认证</h1>
        </div>
        <div class="settled_warning">
            <dl class="clearfix">
                <dt><i class="icon-warning-sign"></i></dt>
                <dd>
                    <p>1.信息提交前，请务必先了解<a href="">《神农客招商标准》</a>;</p>
                    <p>2.公司类需填项较多，建议先查看<a href="">《公司信息注意事项》</a>再填写;</p>
                    <p>3.以下所需要上传的电子版资质仅支持JPG、GIF、PNG格式图片，大小不超过1M,且必须加盖企业公章;</p>
                </dd>
            </dl>
        </div>
        <form id="seller_signup_form" class="form-horizontal" action="<{link app=seller ctl=site_passport act=signup args0=2}>" method="post">
            <div class="companys">
                <{include file='site/passport/company/apply.company.html' }>
            </div>
            <div class="companys">
                <{include file='site/passport/company/apply.legal.html' }>
            </div>
            <div class="companys">
                <{include file='site/passport/company/apply.business.html' }>
            </div>
            <div class="companys">
                <{include file='site/passport/company/apply.organization.html' }>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-5">
                    <button type="button" data-loading-text="正在提交..." class="btn btn-warning up">上一步</button>
                    <button type="button" data-loading-text="正在提交..." class="btn btn-warning dn">下一步</button>
                    <button type="submit" data-loading-text="正在提交..." class="btn btn-warning">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<style type="text/css">
.tabClass {
    display: none;
}
</style>
<script>
$(function() {
    $(".companys").addClass("tabClass");
    $(":submit").addClass("tabClass");
    $(".companys").eq(0).removeClass("tabClass");
    $(".up").click(function() {
        tab(-1);
    });
    $(".dn").click(function() {
        tab(1);
    });
});

function tab(index) {
    for (var i = 0; i < $('.companys').length; i++) {
        if ($(".companys").eq(i).css('display') == "block") {
            index += i;
            $(".companys").addClass("tabClass");
            index = index < 0 ? 0 : index;
            index = index >= $('.companys').length - 1 ? $('.companys').length - 1 : index;
            $(".companys").eq(index).removeClass("tabClass");
            $(".dn").removeAttr("disabled");
            if (index >= $('.companys').length - 1) {
                $(".dn").attr({
                    "disabled": "disabled"
                });
                $(":submit").removeClass("tabClass");
            }
            $(".up").removeAttr("disabled");
            if (index == 0) {
                $(".up").attr({
                    "disabled": "disabled"
                });
            }
            return;
        }
    }
}
</script>
