<!-- <div class="seller_reg_tab">
    <ul>
        <li class="active"><a href="#">入驻须知</a></li>
        <li><a href="#">商家入驻</a></li>
        <li><a href="#">平台审核</a></li>
    </ul>
</div> -->
<div class="settled_container">
    <div class="side_menu">
		<dl>
			<dt>商家入驻</dt>
		  	<dd><a href="">入驻须知</a></dd>
		  	<dd class="active"><a href="">公司信息认证</a></dd>
		    <dd><a href="">店铺信息上传</a></dd>
		    <dd><a href="">平台审核</a></dd>
		</dl>
	</div>
	<div class="settled_page">
		<div class="page_heading">
			<h1>公司信息认证</h1>
		</div>
		<div class="settled_main">
			<h2>联系人信息<small>用于接收入驻过程中平台反馈的入驻通知，请务必填写正确</small></h2>
			<form action="" class="contactInfo_form">
				<div class="form-group">
                	<label for="input_contact_name" class="col-xs-2 control-label">联系人姓名<span class="text-danger">*</span></label>
                	<div class="col-xs-5">
                    	<input type="text" required="true" autocomplete='off' class="form-control" id="input_contact_name" placeholder="联系人姓名">
                	</div>
              	</div>
			</form>

			<button class="btn btn-default">我知道了</button>
		</div>
	</div>
</div>