<!-- <div class="seller_reg_tab">
    <ul>
        <li class="active"><a href="#">入驻须知</a></li>
        <li><a href="#">商家入驻</a></li>
        <li><a href="#">平台审核</a></li>
    </ul>
</div> -->
<div class="settled_container">
    <div class="side_menu">
        <dl>
            <dt>商家入驻</dt>
            <dd class="active"><a href="">入驻须知</a></dd>
            <dd><a href="">公司信息认证</a></dd>
            <dd><a href="">店铺信息上传</a></dd>
            <dd><a href="">平台审核</a></dd>
        </dl>
    </div>
    <div class="settled_page">
        <div class="page_heading">
            <h1>公司信息</h1>
        </div>
        <div class="settled_main">
            <p>入驻须知内容</p>
            <a href="<{link app=seller ctl=site_passport act=companyInfo}>">
                <button class="btn btn-default">我知道了</button>
            </a>
        </div>
    </div>
</div>
