<div class="reg_progress clearfix">
    <ol>
        <li>
            <span><i>1</i>卖家账号填写</span>
        </li>
        <li>
            <span><i>2</i>企业类型选择</span>
        </li>
        <li>
            <span><i>3</i>公司信息提交</span>
        </li>
        <li>
            <span><i>4</i>店铺信息提交</span>
        </li>
        <li class="active">
            <span><i>5</i>完成入驻</span>
        </li>
    </ol>
</div>
<div class="passport-signup-container">
    <div class="panel panel-default signup-panel">
        <div class="panel-body">
            <h2>平台审核中</h2>
            <p>您的注册资料已经提交，请耐心等待审核！</p>
        </div>
    </div>
</div>
