<div class="reg_progress clearfix">
    <ol>
        <li>
            <a href="<{link app=seller ctl=site_passport act=signup}>"><i></i>填写账号信息</a>
        </li>
        <li>
            <a href="<{link app=seller ctl=site_passport act=companyInfo}>"><i></i>填写公司信息</a>
        </li>
        <li class="active">
            <a href="<{link app=seller ctl=site_passport act=contactInfo}>"><i></i>填写联系人信息</a>
        </li>
        <li>
            <a href="<{link app=seller ctl=site_passport act=complete}>"><i></i>完成注册</a>
        </li>
    </ol>
</div>
<div class="passport-signup-container">
    <div class="panel panel-default signup-panel">
        <div class="panel-heading clearfix">
            注册成为会员(卖家)
            <!-- <a class="btn btn-danger btn-xs pull-right" href="<{link app=b2c ctl=site_passport act=login args0=$forward}>">立即登录&raquo;</a> -->
        </div>
        <div class="panel-body">
            <form id="" class="form-horizontal" action="<{link app=b2c ctl=site_passport act=create}>" method="post">
                <!-- 登陆后跳转地址 -->
                <input type="hidden" name="forward" value="<{$forward}>">
                <div class="form-group">
                    <label for="" class="col-xs-2 control-label">联系人姓名<span class="text-danger">*</span></label>
                    <div class="col-xs-5">
                        <input type="text" required="true" autocomplete='off' class="form-control" id="" placeholder="请输入联系人姓名" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-xs-2 control-label">联系人手机
                        <span class="text-danger">*</span>
                    </label>
                    <div class="col-xs-3">
                        <input type="text" required="true" autocomplete='off' class="form-control" id="" placeholder="请输入联系人手机" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">所在地区<span class="text-danger">*</span></label>
                    <div class="col-xs-5">
                        <input type="text" required="true" autocomplete='off' class="form-control" id="" placeholder="公司名称" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-xs-2 control-label">联系人电子邮箱<span class="text-danger">*</span></label>
                    <div class="col-xs-5">
                        <input type="text" required="true" autocomplete='off' class="form-control" id="" placeholder="请输入联系人电子邮箱" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"><span class="text-danger">*</span>短信验证码：</label>
                    <div class="col-md-3">
                        <input type="text" required="true" name="smscode" class="form-control" id="input_psw_confirm">
                    </div>
                    <div class="col-md-2">
                        <div class="mobile-vcode">
                            <button type="button" data-loading-text="正在发送..." class="btn btn-default">获取短信验证码</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-xs-2 control-label"></label>
                    <div class="col-xs-5">
                        <input type="checkbox" id="" />
                        我已阅读并同意 <a href="#">《美侍客用户注册协议》</a> <a href="#">《美侍客服务条款》</a>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                    	<button type="submit" class="btn btn-warning">上一步</button>
                        <button type="submit" data-loading-text="正在提交..." class="btn btn-warning">下一步</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
