<div class="reg_progress clearfix">
    <ol>
        <li>
            <span><i>1</i>卖家账号填写</span>
        </li>
        <li>
            <span><i>2</i>企业类型选择</span>
        </li>
        <li class="active">
            <span><i>3</i>公司信息提交</span>
        </li>
        <li>
            <span><i>4</i>店铺信息提交</span>
        </li>
        <li>
            <span><i>5</i>完成入驻</span>
        </li>
    </ol>
</div>
<div class="passport-signup-container seller_regbox">
    <div class="panel panel-default signup-panel">
        <div class="panel-body">
            <div class="settled_warning">
                <dl class="clearfix">
                    <dt><i class="icon-warning-sign"></i></dt>
                    <dd>
                        <p>1.信息提交前，请务必先了解<a href="">《神农客招商标准》</a>;</p>
                        <p>2.公司类需填项较多，建议先查看<a href="">《公司信息注意事项》</a>再填写;</p>
                        <p>3.以下所需要上传的电子版资质仅支持JPG、GIF、PNG格式图片，大小不超过1M,且必须加盖企业公章;</p>
                    </dd>
                </dl>
            </div>
            <form id="companyInfo_form" class="form-horizontal companyInfo_form" method="post">
                <input type='hidden' name='identity' value='<{$identity}>'/>
                <!-- 三证合一 -->
                <{foreach from=$page key=key item=item}>
                <{"site/passport/companyInfo/{$key}.html"}>
                    <{include file="site/passport/companyInfo/{$key}.html"}>
                <{/foreach}>
            </form>
        </div>
    </div>
</div>
<script>
    void function(signup_form) {
        var _alert_error = function(msg) {
            signup_form.find('.alert-error').remove();
            signup_form.append($('<div class="alert alert-danger">' + msg + '</div>'));
            alert_timer = setTimeout(function() {
                clearTimeout(alert_timer);
                signup_form.find('.alert-danger').fadeOut('fast', function() {
                    $(this).remove();
                });
            }, 3000);
        }
        signup_form.on('submit', function(e){
            e.stopPropagation();
            $.post(signup_form.attr('action'), signup_form.serialize(), function(re){
                if(re.error){
                    _alert_error(re.error);
                }else if(re.success){
                    location = re.redirect;
                }
            }, 'json');
            return false;
        });
    }($('#seller_signup_form'));
</script>
