<div class="reg_progress clearfix">
    <ol>
        <li>
            <span><i>1</i>卖家账号填写</span>
        </li>
        <li class="active">
            <span><i>2</i>企业类型选择</span>
        </li>
        <li>
            <span><i>3</i>公司信息提交</span>
        </li>
        <li>
            <span><i>4</i>店铺信息提交</span>
        </li>
        <li>
            <span><i>5</i>完成入驻</span>
        </li>
    </ol>
</div>
<div class="passport-signup-container seller_regbox">
    <div class="panel panel-default signup-panel">
        <div class="panel-body">
        	<h2 class="company_type_t">请选择企业类型<small class="text-danger">（可以多选）</small></h2>
        	<form class="company_type_form">
	        	<ul class="typebox">
	        		<li data-type="1">自产型</li>
	        		<li data-type="2">代理型</li>
	        		<li data-type="4">OEM型</li>
                    <li data-type="5" class="buyer_type">买手店</li>
	        	</ul>
	        	<div class="company_btns">
	        		<a href="<{link app=seller ctl=site_passport act=signup}>" class="btn btn-default">返回上一步</a>
	        		<a href="javascript:;" class="next btn btn-danger">确定，继续入驻</a>
	        	</div>
        	</form>
        	
        </div>
    </div>
</div>
<script>
    $(function(){
        $('.next').click(function(){
            var dataValue = 0;
            $('.typebox li.selected').each(function(idx, obj){
                dataValue += parseInt($(this).attr('data-type'));
            });
            if(!dataValue){
                alert('请至少选择一种企业类型');
                return false;
            }
            var url = '<{link app=seller ctl=site_passport act=identity}>';
            var redirect = '<{link app=seller ctl=site_passport act=entry}>';
            $.post(url, {ident : dataValue}, function(re){
                if(re.success){
                    location = redirect;
                }else{
                    alert('操作失败');
                }
            });
        });
        $('.typebox li').click(function(){
            $(this).toggleClass('selected');
            if($('.buyer_type').hasClass('selected')){
                $(this).siblings().removeClass('selected');
            }
        });
    });
    
</script>