<div class="reg_progress clearfix">
    <ol>
        <li class="active">
            <span><i>1</i>卖家账号填写</span>
        </li>
        <li>
            <span><i>2</i>企业类型选择</span>
        </li>
        <li>
            <span><i>3</i>公司信息提交</span>
        </li>
        <li>
            <span><i>4</i>店铺信息提交</span>
        </li>
        <li>
            <span><i>5</i>完成入驻</span>
        </li>
    </ol>
</div>
<div class="passport-signup-container seller_regbox">
    <div class="panel panel-default signup-panel">
        <div class="panel-body">
            <form id="member_signup_form" data-module="validator" class="form-horizontal" action="<{link app=seller ctl=site_passport act=signup args0=1}>" method="post">
                <!-- 登陆后跳转地址 -->
                <input type="hidden" name="forward" value="<{$forward}>">
                <div class="form-group">
                    <label for="input_login_name" class="col-md-2 control-label"><span class="text-danger">*</span>登录账号：</label>
                    <div class="col-md-4">
                        <input type="text" required="true" autocomplete='off' name="pam_account[login_name]" class="form-control" id="input_login_name" placeholder="手机号/邮箱/用户名" required="true" format="username|mobile|email" remote="<{link app=seller ctl=site_passport act=check_login_name}>" data="#input_login_password">
                        <span class="msgTip" data-message="format">账号仅支持手机号、邮箱、用户名(支持6-18位字母、数字、下划线组合)</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_login_password" class="col-md-2 control-label"><span class="text-danger">*</span>登录密码：</label>
                    <div class="col-md-4">
                        <input type="password" required="true" name="pam_account[login_password]" class="form-control" id="input_login_password" placeholder="必须是6-20位，只能包含字母、数字、下划线" required="true" format="password">
                        <span class="msgTip" data-message="format">必须是6-20位，只能包含字母、数字、下划线</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_psw_confirm" class="col-md-2 control-label"><span class="text-danger">*</span>确认密码：</label>
                    <div class="col-md-4">
                        <input type="password" required="true" format="password" name="pam_account[psw_confirm]" class="form-control" id="input_psw_confirm" placeholder="再次输入登录密码" equalTo="#input_login_password">
                        <span class="msgTip" data-message="error">两次密码输入不一致</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_psw_confirm" class="col-md-2 control-label"><span class="text-danger">*</span>所在地区：</label>
                    <div class="col-md-4">
                        <div><{input type=region name='pam_account[area]' required="true"}></div>
                        <span class="msgTip" data-message="error"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_psw_confirm" class="col-md-2 control-label"><span class="text-danger">*</span>验证手机：</label>
                    <div class="col-md-4">
                        <input type="text" required="true" name="pam_account[mobile]" class="form-control" id="input_mobile" required="true" format="mobile" remote="<{link app=seller ctl=site_passport act=is_exists_mobile}>">
                        <span class="msgTip" data-message="error">请输入正确的手机号码</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_psw_confirm" class="col-md-2 control-label"><span class="text-danger">*</span>短信验证码：</label>
                    <div class="col-md-2">
                        <input type="text" required="true" name="smscode" class="form-control" id="input_vcode" required="true" >

                        <span class="msgTip" data-message="error"></span>
                    </div>
                    <div class="col-md-2">
                        <div class="mobile-vcode">
                            <button type="button" data-loading-text="正在发送..." class="btn btn-default">获取短信验证码</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_psw_confirm" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input type="checkbox" name="treaty" checked="checked"> 我已阅读并同意
                        <a href="#" class="text-danger" data-toggle="modal" data-target="#accordModal">《卖家自主定价平台分销章程》</a>
                        <!-- <a href="#" class="text-danger" data-toggle="modal" data-target="#accordModal">《美侍客服务条款》</a> -->
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <button type="submit" data-loading-text="正在提交..." class="btn btn-danger">立即注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- 注册协议Modal -->
<div class="modal fade" id="accordModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">卖家自主定价平台分销章程</h4>
      </div>
      <div class="modal-body">
        <h5>1. 平台非差价利润型分销</h5>
        <p>云冻B2B电商平台(以下简称平台)作为全国性大宗冻品分销平台，利用平台自有的遍布全国的冷链物流分拨系统和已经开发的涵盖各地批发市场、菜场及各类型餐饮用户等全网式客户资源，通过卖家自主定价，为卖家提供非差价利润型分销。即平台不赚取分销利润差价，而仅按销售额一次性收取2%超低管理费，且承诺永不加费。卖家可以无后顾之忧地依托平台优势，迅速组建全国性分销网络，产品销售、物流配送、收款全由平台负责，样样省心，只须专注源头生产和产品研发，轻松占取全国市场。</p>
        <h5>2. 卖家自主定价分销</h5>
        <p>平台签约卖家，在平台价盘制定框架内，自主定义订单通道、订单通道等级及定价，平台按卖家定价将产品分销给平台买家。</p>
        <h5>3. 卖家独立品牌</h5>
        <p>卖家以自己独立拥有的品牌委托平台进行产品分销。</p>
        <h5>4. 卖家产品生产标准与质量管控</h5>
        <p>平台组织卖家在产品国家标准和行业标准基础上，以备案准入制方式，共同参与神农卫士产品标准和质量系统的制定，并以普惠制原则惠及到所有卖家。所有卖家执行同一个分等级的产品标准和质量系统，有利于培养健康市场，避免劣币驱逐良币。</p>
        <p>卖家在云冻品电商平台上分销的产品，须符合神农卫士产品标准和质量系统制定的《原种及种源标准》、《原种饲养标准》、《产品加工技术标准》、《产品加工质量标准》、《产品通用质量标准》、《产品安全标准》、《产品储运标准》和《产品包装标准》(《含产品包材标准》)。</p>
        <h5>5. 卖家产品定级与检测</h5>
        <p>平台卖家在签署卖家产品标准和质量标准同意书后，应按此标准组织原料、生产和运输。卖家产品运抵平台指定仓库后，平台有权组织第三方进行检验和专业检测。对于与产品标准和质量系统不符的产品，平台有权采取包括但不限于产品调级、问题产品退货等措施。</p>
        <h5>6. 买手店深度分销</h5>
        <p>平台将招募百万级数量的买手，在平台上开设物流区买手店。平台允许买手店购买不超过一个月销售量的产品，买手店利用平台开发的微商城和分类买家APP(包括分销APP、菜场APP、团膳APP等数十个APP)平台，将囤货产品和平台产品分销给经过买手店深度营销的专属买家。卖家可以通过平台立即实现海量买家分销，大大提高卖家产品的渗透率。</p>
        <h5>7. 平台费用收取标准</h5>
        <p>1) 平台不以进销差价赚取卖家产品的市场销售利润，仅收取2%超低管理费。</p>
        <p>2) 平台有权按低于市场水平向卖家代为收取实际发生的城市仓储分拨费、银行服务费、代收服务费。</p>
        <p>(1) 城市仓储分拨费：1%(以销售额计)。</p>
        <p>(2) 银行服务费：0.6%(以销售额计)。</p>
        <p>(3) 代收服务费：1%(以销售额计)。代收服务费包括产品检测、代开检验检疫证等第三方收费。</p>
        <h5>8. 资金结算</h5>
        <p>1)  平台有责任向卖家提供订单分销记录。</p>
        <p>2) 平台以“T+10”为货款结算周期，与卖家结算分销货款，即第一天的销售货款第十一天可结算货款，如遇节假日顺延。</p>
        <p>3) 平台通过卖家系统与签约卖家每月线上对账一次。</p>
        <h5>9. 平台对卖家的扶持计划</h5>
        <p>平台为签约卖家提供“多乐贷”卖方信贷，支持卖家扩大产品生产规模及提高分销产品的供应能力。</p>
        <h5>10. 货权管理</h5>
        <p>在平台分销的产品的货权属于卖家。平台仅对已完成实物入库的分销产品履行保管责任。</p>
        <h5>11. 卖家持续供货计划</h5>
        <p>卖家应根据平台分销产品数据，制定切实可行产品生产计划、运输计划以确保分销持续进行，否则平台有权根据损失情</p>况采取包括但不限于经济处罚、取消卖家资格等措施。
        <h5>12. 卖家退换货声明</h5>
        <p>卖家声明支持平台为保护消费者利益，对分销产品采取“有质量问题产品三天内无条件退换货”政策。</p>
        <h5>13. 平台法律声明(免责)</h5>
        <p>对于不属于因平台物流不善而导致的产品质量事故，平台不承担任何法律责任。</p>
        <h5>14. 卖家声明</h5>
        <p>卖家已知悉并完全理解此章程，并且自愿遵守此章程。</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">我知道了</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script>
/*
 * 会员注册脚本
 */

void function(signup_form) {

    /*var alert_timer = 0;
    var _alert_error = function(msg) {
        signup_form.find('.alert-error').remove();
        signup_form.append($('<div class="alert alert-danger">' + msg + '</div>'));
        alert_timer = setTimeout(function() {
            clearTimeout(alert_timer);
            signup_form.find('.alert-danger').fadeOut('fast', function() {
                $(this).remove();
            });
        }, 3000);
    }

     */    
    //获得短信验证码
    var _cutdown_sms = function(btn) {
        btn.addClass('disabled');
        var cutdown = 120,
            btn_o_text = btn.text(),
            timer =
            setInterval((function() {
                btn.text('短信已发送,' + (cutdown--) + '秒后可重试');
                if (cutdown < 1) {
                    clearInterval(timer);
                    btn.text(btn_o_text).removeClass('disabled');
                }
                return arguments.callee;
            })(), 1000);
    };

    signup_form.find('.mobile-vcode button').on('click', function(e) {
        var btn = $(this);
        if (btn.hasClass('disabled')) return;
        btn.addClass('disabled');
        $.post('<{link app=seller ctl=site_passport act=send_vcode_sms}>', {
            mobile: $('#input_mobile').val()
        }, function(re) {
            if (re && re.error) {//input_vcode
                btn.removeClass('disabled');
                
                alert(re.error);   
            }
            if (re && re.success) {
                $("#input_vcode").val(re.redirect);
                _cutdown_sms(btn);
            }
        }, 'json');


    });



}($('#member_signup_form'));
</script>
