<div class="reg_progress clearfix">
    <ol>
        <li>
            <a href="<{link app=seller ctl=site_passport act=signup}>"><i></i>填写账号信息</a>
        </li>
        <li>
            <a href="<{link app=seller ctl=site_passport act=companyInfo}>"><i></i>填写公司信息</a>
        </li>
        <li>
            <a href="<{link app=seller ctl=site_passport act=contactInfo}>"><i></i>填写联系人信息</a>
        </li>
        <li class="active">
            <a href="<{link app=seller ctl=site_passport act=complete}>"><i></i>完成注册</a>
        </li>
    </ol>
</div>
<div class="passport-signup-container">
    <div class="panel panel-default signup-panel">
        <div class="panel-heading clearfix">
            注册成为会员(卖家)
            <!-- <a class="btn btn-danger btn-xs pull-right" href="<{link app=b2c ctl=site_passport act=login args0=$forward}>">立即登录&raquo;</a> -->
        </div>
        <div class="panel-body">
            <h2>平台审核中</h2>
            <p>您的注册资料已经提交，请耐心等待审核！</p>
        </div>
    </div>
</div>
