<div class="reg_progress clearfix">
    <ol>
        <li class="col-md-offset-3 col-sm-2 ">
            <a href="<{link app=b2c ctl=site_passport act=signup}>"><i></i>填写基本信息</a>
        </li>
        <li class="col-md-2 ">
            <a href="<{link app=b2c ctl=site_passport act=signup_checkInfo}>"><i></i>完善审核信息</a>
        </li>
        <li class="col-md-2 active">
            <a href="<{link app=b2c ctl=site_passport act=signup_complete}>"><i></i>完成注册</a>
        </li>
    </ol>
</div>

<div class="signup_complete_con">

    <h2>平台审核中</h2>

    <h4>您的审核资料已经提交，请您耐心等待审核！</h4>

    <button class="btn btn-primary">返回首页</button>

</div>

     




