<div class="reg_progress clearfix">
    <ol>
        <li>
            <span><i>1</i>账户设置</span>
        </li>
        <li class="active">
            <span><i>2</i>基本资料</span>
        </li>
        <li>
            <span><i>3</i>完成注册</span>
        </li>
    </ol>
</div>
<div class="passport-signup-container baseInfo_container clearfix">
    <div class="baseInfo_lt fl">
        <dl>

            <dd <{if $pageIndex eq '1'}>class="active"<{/if}>>
                <a href="#">买家信息</a>
            </dd>
            <dd <{if $pageIndex eq '2'}>class="active"<{/if}>>
                <a href="#">经营信息</a>
            </dd>
            <!-- <dd <{if $pageIndex eq '3'}>class="active"<{/if}>>
                <a href="#">配送信息</a>
            </dd> -->
        </dl>
    </div>
    <div class="baseInfo_rt fr">
        <form id="signup_baseInfo_form" class="form-horizontal" action="<{link app=b2c ctl=site_passport act=business_info args0=$pageIndex}>" method="post" data-module="validator">
            <{foreach from=$conf.page_setting item=item}>
                <{include file="site/passport/baseInfo/{$item}.html" extra=$conf.info}>
            <{/foreach}>
            <div class="form-group">
                <label for="" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <label class="checkbox-inline">
                        <input onclick="return false;" type="checkbox" checked name="" value="1"> 我已阅读并同意
                        <a data-toggle="modal" data-target="#regTerms">《美侍客用户注册协议》</a>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <a href="<{link app=b2c ctl=site_passport act=business_info args0=$pageIndex args1=up}>" data-loading-text="正在提交..." class="btn btn-default">返回上一步</a>
                    <button type="submit" data-loading-text="正在提交..." class="btn btn-danger">信息提交</button>
                </div>
            </div>
            <!-- 会员注册条款modal -->
            <div class="modal fade" id="regTerms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">美侍客用户注册协议</h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">我知道了</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--END 会员注册条款modal -->
        </form>
        
    </div>
</div>


<script>
/**
 * 表单验证
 */
 $(function(){
    var validate = $.VMC.validator("signup_baseInfo_form");
});





/*
 * 会员注册脚本
 */

/*void

function(signup_form) {

    var alert_timer = 0;
    var _alert_error = function(msg) {
            signup_form.find('.alert-error').remove();
            signup_form.append($('<div class="alert alert-danger">' + msg + '</div>'));
            alert_timer = setTimeout(function() {
                clearTimeout(alert_timer);
                signup_form.find('.alert-danger').fadeOut('fast', function() {
                    $(this).remove();
                });
            }, 3000);
        }

    $('#input_login_name').on('blur', function(e) {
        var ipt = $(this);
        $.post('<{link app=b2c ctl=site_passport act=check_login_name}>', {
            'pam_account[login_name]': ipt.val()
        }, function(re) {
            if (re.error) {
                ipt.popover({
                    content: re.error,
                    placement: 'right',
                    trigger: 'click',
                    container: 'body'
                });
                ipt.popover('show');
                ipt.closest('.form-group').removeClass('has-success').addClass('has-error');
            } else if (re.success) {
                ipt.closest('.form-group').removeClass('has-error').addClass('has-success');
                if (re.data && re.data.is_mobile) {
                    // $('.local-vcode').hide();
                    // $('.mobile-vcode').show();
                } else {
                    // $('.local-vcode').show();
                    // $('.mobile-vcode').hide();
                }
            }

        }, 'json');
    });
    $('#input_login_name').on('focus', function(e) {
        $(this).popover('destroy');
    });


    signup_form.on('submit', function(e) {
        e.stopPropagation();
        //signup_form.find('button[type=submit]').button('loading');
        $.post(signup_form.prop('action'), signup_form.serialize(), function(re) {
            if (re.error) {
                _alert_error(re.error);
            }
            if (re.success) {
                location = re.redirect;
            }
            signup_form.find('button[type=submit]').button('reset');
        }, 'json');
        return false;
    });

    //获得短信验证码
    var _cutdown_sms = function(btn) {
        btn.addClass('disabled');
        var cutdown = 120,
            btn_o_text = btn.text(),
            timer =
            setInterval((function() {
                btn.text('短信已发送,' + (cutdown--) + '秒后可重试');
                if (cutdown < 1) {
                    clearInterval(timer);
                    btn.text(btn_o_text).removeClass('disabled');
                }
                return arguments.callee;
            })(), 1000);
    };
    signup_form.find('.mobile-vcode button').on('click', function(e) {
        var btn = $(this);
        if (btn.hasClass('disabled')) return;
        btn.addClass('disabled');
        $.post('<{link app=b2c ctl=site_passport act=send_vcode_sms}>', {
            mobile: $('#input_login_name').val()
        }, function(re) {
            if (re && re.error) {
                btn.removeClass('disabled');
                _alert_error(re.error);
            }
            if (re && re.success) {
                _cutdown_sms(btn);
            }
        }, 'json');


    });



}($('#member_signup_form'));*/

</script>

