<div class="reg_progress clearfix">
    <ol>
        <li>
            <a href="<{link app=b2c ctl=site_passport act=signup}>"><i></i>填写基本信息</a>
        </li>
        <li class="active">
            <a href="<{link app=b2c ctl=site_passport act=signup_checkInfo}>"><i></i>完善审核信息</a>
        </li>
        <li>
            <a href="<{link app=b2c ctl=site_passport act=signup_complete}>"><i></i>完成注册</a>
        </li>
    </ol>
</div>
<div class="passport-signup-container">
    <div class="panel panel-default signup-panel">
        <div class="panel-heading clearfix">
            注册成为会员
            <a class="btn btn-danger btn-xs pull-right" href="<{link app=b2c ctl=site_passport act=login args0=$forward}>">立即登录&raquo;</a>
        </div>
        <div class="panel-body">
            <form id="member_signup_checkInfo_form" class="form-horizontal" action="<{link app=b2c ctl=site_passport act=signup_complete}>" method="post">
                <h3>企业基本信息</h3>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"><span class="text-danger">*</span>客户名称：</label>
                    <div class="col-md-4">
                        <input type="text" name="pam_account[addon][company_name]" class="form-control" id="customer_name">
                        <div id="customer_nameTip"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"><span class="text-danger">*</span>客户地区：</label>
                    <div class="col-md-4 customer_region">
                        <{input type=region name="pam_account[addon][company_area]" id="customer_region" }>
                        <div id="customer_regionTip"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"><span class="text-danger">*</span>客户地址：</label>
                    <div class="col-md-4 customer_address">
                        <input type="text" name="pam_account[addon][company_addr]" class="form-control" id="customer_address">
                        <div id="customer_addressTip"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"><span class="text-danger">*</span>客户营业电话：</label>
                    <div class="col-md-4">
                        <input type="text" name="pam_account[addon][company_phone]" class="form-control" id="company_phone">
                        <div id="company_phoneTip"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"><span class="text-danger">*</span>老板姓名：</label>
                    <div class="col-md-4">
                        <input type="text" name="pam_account[addon][boss_name]" class="form-control" id="boss_name" placeholder="" id="boss_name">
                        <div id="boss_nameTip"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"><span class="text-danger">*</span>老板名片照：</label>
                    <div class="col-md-4">
                        <div class="filebox">
                            <input type="hidden" name="pam_account[addon][boss_image]" value="" />
                            <input type="file" data-url="<{link app=image ctl=site_upload act=index}>" accept="image/*" class="file_input" id="boss_card_photo" />
                            <div class="showImg">
                                <img src="<{if $pam_account[addon][boss_image] eq ''}>./../../themes/pc/default/statics/images/file_add.jpg<{else}><{$pam_account[addon][boss_image]|storager:'xs'}><{/if}>">
                            </div> 
                        </div>
                        <div id="boss_card_photoTip"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"><span class="text-danger">*</span>老板电话：</label>
                    <div class="col-md-4">
                        <input type="text" name="pam_account[addon][boss_phone]" class="form-control" id="boss_phone">
                        <div id="boss_phoneTip"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label">老板QQ号：</label>
                    <div class="col-md-4">
                        <input type="text" required="true" name="pam_account[addon][boss_qq]" class="form-control" id="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label">老板微信号：</label>
                    <div class="col-md-4">
                        <input type="text" required="true" name="pam_account[addon][boss_wechat]" class="form-control" id="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"><span class="text-danger">*</span>有权联系人姓名：</label>
                    <div class="col-md-4">
                        <input type="text" required="true" name="pam_account[addon][pressing_name]" class="form-control" id="pressing_name">
                        <div id="pressing_nameTip"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"><span class="text-danger">*</span>有权联系人电话:</label>
                    <div class="col-md-4">
                        <input type="text" required="true" name="pam_account[addon][pressing_phone]" class="form-control" id="pressing_phone">
                        <div id="pressing_phoneTip"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label">有权联系人QQ号：</label>
                    <div class="col-md-4">
                        <input type="text" required="true" name="pam_account[addon][pressing_qq]" class="form-control" id="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label">有权联系人微信号：</label>
                    <div class="col-md-4">
                        <input type="text" required="true" name="pam_account[addon][pressing_wechat]" class="form-control" id="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"><span class="text-danger">*</span>采购产品：</label>
                    <div class="col-md-4">
                        <{input type=select name="pam_account[addon][company_goods]" }>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"><span class="text-danger">*</span>销售对象：</label>
                    <div class="col-md-4">
                        <input type="text" name="pam_account[addon][market_obj]" class="form-control" id="market_obj">
                        <div id="market_objTip"></div>
                    </div>
                </div>
                <h3>附件上传<small>所需要上传的电子版资质仅支持JPG、GIF、PNG大小格式的图片，大小不能超一M</small></h3>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"><span class="text-danger">*</span>企业营业执照或许可证：</label>
                    <div class="col-md-4">
                        <div class="filebox">
                            <input type="hidden" name="pam_account[addon][company_license]" value="" />
                            <input type="file" data-url="<{link app=image ctl=site_upload act=index}>" accept="image/*" class="file_input" />
                            <div class="showImg">
                                <img src="<{if $pam_account[addon][company_license] eq ''}>./../../themes/pc/default/statics/images/file_add.jpg<{else}><{$pam_account[addon][company_license]|storager:'xs'}><{/if}>">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"><span class="text-danger">*</span>食品安全许可证：</label>
                    <div class="col-md-4">
                        <div class="filebox">
                            <input type="hidden" name="pam_account[addon][company_license]" value="" />
                            <input type="file" data-url="<{link app=image ctl=site_upload act=index}>" accept="image/*" class="file_input" />
                            <div class="showImg">
                                <img src="<{if $pam_account[addon][food_license] eq ''}>./../../themes/pc/default/statics/images/file_add.jpg<{else}><{$pam_account[addon][food_license]|storager:'xs'}><{/if}>">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label">经营场地门头照片：</label>
                    <div class="col-md-4">
                        <div class="filebox">
                            <input type="hidden" name="pam_account[addon][place_image]" value="" />
                            <input type="file" data-url="<{link app=image ctl=site_upload act=index}>" accept="image/*" class="file_input" />
                            <div class="showImg">
                                <img src="<{if $pam_account[addon][place_image] eq ''}>./../../themes/pc/default/statics/images/file_add.jpg<{else}><{$pam_account[addon][place_image]|storager:'xs'}><{/if}>">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label">菜单照片：</label>
                    <div class="col-md-4">
                        <div class="filebox">
                            <input type="hidden" name="pam_account[addon][menu_image]" value="" />
                            <input type="file" data-url="<{link app=image ctl=site_upload act=index}>" accept="image/*" class="file_input" />
                            <div class="showImg">
                                <img src="<{if $pam_account[addon][menu_image] eq ''}>./../../themes/pc/default/statics/images/file_add.jpg<{else}><{$pam_account[addon][menu_image]|storager:'xs'}><{/if}>">
                            </div>
                        </div>
                    </div>
                </div>
                <h3>企业经营信息</h3>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"><span class="text-danger">*</span>经营地面积：</label>
                    <div class="col-md-4">
                        <input type="text" name="pam_account[addon][operate_area]" class="form-control" id="operate_area" placeholder="m²">
                        <div id="operate_areaTip"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"><span class="text-danger">*</span>冻品存放地：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="goods_stash">
                        <div id="goods_stashTip"></div>
                        <!-- name="pam_account[addon][goods_stash]" -->
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"><span class="text-danger">*</span>冻品存放地照片：</label>
                    <div class="col-md-4">
                        <div class="filebox">
                            <input type="hidden" name="pam_account[addon][goods_stash_image]" value="" />
                            <input type="file" data-url="<{link app=image ctl=site_upload act=index}>" accept="image/*" class="file_input" />
                            <div class="showImg">
                                <img src="<{if $pam_account[addon][goods_stash_image] eq ''}>./../../themes/pc/default/statics/images/file_add.jpg<{else}><{$pam_account[addon][goods_stash_image]|storager:'xs'}><{/if}>">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"><span class="text-danger">*</span>存放能力：</label>
                    <div class="col-md-4">
                        <input type="text" name="pam_account[addon][stash_ability]" class="form-control" id="stash_ability">
                        <div id="stash_abilityTip"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"><span class="text-danger">*</span>员工人数：</label>
                    <div class="col-md-4">
                        <input type="text" name="pam_account[addon][staff_num]" class="form-control" id="staff_num">
                        <div id="staff_numTip"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"><span class="text-danger">*</span>是否连锁：</label>
                    <div class="col-md-4">
                        <label class="radio-inline">
                            <input type="radio" id="inlineCheckbox1" name="pam_account[addon][chain]" value="1"> 是
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="inlineCheckbox2" name="pam_account[addon][chain]" value="0"> 否
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"><span class="text-danger">*</span>连锁数量：</label>
                    <div class="col-md-4">
                        <input type="text" required="true" name="pam_account[addon][chain_num]" class="form-control" id="chain_num">
                        <div id="chain_numTip"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label">习惯正常收货时间段：</label>
                    <div class="col-md-2">
                        <input type="text" required="true" name="pam_account[addon][receipt_date_early]" class="form-control" id="" placeholder="起始时间">
                        <span class="add-on"></span> 如：15：00
                    </div>
                    <div class="col-md-2 date form_datetime">
                        <input type="text" required="true" name="pam_account[addon][receipt_date_late]" class="form-control" id="" placeholder="截止时间">
                        <!-- <span class="add-on"><i class="icon-th"></i></span> -->
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label">习惯收货最早时间要求：</label>
                    <div class="col-md-4">
                        <!-- date form_datetime -->
                        <input type="text" required="true" name="pam_account[addon][receipt_early]" class="form-control" id="">
                        <!-- <span class="add-on"><i class="icon-th"></i></span> -->
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label">习惯收货最晚时间要求：</label>
                    <div class="col-md-4">
                        <input type="text" required="true" name="pam_account[addon][receipt_early]" class="form-control" id="">
                        <!-- <span class="add-on"><i class="icon-th"></i></span> -->
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label">支付方式：</label>
                    <div class="col-md-4">
                        <input type="text" required="true" name="pam_account[addon][pay_menthod]" class="form-control" id="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label">距离门店最近停车距离：</label>
                    <div class="col-md-4">
                        <input type="text" required="true" name="pam_account[addon][stop_distance]" class="form-control" id="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label">单次配送规模：</label>
                    <div class="col-md-4">
                        <input type="text" required="true" name="pam_account[addon][one_distribution]" class="form-control" id="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <label class="checkbox-inline">
                            <input onclick="return false;" type="checkbox" checked name="" value="1"> 我已阅读并同意
                            <a data-toggle="modal" data-target="#regTerms">《美侍客用户注册协议》</a>
                        </label>
                    </div>
                </div>
                <hr>
                <{foreach from=$attr item=item name="item" key='row' }>
                    <{if $item.attr_type=='select' }>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                <{$item.attr_name}>
                            </label>
                            <div class="col-md-4">
                                <{input type=$item.attr_type name=$item.attr_column value=$item.attr_value options=$item.attr_option}>
                            </div>
                        </div>
                        <{elseif $item.attr_type=='checkbox' }>
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    <{$item.attr_name}>
                                </label>
                                <div class="col-md-4">
                                    <{input type=$item.attr_type name=$item.attr_column value=$item.attr_value options=$item.attr_option}>
                                </div>
                            </div>
                            <{elseif $item.attr_type=='date' }>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        <{$item.attr_name}>
                                    </label>
                                    <div class="col-md-4">
                                        <input type="date" class="form-control" name="<{$item.attr_column}>" value="<{$item.attr_value|default:'YYYY-MM-DD'}>">
                                    </div>
                                </div>
                                <{else}>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            <{$item.attr_name}>
                                        </label>
                                        <div class="col-md-4">
                                            <{input type=$item.attr_type name=$item.attr_column value=$item.attr_value}>
                                        </div>
                                    </div>
                                    <{/if}>
                                        <{/foreach}>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-4">
                                                    <button type="submit" data-loading-text="正在提交..." class="btn btn-warning">提交</button>
                                                </div>
                                            </div>
                                            <!-- 会员注册条款modal -->
                                            <div class="modal fade" id="regTerms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                            <h4 class="modal-title" id="myModalLabel">美侍客用户注册协议</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            ...
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">我知道了</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--END 会员注册条款modal -->
            </form>
        </div>
    </div>
</div>
<script>
/*
 * 会员注册脚本
 */

void

function(signup_form) {

    var alert_timer = 0;
    var _alert_error = function(msg) {
        signup_form.find('.alert-error').remove();
        signup_form.append($('<div class="alert alert-danger">' + msg + '</div>'));
        alert_timer = setTimeout(function() {
            clearTimeout(alert_timer);
            signup_form.find('.alert-danger').fadeOut('fast', function() {
                $(this).remove();
            });
        }, 3000);
    }
    /*$('input[type="file"]').fileupload({

        add: function(e, data) {
            if (!data.files[0]['type'].match(/^image/)) {
                alert('非法上传，不是图片类型');
            }
            data.submit();
        },
        done: function(e, data) {
            var re = $.parseJSON(data.result);
            var input = e.target || e.srcElement;
            $(input).next('input').val(re.image_id);
            $(input).next('input').nextAll().removeClass('hide');
        }
    });*/

    $('#input_login_name').on('blur', function(e) {
        var ipt = $(this);
        $.post('<{link app=b2c ctl=site_passport act=check_login_name}>', {
            'pam_account[login_name]': ipt.val()
        }, function(re) {
            if (re.error) {
                ipt.popover({
                    content: re.error,
                    placement: 'right',
                    trigger: 'click',
                    container: 'body'
                });
                ipt.popover('show');
                ipt.closest('.form-group').removeClass('has-success').addClass('has-error');
            } else if (re.success) {
                ipt.closest('.form-group').removeClass('has-error').addClass('has-success');
                if (re.data && re.data.is_mobile) {
                    // $('.local-vcode').hide();
                    // $('.mobile-vcode').show();
                } else {
                    // $('.local-vcode').show();
                    // $('.mobile-vcode').hide();
                }
            }

        }, 'json');
    });
    $('#input_login_name').on('focus', function(e) {
        $(this).popover('destroy');
    });


    signup_form.on('submit', function(e) {
        e.stopPropagation();
        //signup_form.find('button[type=submit]').button('loading');
        $.post(signup_form.prop('action'), signup_form.serialize(), function(re) {
            if (re.error) {
                _alert_error(re.error);
            }
            if (re.success) {
                location = re.redirect;
            }
            signup_form.find('button[type=submit]').button('reset');
        }, 'json');
        return false;
    });

    //获得短信验证码
    var _cutdown_sms = function(btn) {
        btn.addClass('disabled');
        var cutdown = 120,
            btn_o_text = btn.text(),
            timer =
            setInterval((function() {
                btn.text('短信已发送,' + (cutdown--) + '秒后可重试');
                if (cutdown < 1) {
                    clearInterval(timer);
                    btn.text(btn_o_text).removeClass('disabled');
                }
                return arguments.callee;
            })(), 1000);
    };
    signup_form.find('.mobile-vcode button').on('click', function(e) {
        var btn = $(this);
        if (btn.hasClass('disabled')) return;
        btn.addClass('disabled');
        $.post('<{link app=b2c ctl=site_passport act=send_vcode_sms}>', {
            mobile: $('#input_login_name').val()
        }, function(re) {
            if (re && re.error) {
                btn.removeClass('disabled');
                _alert_error(re.error);
            }
            if (re && re.success) {
                _cutdown_sms(btn);
            }
        }, 'json');


    });



}($('#member_signup_form'));




/**
 * 日历插件
 */

// $(".form_datetime").datetimepicker({
//     format: "yyyy-mm-dd hh:ii",    //时间格式
//     autoclose: true,
//     todayBtn: true,
//     pickerPosition: "bottom-left",
//     language:"zh-CN"              //设置中文
// });
</script>

<script type="text/javascript">
/**
 *表单验证
 */
$(function() {
    $.formValidator.initConfig({
        formid: "member_signup_checkInfo_form",
        debug: false,
        errorfocus: true,
    });

    $("#customer_name").formValidator({
        onshow: "",
        onfocus: "请输入客户名称",
        oncorrect: "输入正确"
    }).inputValidator({
        min: 1,
        onerror: "不能为空"
    });

    $("#customer_address").formValidator({
        onshow: "",
        onfocus: "请输入您的地址",
        oncorrect: "输入正确"
    }).inputValidator({
        min: 1,
        onerror: "不能为空"
    });
    $("#company_phone").formValidator({
        onshow: "",
        onfocus: "请输入您的营业电话",
        oncorrect: "输入正确"
    }).inputValidator({
        min: 1,
        onerror: "不能为空"
    }).regexValidator({
        regexp: "mobile",
        datatype: "enum",
        onerror: "你输入的电话号码格式不正确"
    });
    $("#boss_name").formValidator({
        onshow: "",
        onfocus: "请输入老板姓名",
        oncorrect: "输入正确"
    }).inputValidator({
        min: 1,
        onerror: "不能为空"
    });
    /*$("#boss_card_photo").formValidator({
        onshow: "",
        onfocus: "请上传老板名片照",
        oncorrect: "输入正确"
    }).functionValidator({
        fun: function(val,elem){
            var value = $("#boss_card_photo").siblings("input").val();
            console.log(value);
            if(value==""){
                return false;
            }else{
                $('#boss_card_photoTip').class('.onCorrect');
            }
            
        },
        onerror: "不能为空"
    })*/
    $("#boss_phone").formValidator({
        onshow: "",
        onfocus: "请输入老板电话",
        oncorrect: "输入正确"
    }).inputValidator({
        min: 1,
        onerror: "不能为空"
    }).regexValidator({
        regexp: "mobile",
        datatype: "enum",
        onerror: "你输入的电话格式不正确"
    });
    $("#pressing_name").formValidator({
        onshow: "",
        onfocus: "请输入有权联系人姓名",
        oncorrect: "输入正确"
    }).inputValidator({
        min: 1,
        onerror: "不能为空"
    });
    $("#pressing_phone").formValidator({
        onshow: "",
        onfocus: "请输入有权联系人电话",
        oncorrect: "输入正确"
    }).inputValidator({
        min: 1,
        onerror: "不能为空"
    }).regexValidator({
        regexp: "mobile",
        datatype: "enum",
        onerror: "你输入的电话格式不正确"
    });
    $("#market_obj").formValidator({
        onshow: "",
        onfocus: "请输入销售对象",
        oncorrect: "输入正确"
    }).inputValidator({
        min: 1,
        onerror: "不能为空"
    });
    $("#operate_area").formValidator({
        onshow: "",
        onfocus: "请输入经营地面积",
        oncorrect: "输入正确"
    }).inputValidator({
        min: 1,
        onerror: "不能为空"
    }).regexValidator({
        regexp: "decmal4",
        datatype: "enum",
        onerror: "你输入数字不合法"
    });
    $("#goods_stash").formValidator({
        onshow: "",
        onfocus: "请输入冻品存放地址",
        oncorrect: "输入正确"
    }).inputValidator({
        min: 1,
        onerror: "不能为空"
    });
    $("#stash_ability").formValidator({
        onshow: "",
        onfocus: "请输入存放能力",
        oncorrect: "输入正确"
    }).inputValidator({
        min: 1,
        onerror: "不能为空"
    });
    $("#staff_num").formValidator({
        onshow: "",
        onfocus: "请输入员工人数",
        oncorrect: "输入正确"
    }).inputValidator({
        min: 1,
        onerror: "不能为空"
    });
    $("#chain_num").formValidator({
        onshow: "",
        onfocus: "请输入连锁数量",
        oncorrect: "输入正确"
    }).inputValidator({
        min: 1,
        onerror: "不能为空"
    }).regexValidator({
        regexp: "num1",
        datatype: "enum",
        onerror: "你输入数字不合法"
    });


})
</script>
