<div class="reg_progress clearfix">
    <ol>
        <li>
            <span><i>1</i>账户设置</span>
        </li>
        <li class="active">
            <span><i>2</i>基本资料</span>
        </li>
        <li>
            <span><i>3</i>完成注册</span>
        </li>
    </ol>
</div>
<div class="passport-signup-container baseInfo_container clearfix">
    <div class="baseInfo_lt fl">
        <dl>

            <dd <{if $pageIndex eq '1'}>class="active"<{/if}>>
                <a href="#">买家信息</a>
            </dd>
            <dd <{if $pageIndex eq '2'}>class="active"<{/if}>>
                <a href="#">经营信息</a>
            </dd>
            <!-- <dd <{if $pageIndex eq '3'}>class="active"<{/if}>>
                <a href="#">配送信息</a>
            </dd> -->
        </dl>
    </div>
    <div class="baseInfo_rt fr">
        <form id="signup_baseInfo_form" class="form-horizontal" action="<{link app=b2c ctl=site_passport act=business_info args0=$pageIndex}>" method="post" data-module="validator">
            <{foreach from=$conf.page_setting item=item}>
                <{include file="site/passport/baseInfo/{$item}.html" extra=$conf.info}>
            <{/foreach}>
            <div class="form-group">
                <label for="" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <label class="checkbox-inline">
                        <input onclick="return false;" type="checkbox" checked name="" value="1"> 我已阅读并同意
                        <a class="text-danger" data-toggle="modal" data-target="#regTerms">《平台买家章程》</a>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <a href="<{link app=b2c ctl=site_passport act=business_info args0=$pageIndex args1=up}>" data-loading-text="正在提交..." class="btn btn-default">返回上一步</a>
                    <button type="submit" data-loading-text="正在提交..." class="btn btn-danger">信息提交</button>
                </div>
            </div>
            <!-- 会员注册条款modal -->
            <div class="modal fade" id="regTerms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">美侍客用户注册协议</h4>
                        </div>
                        <div class="modal-body">
                            <p>1、云冻品电商平台(以下简称平台)作为全国性大宗冻品分销平台，利用平台自有的遍布全国的冷链物流分拨系统，为各地批发市场、菜场及各类型餐饮用户提供分销服务。</p>
                            <p>2、平台产品由卖家直供，并送至平台自有的冷链设施，平台同时提供配送到门的无鏠冷链配送服务，确保产品直销直供。</p>
                            <p>3、平台用为b2b性质的开放式的专业冻品直销平台，产品的供应对象为：各级批发市场、菜场商户，餐饮、食品行业直接用户。因此，平台采取会员制销售方式，即客户首先要在平台进行会员统一注册后，客户成为买家，平台会为买家提供大宗食品分销服务，确保产品在同等质量同批量同区域中为最低价。平台服务区域范围：全国共建立26个物流区，覆盖21个省、87个地级市平台直销直供产品：鸡产品、鸭产品、猪产品、牛羊产品、海产品(含冷冻河产品)、丸肠水发品、腌腊产品、冰鲜产品、速冻点心、速冻蔬菜、调理品·水煮包·方便菜、粮油产品、调味品、干货产品、儿童食品，共16大类上万个产品品种。</p>
                            <p>4、平台创新型引进了冻品管家服务模式，可以按照买家要求，根据距离远近、专业度、好评度等指标为买家寻找合适的冻品管家，冻品管家可以随时随地帮助买家完成下单、新品定制、在线投诉等工作，提供一对一的贴心管家服务。</p>
                            <p>5、平台为保证买家权益，可以提供货到验收后再付款的支付方式，同时，对于质量问题产品提供3天无条件退换货服务。
                            <p>6、对买家提出的产品特殊定制要求，平台有责任招募相关卖家提供产品分类标准定制服务。</p>
                            <p>7、平台对所销售的产品要求卖家与第三方检测机构合作，提供每批次产品检验检测服务，以便于买家源头追溯。
                            <p>8、买家可以通过电商平台PC端、APP移动端、微商城、CallCenter中心、在线客服等各类系统进行咨询、下单或为与冻品管家24小时在线沟通，方便快捷。</p>
                            <p>9、平台法律声明<br>
                            对于不属于因平台物流不善而导致的产品质量事故，平台将协助买家追偿卖家应付的法律责任。</p>
                            <p>10、买家声明<br>
                            平台买家已知悉并完全理解此章程。</p>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">我知道了</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--END 会员注册条款modal -->
        </form>
        
    </div>
</div>



