<div class="passport-signup-container settled_container">
    <div class="panel-body settled_main">
        <form id="" class="form-horizontal settled_shop_form" action="<{link app=store ctl=admin_store act=checkin}>" method="post">
            <div class="form-group">
                <label for="input_addr" class="col-xs-2 control-label"><span class="text-danger">*</span>店铺类型：</label>
                <div class="col-xs-5">
                    <select class="form-control" disabled name="seller[store_setting][type]">
                        <option value="1">旗舰店</option>
                        <option value="2">品牌店</option>
                        <option value="3">专营店</option>
                        <option value="4">专卖店</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-xs-2 control-label"><span class="text-danger">*</span>店铺名称：</label>
                <div class="col-xs-5" >
                    <input type="text" required="true" class='form-control' disabled value="<{$store_info.store_name}>" placeholder="店铺名称" >
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-2 control-label"><span class="text-danger">*</span>产品大类：</label>
                <div class="col-xs-5" >
                    <select class="form-control" disabled name="seller[store_setting][good_type]">
                        <option value="1">鸡肉类</option>
                        <option value="2">鱼类</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-2 control-label"><span class="text-danger">*</span>详细产品类目：</label>
                <div class="col-xs-5" >
                    <button class="btn btn-default">添加</button>
                    <a href="#">《查看类目费用标准》</a>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-2 control-label"><span class="text-danger">*</span>经营品牌：</label>
                <div class="col-xs-5" >
                    <!-- 无
                    <button class="btn btn-default">品牌添加</button> -->
                    <input type="text" required="true" name="seller[store_brand]" disabled value="<{$store.store_brand}>" class="form-control" placeholder="品牌名称" >
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-2 control-label"><span class="text-danger">*</span>经营产品：</label>
                <div class="col-xs-5" style="margin-top:8px;">
                    <{input type="textarea" disabled name="seller[store_setting][operate_good]" value=$store.operate_good placeholder="经营产品" }>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label"><span class="text-danger">*</span>法人身份证电子版：</label>
                <div class="col-xs-5">
                    <img src="<{$store_info.legal_idcard_image|storager:'x'}>">

                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-xs-2 control-label">审核状态<span class="text-danger">*</span></label>
                <div class="col-xs-5" style="margin-top:5px;">
                    <input type="hidden" name="store[store_id]" value="<{$store_info.store_id}>" />
                    <span style="margin-right:25px;"><input type="radio" required="true" value="1" name="store[status]"/>通过</span>
                    <span><input type="radio" required="true" name="store[status]" value="-1"/>拒绝</span>

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <button type="submit" data-loading-text="正在提交..." class="btn btn-warning">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
$(function() {
    $('input[type="file"]').fileupload({

        add: function(e, data) {
            if (!data.files[0]['type'].match(/^image/)) {
                alert('非法上传，不是图片类型');
            }
            data.submit();
        },
        done: function(e, data) {
            var re = $.parseJSON(data.result);
            var input = e.target || e.srcElement;
            $(input).next('.showImg').append('<input type="hidden" name="'+$(input).attr('input-name')+'" value="'+re.image_id+'" />');
            $(input).next('.showImg').find('img').attr('src',re.url);

        }
    });
});
</script>
