<!-- <ol class="breadcrumb">
  <li><a href="<{link app=site ctl=index}>">首页</a></li>
  <li><a href="<{link app=b2c ctl=site_product args0=$goods_detail.product.product_id}>"><{$goods_detail.name}></a></li>
  <li class="active">评价</li>
</ol>
<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="<{$goods_detail.image_default_id|storager:'s'}>" alt="<{$goods_detail.name}>" />
            <div class="caption">
                <h3><{$goods_detail.name}></h3>
                <p><{$goods_detail.biref}></p>
                <p class="avg-mark">
                    <span class="text-warning"><{$goods_detail.mark_star|star}></span> <small><{$goods_detail.mark_star|number_format:'1'}></small>
                </p>
                <p><a href="<{link app=b2c ctl=site_product args0=$goods_detail.product.product_id}>" class="btn btn-primary" role="button">购买</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <{include file="site/comment/list.html"}>
    </div>
</div> -->

<div class="appraisal_page">
    <div class="page-header">
        <h1>评价列表</h1>
    </div>

    <div class="appra_box">
        <ul class="appra_nav">
            <li <{if $comment_type eq 'all'}>class="active" <{/if}>><a href="<{link app=b2c ctl=site_comment act=show_list args0=all}>">全部评价</a></li>
            <li <{if $comment_type eq '5'}>class="active" <{/if}>><a href="<{link app=b2c ctl=site_comment act=show_list args0=5}>">好评</a></li>
            <li <{if $comment_type eq '4'}>class="active" <{/if}>><a href="<{link app=b2c ctl=site_comment act=show_list args0=4}>">中评</a></li>
            <li <{if $comment_type eq '3'}>class="active" <{/if}>><a href="<{link app=b2c ctl=site_comment act=show_list args0=3}>">差评</a></li>
        </ul>
        <div class="appra_items">
            <dl>
                <dt>
                    <table>
                        <tr>
                            <th colspan="2" width="40%">
                                <!-- <select>
                                    <option>评价</option>
                                    <option>好评</option>
                                    <option>中评</option>
                                    <option>差评</option>
                                </select> -->
                                评价
                            </th>
                            <th width="15%">评价人</th>
                            <th width="30%">宝贝信息</th>
                            <th width="15%">操作</th>
                        </tr>
                    </table>
                </dt>
                <{foreach from=$order item=item}>
                    <{foreach from=$item.items item=i}>
                        <dd>
                            <div class="appra_item">
                                <table>
                                    <tbody>
                                        <tr>
                                            <!-- good  medium -->
                                            <{foreach from=$comment[$i.product_id] item=mark}>
                                                <td width="5%"><span class="appra_status <{if $mark.mark.mark_star eq 5}>good<{elseif $mark.mark.mark_star eq 4}>medium<{else}>poor<{/if}> "></span></td>
                                                <td colspan="2" width="35%">
                                            <{/foreach}>
                                                <{foreach from=$comment[$i.product_id] item=j}>
                                                <div><{$j.content}> <{$j.mark.mark_star}></div>
                                                    <{foreach from=$j['reply'] item=k}>
                                                        <div><{$k.content}></div>
                                                    <{/foreach}>
                                                <{/foreach}>
                                            </td>
                                            <td width="15%">买家:<{$item.member_id}></td>
                                            <td width="30%"><{$i.name}></td>
                                            <td width="15%"><a href="<{link app=b2c ctl=site_comment act=form args0=$i.order_id args1=$i.product_id}>" class="btn btn-xs btn-danger reply_btn">追加评论</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </dd>
                    <{/foreach}>
                <{/foreach}>
            </dl>

        </div>
    </div>
</div>
