<{css app=desktop src="../global/plugins/font-awesome/css/font-awesome.min.css"}>
<{css app=desktop src="../global/plugins/simple-line-icons/simple-line-icons.min.css"}>
<{css app=desktop src="../global/plugins/bootstrap/css/bootstrap.min.css"}>
<{css app=desktop src="../global/plugins/bootstrap-switch/css/bootstrap-switch.min.css"}>
<{css app=desktop src="../global/plugins/bootstrap-datepicker/css/datepicker3.css"}>
<{css app=desktop src="../global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"}>
<{css app=desktop src="../global/plugins/bootstrap-select/bootstrap-select.min.css"}>
<{css app=desktop src="../global/plugins/bootstrap-summernote/summernote.css"}>
<{css app=desktop src="../global/plugins/bootstrap-fileinput/bootstrap-fileinput.css"}>
<{css app=desktop src="../global/plugins/bootstrap-toastr/toastr.min.css"}>

<{css app=desktop src="../global/plugins/uniform/css/uniform.default.css"}>
<{css app=desktop src="../global/plugins/select2/select2.css"}>
<{css app=desktop src="../global/plugins/jquery-file-upload/css/jquery.fileupload.css"}>
<{css app=desktop src="../global/plugins/jquery-tags-input/jquery.tagsinput.css"}>
<{css app=desktop src="../global/css/components.css"}>
<{css app=desktop src="../global/css/plugins.css"}>
<link rel="shortcut icon" href="/favicon.ico"/>

<!--<style>
    body{padding-top:60px !important;};
</style>
<!site header common-->


<{script app=desktop  src="../global/plugins/jquery-migrate.min.js"}>
<{script app=desktop  src="../global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js"}>
<{script app=desktop  src="../global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"}>
<{script app=desktop  src="../global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"}>
<{script app=desktop  src="../global/plugins/jquery.blockui.min.js"}>
<{script app=desktop  src="../global/plugins/uniform/jquery.uniform.min.js"}>
<{script app=desktop  src="../global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"}>
<{script app=desktop  src="../global/plugins/flot/jquery.flot.min.js"}>
<{script app=desktop  src="../global/plugins/flot/jquery.flot.resize.min.js"}>
<{script app=desktop  src="../global/plugins/flot/jquery.flot.categories.min.js"}>
<{script app=desktop  src="../global/plugins/jquery.pulsate.min.js"}>
<{script app=desktop  src="../global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"}>
<{script app=desktop  src="../global/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js"}>
<{script app=desktop  src="../global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"}>
<{script app=desktop  src="../global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"}>
<{script app=desktop  src="../global/plugins/bootbox/bootbox.min.js"}>
<{script app=desktop  src="../global/plugins/bootstrap-toastr/toastr.min.js"}>
<{script app=desktop  src="../global/plugins/bootstrap-select/bootstrap-select.min.js"}>
<{script app=desktop  src="../global/plugins/select2/select2.min.js"}>
<{script app=desktop  src="../global/plugins/bootstrap-summernote/summernote.min.js"}>
<{script app=desktop  src="../global/plugins/bootstrap-summernote/lang/summernote-zh-CN.js"}>
<{script app=desktop  src="../global/plugins/jquery-tags-input/jquery.tagsinput.min.js"}>
<{script app=desktop  src="../global/plugins/jquery-file-upload/js/jquery.iframe-transport.js"}>
<{script app=desktop  src="../global/plugins/jquery-file-upload/js/jquery.fileupload.js"}>
<{script app=desktop  src="../global/scripts/metronic.js"}>
<{script  src="../comm.js"}>
