<!-- 购物清单（小票） -->
<table width='100%'>
    <tr>
        <th class="text-right">
            会员：
        </th>
        <td class="text-left">
            <{if $member_info.name}>
            <{$member_info.name}>
            <{elseif $member_info.uname}>
            <{$member_info.uname}>
            <{elseif $member_info.local_uname}>
            <{$member_info.local_uname}>
            <{elseif $member_info.login_account}>
            <{$member_info.login_account}>
            <{/if}>
        </td>
        <th class="text-right">
            会员级别：
        </th>
        <td class="text-left">
            <{$member_info.levelname}>
        </td>
    </tr>
    <tr>
        <th class="text-right">
            购物时间：
        </th>
        <td class="text-left">
            <{$order.createtime|cdate}>
        </td>
        <th class="text-right">
            订单号：
        </th>
        <td class="text-left">
            <{$order.order_id}>
        </td>
    </tr>

</table>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th>名称</th>
            <th>价格</th>
            <th>数量</th>
            <th>小计</th>

        </tr>
    </thead>
    <tbody>
        <{foreach from=$order.items item=item name="item"}>
            <tr>
                <td>
                    <{$item.name}>&nbsp;
                    <small><{$item.spec_info}></small>
                </td>
                <td><{$item.buy_price|cur}></td>
                <td><{$item.nums}></td>
                <td><{$item.amount|cur}></td>
            </tr>
        <{/foreach}>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <ul class="list-unstyled">
                    <li>积分余额：<{$member_info.integral}></li>
                </ul>
            </td>
            <td>
                <{$order.order_total|cur}>
            </td>
        </tr>
    </tfoot>
</table>
