<div class="modal-header" data-type="1">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" required="true"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">原种种源标准指标</h4>
</div>
<!--<form method="post" action="<{link app=seller ctl=site_passport act=addBlock}>">-->
    <!--<input name="type" type="hidden" value="apt_prove"/>-->
    <!--<input name="cat_id" type="hidden" value="<{$cat_id}>"/>-->
<div class="modal-body" data-readonly="readonly">
    <div class="table_scroll">
        <table class="table-hover">
            <thead>
                <tr>
                    <th width="20%" rowspan="2">指标内容</th>
                    <th width="80%" colspan="3">等级</th>
                </tr>
                <tr>
                    <th><input type="radio" name="ck_radio" class="apt_ck" data-value="0"> 优良</th>
                    <th><input type="radio" name="ck_radio" class="apt_ck" data-value="1" checked="checked"> 一般</th>
                    <th><input type="radio" name="ck_radio" class="apt_ck" data-value="2"> 较差</th>
                </tr>
            </thead> 
            <tbody>
            <{foreach from=$card.orgList item=item}>
                <tr><!-- orgStdItemId-->
                    <td><{$item.orgStdItemName}></td>
                    <td >
                        <textarea name="excellent[skin]"><{$item.goodVal}>
                        </textarea>
                    </td>
                    <td>
                        <textarea name="good[skin]"><{$item.normalVal}>
                        </textarea>
                    </td>
                    <td>
                        <textarea name="poor[skin]"><{$item.badVal}>
                        </textarea>
                    </td>
                </tr>
            <{/foreach}>
            </tbody>
        </table>
    </div>
    <div class="agree">
        <input type="checkbox" checked="checked" disabled="disabled"> 我同意该产品原种种源标准指标</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default confirm-<{$cat_id}>" data-dismiss="modal">确定</button>
</div>
<!--</form>
data-dismiss="modal"-->