<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" required="true"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">产品通用质量标准</h4>
</div>
<div class="modal-body" data-readonly="readonly">
    <div class="table_scroll">
        <table table-hover>
            <thead>
                <tr>
                    <th>指标内容</th>
                    <th>合格</th>
                    <th>不合格</th>
                </tr>
            </thead>
            <tbody>
                <tr class="par_row">
                    <td colspan="3">理化指标</td>
                </tr>
                <tr>
                    <td>水份含量指标</td>
                    <td>
                        <textarea name="gnqOkValArray">≤77%
                        </textarea>
                    </td>
                    <td>
                        <textarea name="gnqNgValArray">＞77%
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td>其他理化指标</td>
                    <td>
                        <textarea name="gnqOkValArray">&mdash;&mdash;
                        </textarea>
                    </td>
                    <td>
                        <textarea name="gnqNgValArray">&mdash;&mdash;
                        </textarea>
                    </td>
                </tr>
                <tr class="par_row">
                    <td colspan="3">新鲜度指标</td>
                </tr>
                <tr>
                    <td>挥发性盐基氮</td>
                    <td>
                        <textarea name="gnqOkValArray">≤15mg/100g
                        </textarea>
                    </td>
                    <td>
                        <textarea name="gnqNgValArray">＞15mg/100g
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td>PH值</td>
                    <td>
                        <textarea name="gnqOkValArray">pH值：5.8-6.6
                        </textarea>
                    </td>
                    <td>
                        <textarea name="gnqNgValArray"> pH值＞6.6
                        </textarea>
                    </td>
                </tr>


                <tr class="par_row">
                    <td colspan="3">解冻后感官指标</td>
                </tr>
                <tr>
                    <td>解冻后感官指标</td>
                    <td width="25%">
                        <textarea name="gnqOkValArray">1.眼球：饱满平坦 2.皮肤：有光泽；呈现品种应有颜色 3.粘度：表面微湿润，不沾手 4.肌肉：丰满，紧密 5.恢复性：指压后的凹陷恢复慢，且不能完全恢复 6.气味：正常的气味
                        </textarea>
                    </td>
                    <td width="25%">
                        <textarea name="gnqNgValArray">1.眼球：干缩凹陷，晶状体混浊 2.皮肤：体表无光泽，头颈部有暗褐色 3.粘度：表面或干燥或粘腻；新切面粘手 4.肌肉：骨肉软散 5.恢复性：指压后凹陷不能恢复，且鸡肉易被戳破。 6.气味：无其他异味，唯腹腔内有轻度不快感
                        </textarea>
                    </td>
                </tr>

                <tr class="par_row">
                    <td colspan="3">煮后滋气味指标</td>
                </tr>
                <tr>
                    <td>煮后滋气味指标</td>
                    <td>
                        <textarea name="gnqOkValArray">1.汤色透明、澄清 2.具特有香味
                        </textarea>
                    </td>
                    <td>
                        <textarea name="gnqNgValArray">1.汤色混浊 2.香味差或无鲜味
                        </textarea>
                    </td>
                </tr>
                
                <tr class="par_row">
                    <td colspan="3">异物指标</td>
                </tr>
                <tr>
                    <td>异物指标</td>
                    <td>
                        <textarea name="gnqOkValArray">无金属、沙粒、木屑、软硬塑料，各种纤维线，纸屑、毛发、玻璃虫害、饲料粒、鸡毛等非原料鸡肉成分
                        </textarea>
                    </td>
                    <td>
                        <textarea name="gnqNgValArray"> 有非原料异物成分
                        </textarea>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="agree"><input type="checkbox" checked="checked" disabled="disabled"> 我同意该产品通用质量标准</div>
</div>
<div class="modal-footer apt_common">
    <button type="button" class="btn btn-default confirm-<{$cat_id}>" data-dismiss="modal">确定</button>
</div>
