<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" required="true"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">原种种源标准指标</h4>
</div>
<div class="modal-body" data-readonly="readonly">
    <div class="table_scroll">
        <table table-hover>
            <thead>
                <tr>
                    <th width="20%" rowspan="2">指标内容</th>
                    <th width="80%" colspan="3">等级</th>
                </tr>
                <tr>
                    <th>优良</th>
                    <th>一般</th>
                    <th>较差</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>皮肤，肉质，脂肪指标标准</td>
                    <td>
                        <textarea>1.皮肤：细腻，棕黄 2.肉质：结实，有弹性，胸肌发达 3.脂肪：色泽金黄，丰富，分布均匀
                        </textarea>
                    </td>
                    <td>
                        <textarea>1.皮肤：细腻，淡黄
2.肉质：结实，有弹性，胸肌发达
3.脂肪：色泽金黄，丰富，分布均匀</textarea>
                    </td>
                    <td>
                        <textarea>1.皮肤：松弛，毛孔较粗
2.肉质：肥厚不结实
3.脂肪：较少，颜色偏淡</textarea>
                    </td>
                </tr>
                <tr>
                    <td>肌肉颜色标准指标</td>
                    <td>
                        <textarea>鲜红色</textarea>
                    </td>
                    <td>
                        <textarea>深红色</textarea>
                    </td>
                    <td>
                        <textarea>深红色</textarea>
                    </td>
                </tr>
                <tr>
                    <td>肌肉系水率标准指标</td>
                    <td>
                        <textarea>持水能力≥66%</textarea>
                    </td>
                    <td>
                        <textarea>持水能力≥62%</textarea>
                    </td>
                    <td>
                        <textarea>持水能力＜60%</textarea>
                    </td>
                </tr>
                <tr>
                    <td>肌肉失水率标准指标</td>
                    <td>
                        <textarea>1、汁液流失≤3.0%；
2、加压失水率≤40.0%；
3、离心损失≤15.0%；</textarea>
                    </td>
                    <td>
                        <textarea>1、汁液流失≤3.0%；
2、加压失水率≤40.0%；
3、离心损失≤15.0%；</textarea>
                    </td>
                    <td>
                        <textarea>1、汁液流失＞3.0%；
2、加压失水率＞40.0%；
3、离心损失＞15.0%；</textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="agree"><input type="checkbox" checked="checked" disabled="disabled"> 我同意该产品原种种源标准指标</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default confirm-<{$cat_id}>" data-dismiss="modal">确定</button>
</div>
