<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" required="true"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">产品安全标准指标</h4>
</div>

<!--<form method="post" action="<{link app=seller ctl=site_passport act=addBlock}>">-->
    <!--<input name="type" type="hidden" value="apt_safety"/>-->
    <!--<input name="cat_id" type="hidden" value="<{$cat_id}>"/>-->
<div class="modal-body" data-readonly="readonly">
    <div class="table_scroll" >
        <table class="table-hover">
            <thead>
                <tr>
                    <th>指标内容</th>
                    <th>合格</th>
                    <th>不合格</th>
                </tr>
            </thead>
            <tbody>
            <{foreach from=$card.sftList item=items}>
                <tr class="par_row"><!--sftStdClaId -->
                    <td colspan="3"><{$items.sftStdClaName}></td>
                </tr>
                <tr>
                    <{foreach from=$items.sftStdSublist item=item}>
                    <td><{$item.sftStdClaName}></td>
                    <td>
                        <textarea name="qualified[one_class]"><{$item.okVal}>
                        </textarea>
                    </td>
                    <td>
                        <textarea name="unqualified[one_class]"><{$item.ngVal}>
                        </textarea>
                    </td>
                    <{/foreach}>
                </tr>
            <{/foreach}>
            </tbody>
        </table>
    </div>
    <div class="agree"><input type="checkbox" checked="checked" disabled="disabled"> 我同意该产品安全标准指标</div>
</div>
<div class="modal-footer apt_safety">
    <button type="button" class="btn btn-default confirm-<{$cat_id}>" data-dismiss="modal">确定</button>
</div>
<!--</form>
-->