<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" required="true"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">储存运输标准指标</h4>
</div>
<div class="modal-body" data-readonly="readonly">
    <div class="table_scroll">
        <table table-hover>
            <thead>
                <tr>
                    <th>指标内容</th>
                    <th>合格</th>
                    <th>不合格</th>
                </tr>
            </thead>
            <tbody>
                <tr class="par_row">
                    <td colspan="3">储存指标</td>
                </tr>
                <tr>
                    <td>冰库温度指标</td>
                    <td>
                        <textarea>—18度～—22度</textarea>
                    </td>
                    <td>
                        <textarea>-16度以上</textarea>
                    </td>
                </tr>
                <tr>
                    <td>冷库温度指标</td>
                    <td>
                        <textarea>湿度：75%～85%</textarea>
                    </td>
                    <td>
                        <textarea>湿度：＜75%或＞85%</textarea>
                    </td>
                </tr>
                <tr>
                    <td>制冷方式指标</td>
                    <td>
                        <textarea>液氨、盘管</textarea>
                    </td>
                    <td>
                        <textarea>水冷</textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer apt_transport">
    <button type="button" class="btn btn-default abolish-<{$cat_id}>" data-dismiss="modal">取消</button>
    <button type="button" class="btn btn-default confirm-<{$cat_id}>" data-dismiss="modal">确定</button>
</div>
