<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" required="true"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">储存运输标准指标</h4>
</div>
<!--<form method="post" action="<{link app=seller ctl=site_passport act=addBlock}>">-->
    <!--<input name="type" type="hidden" value="apt_transport"/>-->
    <!--<input name="cat_id" type="hidden" value="<{$cat_id}>"/>-->
<div class="modal-body" data-readonly="readonly">
    <div class="table_scroll">
        <table class="table-hover">
            <thead>
                <tr>
                    <th>指标内容</th>
                    <th>合格</th>
                    <th>不合格</th>
                </tr>
            </thead>
            <tbody>
                <tr class="par_row">
                    <td colspan="3">储存指标</td>
                </tr>
                <tr>
                    <td>冰库温度指标</td>
                    <td>
                        <textarea name="qualified[temp]">—18度～—22度</textarea>
                    </td>
                    <td>
                        <textarea name="unqualified[temp]">-16度以上</textarea>
                    </td>
                </tr>
                <tr>
                    <td>冷库温度指标</td>
                    <td>
                        <textarea name="qualified[cold]">湿度：75%～85%</textarea>
                    </td>
                    <td>
                        <textarea name="unqualified[cold]">湿度：＜75%或＞85%</textarea>
                    </td>
                </tr>
                <tr>
                    <td>制冷方式指标</td>
                    <td>
                        <textarea name="qualified[refrigeration]">液氨、盘管</textarea>
                    </td>
                    <td>
                        <textarea name="unqualified[refrigeration]">水冷</textarea>
                    </td>
                </tr>
                <tr>
                    <td>储存状况指标</td>
                    <td>
                        <textarea name="qualified[store]">不得与有异味产品混放</textarea>
                    </td>
                    <td>
                        <textarea name="unqualified[store]">与其他产品混放导致异味</textarea>
                    </td>
                </tr>

                <tr class="par_row">
                    <td colspan="3">运输指标</td>
                </tr>
                <tr>
                    <td>运输前处置指标</td>
                    <td>
                        <textarea name="qualified">装车前预冷，温度18度以下</textarea>
                    </td>
                    <td>
                        <textarea name="unqualified">装车温度超过18度</textarea>
                    </td>
                </tr>
                <tr>
                    <td>运输工具指标</td>
                    <td>
                        <textarea name="qualified[transport]">冷冻车或冷藏车</textarea>
                    </td>
                    <td>
                        <textarea name="unqualified[transport]">厢式货车</textarea>
                    </td>
                </tr>
                <tr>
                    <td>运输过程管控指标</td>
                    <td>
                        <textarea name="qualified[control]">全程制冷，保持车厢温度-10度以下</textarea>
                    </td>
                    <td>
                        <textarea name="unqualified[control]">车厢温度-10度以上</textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="agree"><input type="checkbox" checked="checked" disabled="disabled"> 我同意该产品储存运输标准指标</div>
</div>
<div class="modal-footer apt_transport">
    <button type="button" class="btn btn-default confirm-<{$cat_id}>" data-dismiss="modal">确定</button>
</div>
<!--</form>-->
<!---->
