<div class="modal-header" data-type="4">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" required="true"><span
            aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">产品加工质量标准指标</h4>
</div>
<!--<form method="post" action="<{link app=seller ctl=site_passport act=addBlock}>">-->
    <!--<input name="type" type="hidden" value="apt_quality"/>-->
    <!--<input name="cat_id" type="hidden" value="<{$cat_id}>"/>-->

    <div class="modal-body" data-readonly="readonly">
        <div class="table_scroll">
            <table class="table-hover">
                <thead>
                <tr>
                    <th>指标目录</th>
                    <th><input type="radio" name="ck_radio" class="apt_ck" data-value="0">A1级技术标准(准入日)</th>
                    <th><input type="radio" name="ck_radio" class="apt_ck" data-value="1" checked="checked">A2级技术标准(准入日)</th>
                    <th><input type="radio" name="ck_radio" class="apt_ck" data-value="2">A3级技术标准(准入日)</th>
                </tr>
                </thead>
                <tbody>
                <{foreach from=$card.tncList item=item}>
                <tr class="par_row"><!-- tncStdItemId-->
                    <td colspan="4"><{$item.tncStdItemName}></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <textarea name="content1[water]"><{$items.goodVal}></textarea>
                    </td>
                    <td>
                        <textarea name="content2[water]"><{$items.normalVal}></textarea>
                    </td>
                    <td>
                        <textarea name="content3[water]"><{$items.badVal}></textarea>
                    </td>

                </tr>
                <{/foreach}>
                </tbody>
            </table>
        </div>
        <div class="agree"><input type="checkbox" checked="checked" disabled="disabled"> 我同意该产品加工质量标准指标</div>
    </div>
    <div class="modal-footer apt_quality">
        <button type="button" class="btn btn-default confirm-<{$cat_id}>" data-dismiss="modal">确定</button>
    </div>
<!-- <form/>
-->