<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" required="true"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">产品加工质量标准指标</h4>
</div>
<div class="modal-body" data-readonly="readonly">
    <div class="table_scroll">
        <table table-hover>
            <thead>
                <tr>
                    <th>指标目录</th>
                    <th>A1级技术标准(准入日)</th>
                    <th>A2级技术标准(准入日)</th>
                    <th>A3级技术标准(准入日)</th>
                </tr>
            </thead>
            <tbody>
                <tr class="par_row">
                    <td colspan="4">产品解冻失水率指标（包冰率指标）</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <textarea>≤6.5%</textarea>
                    </td>
                    <td>
                        <textarea>≤7%</textarea>
                    </td>
                    <td>
                        <textarea>≤7.5%</textarea>
                    </td>
                </tr>
                <tr class="par_row">
                    <td colspan="4">产品均匀度指标</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <textarea>单个产品重量误差范围：±30g</textarea>
                    </td>
                    <td>
                        <textarea>单个产品重量误差范围：±50g</textarea>
                    </td>
                    <td>
                        <textarea>单个产品重量误差范围：±50g</textarea>
                    </td>
                </tr>
                <tr class="par_row">
                    <td colspan="4">产品感官指标</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <textarea>硬杆毛:无硬杆毛 淤血:无淤血 折腿率:无折腿
                        </textarea>
                    </td>
                    <td>
                        <textarea>硬杆毛:硬杆毛轻度超标 淤血:淤血轻度超标 折腿率:折腿率轻度超标
                        </textarea>
                    </td>
                    <td>
                        <textarea>硬杆毛:硬杆毛轻度超标 淤血:淤血轻度超标 折腿率:折腿率轻度超标
                        </textarea>
                    </td>
                </tr>
                <tr class="par_row">
                    <td colspan="4">加工净率指标</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <textarea>1、汁液流失≤3.0%； 2、加压失水率≤40.0%； 3、离心损失≤15.0%；
                        </textarea>
                    </td>
                    <td>
                        <textarea>1、汁液流失≤3.0%； 2、加压失水率≤40.0%； 3、离心损失≤15.0%；
                        </textarea>
                    </td>
                    <td>
                        <textarea>1、汁液流失＞3.0%； 2、加压失水率＞40.0%； 3、离心损失＞15.0%；
                        </textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    <button type="button" class="btn btn-primary" data-save="category_save">保存</button>
</div>
