<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" required="true"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">产品通用质量标准</h4>
</div>
<div class="modal-body" data-readonly="readonly">
    <div class="table_scroll">
        <table table-hover>
            <thead>
                <tr>
                    <th>指标内容</th>
                    <th>合格</th>
                    <th>不合格</th>
                </tr>
            </thead>
            <tbody>
                <tr class="par_row">
                    <td colspan="3">理化指标</td>
                </tr>
                <tr>
                    <td>水份含量指标</td>
                    <td>
                        <textarea>≤77%
                        </textarea>
                    </td>
                    <td>
                        <textarea>＞77%</textarea>
                    </td>
                </tr>
                <tr>
                    <td>其他理化指标</td>
                    <td>
                        <textarea>≤77%
                        </textarea>
                    </td>
                    <td>
                        <textarea>＞77%</textarea>
                    </td>
                </tr>
                <tr class="par_row">
                    <td colspan="3">理化指标</td>
                </tr>
                <tr>
                    <td>水份含量指标</td>
                    <td>
                        <textarea name="">≤77%
                        </textarea>
                    </td>
                    <td>
                        <textarea>＞77%</textarea>
                    </td>
                </tr>
                <tr>
                    <td>其他理化指标</td>
                    <td>
                        <textarea>≤77%
                        </textarea>
                    </td>
                    <td>
                        <textarea>＞77%</textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="agree"><input type="checkbox" checked="checked" disabled="disabled"> 我同意该产品通用质量标准</div>
</div>
<div class="modal-footer apt_common">
    <button type="button" class="btn btn-default confirm-<{$cat_id}>" data-dismiss="modal">确定</button>
</div>
