<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" required="true"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">产品加工技术标准指标</h4>
</div>
<div class="modal-body" data-readonly="readonly">
    <div class="table_scroll">
        <table class="table-hover">
            <thead>
                <tr>
                    <th width="30%" rowspan="2">指标内容</th>
                    <th width="70%" colspan="2">等级</th>
                </tr>
                <tr>
                    <th>合格</th>
                    <th>不合格</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>冷冻工艺指标</td>
                    <td>
                        <textarea name="mctOkValArray">冷冻形式:7只、8只板冻，14只独立包装，单冻 冷冻设备:急冻库速冻
                        </textarea>
                    </td>
                    <td>
                        <textarea name="mctNgValArray">冷冻形式:7只、8只单冻，14只板冻 冷冻设备:
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td>工艺流程关键点指标</td>
                    <td>
                        <textarea name="mctOkValArray">预冷设备:螺旋预冷机 预冷时间:40分钟以内 产品中心温度:产品中心温度&mdash;18度以下
                        </textarea>
                    </td>
                    <td>
                        <textarea name="mctNgValArray">预冷设备:不预冷 预冷时间:45分钟以上 产品中心温度:产品中心温度&mdash;18度以上
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td>配方指标</td>
                    <td>
                        <textarea name="mctOkValArray"> &mdash;&mdash; </textarea>
                    </td>
                    <td>
                        <textarea name="mctNgValArray"> &mdash;&mdash; </textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="agree">
        <input type="checkbox" checked="checked" disabled="disabled"> 我同意该产品加工技术标准指标</div>
</div>
<div class="modal-footer apt_technology">
    <button type="button" class="btn btn-default confirm" id="confirm-<{$cat_id}>" data-dismiss="modal">确定</button>
</div>
