<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" required="true"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">产品原种饲养标准指标</h4>
</div>
<div class="modal-body" data-readonly="readonly">
    <div class="table_scroll">
        <table table-hover>
            <thead>
                <tr>
                    <th width="20%" rowspan="2">指标内容</th>
                    <th width="80%" colspan="3">等级</th>
                </tr>
                <tr>
                    <th>优良</th>
                    <th>一般</th>
                    <th>较差</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>幼苗季节性标准指标</td>
                    <td>
                        <textarea name="fedGoodValArray">春雏</textarea>
                    </td>
                    <td>
                        <textarea name="fedNormalValArray">晚春雏</textarea>
                    </td>
                    <td>
                        <textarea name="fedBadValArray">冬雏</textarea>
                    </td>
                    <td style="display:none;">
                        <input type="hidden" value="i01" id="fedStdItemIdArray" name="fedStdItemIdArray">
                    </td>
                </tr>
                <tr>
                    <td>饲养方式标准指标</td>
                    <td>
                        <textarea name="fedGoodValArray">散养</textarea>
                    </td>
                    <td>
                        <textarea name="fedNormalValArray">半饲养</textarea>
                    </td>
                    <td>
                        <textarea name="fedBadValArray">笼养</textarea>
                    </td>
                    <td style="display:none;">
                        <input type="hidden" value="i02" id="fedStdItemIdArray" name="fedStdItemIdArray">
                    </td>
                </tr>
                <tr>
                    <td>饲养地点、温湿度标准指标</td>
                    <td>
                        <textarea name="fedGoodValArray">环境广，污染少（山林、草原） 5~27摄氏度，60~70%
                        </textarea>
                    </td>
                    <td>
                        <textarea name="fedNormalValArray">饲养环境较小，有一定污染（人口聚集、有工业生产） 5~27摄氏度，60~70%
                        </textarea>
                    </td>
                    <td>
                        <textarea name="fedBadValArray">饲养环境小或污染严重（雾霾严重，禽舍空气不通风）</textarea>
                    </td>
                    <td style="display:none;">
                        <input type="hidden" value="i03" id="fedStdItemIdArray" name="fedStdItemIdArray">
                    </td>
                </tr>
                <tr>
                    <td>饲料种类，喂养情况标准指标</td>
                    <td>
                        <textarea name="fedGoodValArray">天然饲料</textarea>
                    </td>
                    <td>
                        <textarea name="fedNormalValArray">浓缩复合饲料</textarea>
                    </td>
                    <td>
                        <textarea name="fedBadValArray">含有水产类饲料（易使鸡肉带腥味）</textarea>
                    </td>
                    <td style="display:none;">
                        <input type="hidden" value="i04" id="fedStdItemIdArray" name="fedStdItemIdArray">
                    </td>
                </tr>
                <tr>
                    <td>生长周期标准指标</td>
                    <td>
                        <textarea name="fedGoodValArray">生长周期49天</textarea>
                    </td>
                    <td>
                        <textarea name="fedNormalValArray">生长周期45-49天</textarea>
                    </td>
                    <td>
                        <textarea name="fedBadValArray">生长周期45天</textarea>
                    </td>
                    <td style="display:none;">
                        <input type="hidden" value="i05" id="fedStdItemIdArray" name="fedStdItemIdArray">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="agree">
        <input type="checkbox" checked="checked" disabled="disabled"> 我同意该产品原种饲养标准指标</div>
</div>
<div class="modal-footer apt_raise">
    <button type="button" class="btn btn-default confirm-<{$cat_id}>" data-dismiss="modal">确定</button>
</div>
