<!-- 原种 -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" required="true"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">产品包装信息</h4>
</div>
<div class="modal-body" data-readonly="readonly">
    <div class="form-group">
        <label class="control-label col-xs-2">
            <span class="text-danger"></span>单个产品规格净重
        </label>
        <div class="col-xs-5">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">
            <span class="text-danger"></span>单个产品规格净重误差范围
        </label>
        <div class="col-xs-5">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">
            <span class="text-danger"></span>内包装净重/个数
        </label>
        <div class="col-xs-5">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">
            <span class="text-danger"></span>内包装尺寸
        </label>
        <div class="col-xs-5">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">
            <span class="text-danger"></span>内包装材质及技术标准
        </label>
        <div class="col-xs-5">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">
            <span class="text-danger"></span>外包装规格
        </label>
        <div class="col-xs-5">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">
            <span class="text-danger"></span>外包装净重/毛重
        </label>
        <div class="col-xs-5">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">
            <span class="text-danger"></span>外包装尺寸
        </label>
        <div class="col-xs-5">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">
            <span class="text-danger"></span>外包装材质及技术标准
        </label>
        <div class="col-xs-5">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">
            <span class="text-danger"></span>内包装净重数值
        </label>
        <div class="col-xs-5">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">
            <span class="text-danger"></span>外包装净重数值
        </label>
        <div class="col-xs-5">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">
            <span class="text-danger"></span>外包装毛重数值
        </label>
        <div class="col-xs-5">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">
            <span class="text-danger"></span>外包装长度
        </label>
        <div class="col-xs-5">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">
            <span class="text-danger"></span>外包装宽度
        </label>
        <div class="col-xs-5">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">
            <span class="text-danger"></span>外包装高度
        </label>
        <div class="col-xs-5">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">
            <span class="text-danger"></span>外包装体积:
        </label>
        <div class="col-xs-5">
            <input type="text" class="form-control">
        </div>
    </div>
</div>
<div class="modal-footer apt_pack">
    <button type="button" class="btn btn-default abolish-<{$cat_id}>" data-dismiss="modal">取消</button>
    <button type="button" class="btn btn-default confirm-<{$cat_id}>" data-dismiss="modal">确定</button>
    <!-- <button type="button" class="btn btn-primary" data-save="category_save">保存类目</button> -->
</div>