<div class="modal-header" data-type="5">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" required="true"><span
            aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">产品通用质量标准</h4>
</div>
<!--<form method="post" action="<{link app=seller ctl=site_passport act=addBlock}>">-->
    <!--<input name="type" type="hidden" value="apt_common"/>-->
    <!--<input name="cat_id" type="hidden" value="<{$cat_id}>"/>-->

    <div class="modal-body" data-readonly="readonly">
        <div class="table_scroll">
            <table table-hover>
                <thead>
                <tr>
                    <th>指标内容</th>
                    <th><input type="radio" name="ck_radio" class="apt_ck" data-value="0" checked="checked">合格</th>
                    <th><input type="radio" name="ck_radio" class="apt_ck" data-value="1">不合格</th>
                </tr>
                </thead>
                <tbody>
                <{foreach from=$card.gnqList item=items}>
                <tr class="par_row"><!--gnqStdClaId -->
                    <td colspan="3"><{$items.gnqStdClaName}></td>
                </tr>
                <tr><!-- gnqStdItemId-->
                    <{foreach from=$items.gnqStdSublist item=item}>
                    <td><{$item.gnqStdClaName}></td>
                    <td>
                        <textarea name="qualified[water]"><{$item.okVal}>
                        </textarea>
                    </td>
                    <td>
                        <textarea name="unqualified[water]"><{$item.ngVal}>
                        </textarea>
                    </td>
                    <{/foreach}>
                </tr>
                <{/foreach}>
                </tbody>
            </table>
        </div>
        <div class="agree"><input type="checkbox" checked="checked" disabled="disabled"> 我同意该产品通用质量标准</div>
    </div>
    <div class="modal-footer apt_common">
        <button type="button" class="btn btn-default confirm-<{$cat_id}>" data-dismiss="modal">确定</button>
    </div>
<!--</form>-->
<!---->
