<menus>    
    
     <menugroup label="个人中心" name="buyer">
        <menu app='buyer' controller='site_buyer' action='buyer_info' display='true' order="60">个人信息</menu>
        <menu app='buyer' controller='site_buyer' action='reset_password' display='true' order="60">修改密码</menu>
        <menu app='buyer' controller='site_buyer' action='buyer_security' display='true' order="60">账户安全</menu>
        <menu app='buyer' controller='site_buyer' action='message' display='true' order="60">站内消息</menu>
    </menugroup>
    
    <menugroup label="商品管理" name="goods">
        <menu app='buyer' controller='site_goods' action='index' display='true' order="60">出货管理</menu>
        <menu app='buyer' controller='site_accounts' action='index' display='true' order="60">结算管理</menu>
        <menu app='buyer' controller='site_goods' action='stock' display='true' order="60">进货管理</menu>
    </menugroup>

    <menugroup label="库存管理" name="goods">
        <menu app='buyer' controller='site_goods' action='repertory' display='true' order="60">库存管理</menu>
    </menugroup>

    <menugroup label="冻品管家管理" name="manager">
        <menu app='buyer' controller='site_manager' action='index' display='true' order="60">冻品管家管理</menu>
        <menu app='buyer' controller='site_manager' action='manager_signup' display='true' order="60">管家注册</menu>
        <menu app='buyer' controller='site_manager' action='certification' display='true' order="60">资质信息</menu>
        <menu app='buyer' controller='site_manager' action='feat' display='true' order="60">业绩查询</menu>
    </menugroup>
    
</menus>
