<style>
#companyInfo_form .uploader {
    overflow: hidden;
    position: relative;
    background: none;
    height:auto;
}

#companyInfo_form .uploader .handle,
#companyInfo_form .uploader .thumb {
    cursor: pointer;
}

#companyInfo_form .uploader .thumb {
    height: 120px;
    width: 120px;
    border: 1px solid #CCC;
    overflow: hidden;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#companyInfo_form .uploader .thumb span.loading {
    font-size: 30px;
}

#companyInfo_form .uploader .thumb img {
    display: block;
    margin: auto;
    max-height: 118px;
    max-width: 118px;
}

#companyInfo_form .uploader .handle {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    width: 120px;
    height: 120px;
}

#companyInfo_form .uploader label.right {
    display: inline-block;
    position: absolute;
    left: 130px;
    min-height: 16px;
    top: 45px;
}
span.msgTip{
    display: none;
}
</style>
<div class="passport-signup-container seller_regbox">
    <div class="panel panel-default signup-panel clearfix">
        <div class="panel-body">
            <form id="companyInfo_form" action="<{link app=seller ctl=site_passport act=entry}>" class="form-horizontal companyInfo_form" method="post" data-module="validator">
                <h3><{$pageSet.companyType}>  <small> <{$pageSet.label}></small></h3>
                <input type="hidden" name="typeId" value="<{$pageSet.typeId}>" />
                <input type='hidden' name='pageIndex' value='<{$pageIndex}>' />
                <!-- 三证合一 -->
                <{foreach from=$pageSet.page key=key item=item}>
                <{include file="site/passport/companyInfo/{$item}.html" extra=$info.company_extra}>
                <{/foreach}>
                <hr>
                <div class="form-group">
                    <label class="col-xs-2"></label>
                    <div class="col-xs-4">
                        <a href="index.php?app=seller&ctl=admin_seller&act=detail&p[0]=<{$seller_id}>&p[1]=<{$pageIndex}>&p[2]=<{$storeType}>&p[3]=up" <{if $pageIndex eq '1'}> disabled <{/if}>  class="btn btn-default">上一页</a>
                        <a href="index.php?app=seller&ctl=admin_seller&act=detail&p[0]=<{$seller_id}>&p[1]=<{$pageIndex}>&p[2]=<{$storeType}>&p[3]=dn"class="btn btn-danger" <{if $disabled eq 'disabled'}> disabled <{/if}> style="margin-left: 20px;">下一页</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function(e){
    var type = '<{$checked}>';
    if(type == 'checked'){
        $('#companyInfo_form').find('input, select, button').prop('disabled', 'true');
    }
});

</script>
