<div class="content add_security">
	<div class="page-header">
        <h1>添加密保</h1>
    </div>
	<div class="list-unstyled row process-bar">
	    <div class="col-xs-4 tab active" id="tab1"><div class="well well-sm">验证手机</div></div>
	    <div class="col-xs-4 tab" id="tab2"><div class="well well-sm">设置密保问题</div></div>
	    <div class="col-xs-4 tab" id="tab3"><div class="well well-sm">密保设置成功</div></div>
	</div>
	<div class="con check-mobile" id="con1">
		<form class="form-horizontal" id="check_mobile_form">
			<div class="form-group">
				<label class="col-sm-2 control-label"><em class="text-danger">*</em> 已绑定手机</label>
				<div class="col-sm-4">
				    <input type="text" class="form-control" value="15645435567">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"><em class="text-danger">*</em> 验证码</label>
				<div class="col-sm-2">
				    <input type="text" class="form-control">
				</div>
				<div class="col-sm-2">
				    <button class="btn btn-default" href="">获取验证码</button>
				</div>
			</div>
			<div class="form-group submit-opt">
				<div class="col-sm-offset-2 col-sm-10">
				    <button type="submit" class="btn btn-success">下一步</button>
				</div>
			</div>
		</form>
	</div>
	<div class="con set-secquestion" id="con2">
		<form class="form-horizontal" id="set_secquestion_form">
			<div class="form-group">
				<label class="col-sm-2 control-label">问题一:</label>
				<div class="col-sm-4">
				    <select class="form-control">
					  	<option>请选择问题</option>
					  	<option>问题1</option>
					  	<option>问题2</option>
					  	<option>问题3</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">答案:</label>
				<div class="col-sm-4">
				    <input type="text" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">问题二:</label>
				<div class="col-sm-4">
				    <select class="form-control">
					  	<option>请选择问题</option>
					  	<option>问题1</option>
					  	<option>问题2</option>
					  	<option>问题3</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">答案:</label>
				<div class="col-sm-4">
				    <input type="text" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">问题三:</label>
				<div class="col-sm-4">
				    <select class="form-control">
					  	<option>请选择问题</option>
					  	<option>问题1</option>
					  	<option>问题2</option>
					  	<option>问题3</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">答案:</label>
				<div class="col-sm-4">
				    <input type="text" class="form-control">
				</div>
			</div>
			<div class="form-group submit-opt">
				<div class="col-sm-offset-2 col-sm-10">
				    <button type="submit" class="btn btn-success">下一步</button>
				</div>
			</div>
		</form>
	</div>
	<div class="con setsecquestion-alert" id="con3">
		<div class="content text-center">
			<img src="../../themes/pc/default/statics/images/icon-success.png">
			<span>添加成功，请牢记密保问题答案</span>
		</div>
	</div>
</div>
<script type="text/javascript">
    (function(){
        $('.process-bar .tab').on("click",function(){
            var target_this = $(this);
            var index = this.id.replace('tab','');
            var par_sec = target_this.parents('.add_security');
            switch_tab(target_this,par_sec,index);
        });
        var switch_tab = function(target_this,par_sec,index){
            par_sec.find('.tab').removeClass('active');
            target_this.addClass('active');
            par_sec.find('.con').css("display","none");
            par_sec.find('#con'+index).css("display","block");
        } 
    })();
</script> 