<div class="content ident_auth">
	<div class="page-header">
		<h1>身份认证</h1>
    </div>
	<form class="form-horizontal" id="ident_auth_form">
		<div class="form-group">
			<label class="col-sm-2 control-label"><em class="text-danger">*</em> 我的姓名</label>
			<div class="col-sm-4">
			    <input type="text" class="form-control" value="大白">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"><em class="text-danger">*</em> 身份证号码</label>
			<div class="col-sm-4">
			    <input type="text" class="form-control">
			</div>
		</div>
		<div class="form-group upload-idimg">
			<label class="col-sm-2 control-label"><em class="text-danger">*</em> 身份证电子版</label>
			<div class="col-sm-4">
			    <input type="file" class="form-control">
			</div>
		</div>
		<div class="form-group submit-opt">
			<div class="col-sm-offset-2 col-sm-10">
			    <button type="submit" class="btn btn-success">确定</button>
			</div>
		</div>
	</form>
</div>