<div class="content update_mobile">
	<div class="page-header">
        <h1>修改手机</h1>
    </div>
	<div class="list-unstyled row process-bar">
	    <div class="col-xs-4 active"><div class="well well-sm">解绑原手机号</div></div>
	    <div class="col-xs-4"><div class="well well-sm">验证新手机号</div></div>
	    <div class="col-xs-4"><div class="well well-sm">修改成功</div></div>
	</div>
	<form class="form-horizontal" id="member_signup_form"  action="<{link app=buyer ctl=site_buyer act=update_mobile}>" method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label class="col-sm-2 control-label"><em class="text-danger">*</em> 用户名</label>
			<div class="col-sm-4">
			    <input type="text" class="form-control" readonly="readonly" name="local" value="<{$info.local}>" >
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"><em class="text-danger">*</em> 已绑定手机</label>
			<div class="col-sm-4">
			    <input type="text" name="mobile" readonly="readonly" value="<{$info.mobile}>" class="form-control" id="input_mobile" required="true" format="mobile" remote="<{link app=seller ctl=site_passport act=is_exists_mobile}>">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"><em class="text-danger">*</em> 验证码</label>
			<div class="col-sm-2">
			                            <input type="text" required="true" name="smscode" class="form-control" id="input_vcode" required="true" >

                        <span class="msgTip" data-message="error"></span>
			</div>
                        <div class="mobile-vcode">
                            <button type="button" data-loading-text="正在发送..." class="btn btn-default">获取短信验证码</button>
                        </div>
		</div>
		<div class="form-group submit-opt">
			<div class="col-sm-offset-2 col-sm-10">
			    <button type="submit" class="btn btn-success">解除绑定</button>
			</div>
		</div>
	</form>
</div>

<script>
void function(signup_form) {
    //获得短信验证码
    var _cutdown_sms = function(btn) {
        btn.addClass('disabled');
        var cutdown = 120,
            btn_o_text = btn.text(),
            timer =
            setInterval((function() {
                btn.text('短信已发送,' + (cutdown--) + '秒后可重试');
                if (cutdown < 1) {
                    clearInterval(timer);
                    btn.text(btn_o_text).removeClass('disabled');
                }
                return arguments.callee;
            })(), 1000);
    };

    signup_form.find('.mobile-vcode button').on('click', function(e) {
        var btn = $(this);
        if (btn.hasClass('disabled')) return;
        btn.addClass('disabled');
        $.post('<{link app=seller ctl=site_passport act=send_vcode_sms}>', {
            mobile: $('#input_mobile').val()
        }, function(re) {
            if (re && re.error) {//input_vcode
                btn.removeClass('disabled');
                
                alert(re.error);   
            }
            if (re && re.success) {
                $("#input_vcode").val(re.redirect);
                _cutdown_sms(btn);
            }
        }, 'json');


    });



}($('#member_signup_form'));
</script>
