<div class="content update_email">
	<div class="page-header">
        <h1>修改邮箱</h1>
    </div>
	<form class="form-horizontal" id="update_email_form">
		<div class="form-group">
			<label class="col-sm-2 control-label"><em class="text-danger">*</em> 已绑定邮箱</label>
			<div class="col-sm-4">
			    <input type="email" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"><em class="text-danger">*</em> 新邮箱</label>
			<div class="col-sm-4">
			    <input type="email" class="form-control">
			</div>
		</div>
		<div class="form-group submit-opt">
			<div class="col-sm-offset-2 col-sm-10">
			    <button type="submit" class="btn btn-success">确定</button>
			</div>
		</div>
	</form>
</div>