<div id="category_sel_<{$params.domid}>" class="form-inline api-cat">
    <input type="hidden" name="<{$params.name}>" value="<{$params.value}>">
    <select class="form-control">
        <option value="-1">
            <{if $params.divider}>
            <{$params.divider}>
            <{else}>
            请选择
            <{/if}>
        </option>
        <{foreach from=$tree_data_root item=item}>
            <option value="<{$item.cat_id}>" apiCatId="<{$item.addon}>" <{if $root == $item.cat_id}>selected<{/if}>><{$item.cat_name}></option>
        <{/foreach}>
    </select>
    <{foreach from=$tree_data item=item key=key}>
    <select class="form-control">
        <option value="-1">…</option>
        <{foreach from=$item item=cat}>
            <option value="<{$cat.cat_id}>" apiCatId="<{$item.addon}>" <{if $cat.selected}>selected<{/if}>><{$cat.cat_name}></option>
        <{/foreach}>
    </select>
    <{/foreach}>
</div>
<script type="text/javascript">
$(function(){
    var _callback = function(cat_id){
        <{if $params.callback}>
        try{
            <{$params.callback}>(cat_id);
        }catch(e){}
        <{/if}>
    };
    var fix_select = function(){
        var fix_select = $('#category_sel_<{$params.domid}> select').filter(function(){
            return this.options[this.selectedIndex].value>0;
        });
        if(!fix_select.length){
            _callback('');
            return $('#category_sel_<{$params.domid}> input[type=hidden]').val('');
        }
        fix_select = fix_select.last();
        var fix_option = fix_select[0].options[fix_select[0].selectedIndex];
        $('#category_sel_<{$params.domid}> input[type=hidden]').val(fix_option.value);
        $(fix_option).text(fix_option.label+' •');
        _callback(fix_option.value);
    };
    fix_select();
    $('#category_sel_<{$params.domid}>').on('change','select',function(e){
        //•
        var selected_value = this.options[this.selectedIndex].value,
        selected_label = this.options[this.selectedIndex].label,
        the_select = $(this),
        input_el = $('#category_sel_<{$params.domid}> input[type=hidden]');
        $('#category_sel_<{$params.domid}> select option:contains("•")')
        .text($('#category_sel_<{$params.domid}> select option:contains("•")').text().replace('•',''));
        the_select.nextAll('select').remove();
        $.getJSON('<{$params.cat_openapi}>/parent_id/'+$(this).val(),function(re){
            if(re.result == 'success'){
                var options = '';
                $.each(re.data,function(cat_id,cat){
                    options+="<option value='"+cat.cat_id+"' apiCatId='"+cat.addon+"'>"+cat.cat_name+"</option>";
                });
                $('<select class="form-control"><option value=-1>…</option></select>')
                        .append("<optgroup label='"+selected_label+"'>"+options+"</optgroup>")
                        .insertAfter(the_select);
            }
        });
        if(selected_value>0){
            input_el.val(selected_value);
            _callback(selected_value);
            $(this.options[this.selectedIndex]).text($(this.options[this.selectedIndex]).text()+' •');
        }else{
            fix_select();
        }
    });
});

</script>
