
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">关闭</button>
    <h3 class="modal-title"><{if $map.id && $map.pid neq '0'}>编辑<{else}>添加<{/if}><{$parent.ad_name}>内容</h3>
</div>
<form method="post" action="index.php?app=b2c&ctl=admin_setting&act=add_page" id='page_edit_form' class="form">
    <input type="hidden" name="page_id" value="<{$ad_id}>"/>
    <input type="hidden" name="ad_type" value="<{$content.ad_type}>"/>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-8">
                <div class="form-horizontal">
                    <div class="form-body">

                        <!--                        <div class="form-group ad-type">
                                                    <label class="col-md-4 control-label">模块类型
                                                        <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-8">
                                                        <{input type=select required="true" name="ad_type" rows=$page.type valueColumn="id" labelColumn="title" value=$content.ad_type}>
                                                    </div>
                                                </div>-->

                        <!--                        <div class="form-group floor-name">
                                                    <label class="col-md-4 control-label">楼层名称
                                                        <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" value="<{$content.ad_setting.floor_name}>" name="ad_setting[floor_name]" />
                                                    </div>
                                                </div>
                                                <div class="form-group hide ad-name">
                                                    <label class="col-md-4 control-label">所属楼层
                                                        <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-8">
                                                        <{input type="select" name="ad_setting[floor]" rows=$floor_ad labelColumn='floor_name' valueColumn='id' value=$content.ad_setting.floor}>
                                                    </div>
                                                </div>-->


                        <div class="form-group ad-type">
                            <label class="col-md-4 control-label">标题
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="ad_name" value="<{$content.ad_name}>">
                            </div>
                        </div>
<!--                        <div class="form-group ad-type">
                            <label class="col-md-4 control-label">url
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="ad_content[url]" value="<{$content.ad_type}>">
                            </div>
                        </div>-->
                        
                        <div class="form-group hide shop">
                            <label class="col-md-4 control-label">原价
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-8">
                                <input type="text" class='form-control' name='ad_content[mktprice]' value="<{$content.ad_content.mktprice}>">
                            </div>
                        </div>
                        <div class="form-group hide shop">
                            <label class="col-md-4 control-label">销售价
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-8">
                                <input type="text" class='form-control' name='ad_content[price]' value="<{$content.ad_content.price}>">
                            </div>
                        </div>
<!--                        <div class="form-group ad-type">
                            <label class="col-md-4 control-label">图片上传
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-8">
                                <{input type=imagearray name="ad_content[image][]" value=$content.ad_type}>
                            </div>
                        </div>-->
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="table-scrollable col-xs-offset-2">
                            <table class="table  table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th width="13%">图片</th>
                                        <th width="25%">title</th>
                                        <th width="25%">url</th>
                                        <th  width="7%">排序</th>
                                        <th  width="23%">图片上传</th>
                                        <th  width="7%">删除</th>
                                    </tr>
                                </thead>
                                <tbody class="ad-tbody">
                                    <{foreach from=$content.ad_content.title key=key item=item}>
                                    <tr>
                                        <td><img src="<{$content.ad_content.image[$key]|storager:'xs'}>" title="广告图片" alt="广告图片" class="img-thumbnail" style="width:80px; height:80px;"/></td>
                                        <td><input type="text" class="form-control" name="ad_content[title][]" value="<{$content.ad_content.title[$key]}>"/></td>
                                        <td><input type="text" class="form-control" name="ad_content[url][]" value="<{$content.ad_content.url[$key]}>"/></td>
                                        <td><input type="text" class="form-control" name="ad_content[ordernum][]" value="<{$content.ad_content.ordernum[$key]}>"/></td>
                                        <td>
                                            <input type="hidden" name="ad_content[image][]" value="<{$content.ad_content.image[$key]}>"/>
                                            <input type="file" data-url="index.php?app=image&ctl=admin_manage&act=upload" accept="image/*" />
                                        </td>
                                        <td><a href="javascript:;" class="fa fa-trash-o text-danger delete-image"></a></td>
                                    </tr>
                                    <{/foreach}>
                                </tbody>
                            </table>
                        </div>                       
                        <hr>
                        <button type="button" class="btn green add-ad">
                            添加<i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <a href="index.php?app=b2c&ctl=admin_setting&act=module_ad&p[0]=<{$ad_id}>" class="btn default" data-dismiss="modal">返回</a>
        <button type="submit" class="btn blue save">保存</button>
    </div>
</form>

<textarea class="hide ad-content">
<tr>
    <td><img src="" title="广告图片" alt="广告图片" class="img-thumbnail" style="width:80px; height:80px;"/></td>
    <td><input type="text" class="form-control" name="ad_content[title][]"/></td>
    <td><input type="text" class="form-control" name="ad_content[url][]"/></td>
    <td><input type="text" class="form-control" name="ad_content[ordernum][]"/></td>
    <td>
        <input type="hidden" name="ad_content[image][]" value=""/>
        <input type="file" data-url="index.php?app=image&ctl=admin_manage&act=upload" accept="image/*" />
    </td>
    <td><a href="javascript:;" class="fa fa-trash-o text-danger delete-image"></a></td>
</tr>
</textarea>

<script>

    void function (page_form) {
        var fileObj = {
            add: function (e, data) {
                if (!data.files[0]['type'].match(/^image/)) {
                    alert('非法上传，不是图片类型');
                }
                data.submit();
            },
            done: function (e, data) {
                var re = $.parseJSON(data.result);
                var input = e.target || e.srcElement;
                $(input).prev('input[type="hidden"]').attr('value', re.image_id);
                $(input).closest('tr').find('img').attr('src', re.url);

            }
        };
        page_form.on('click', '.add-ad', function () {
            var content = $('.ad-content').val();
            var tbody = $('.ad-tbody');
            $(tbody).append(content);
            var firstTr = $(tbody).find('tr:last');
            $(firstTr).find('input[type="file"]').fileupload(fileObj);
        });
        page_form.find('.ad-tbody ').on('click', '.text-danger', function () {
            $(this).closest('tr').remove();
        });

        page_form.find('.ad-tbody').on('fileupload', 'input[type="file"]', function () {
            func();
        });

        page_form.find('input[type="file"]').fileupload(fileObj);

        page_form.find('.ad-type select').change(function () {
            checkSelect($(this));
        });


        page_form.on('submit', function (e) {

            page_form.find('.hide').remove();

        });
    }($('#page_edit_form'));

    var checkSelect = function (teyp) {
        var pageFrom = $('#page_edit_form');
        switch (teyp) {
            case '3':
                return floorAd(pageFrom);
        }
        $('.shop').addClass('hide');
    };
    var floorAd = function (pageFrom) {
        pageFrom.find('.shop').removeClass('hide');
    };
    (function () {
        //alert('<{$content.ad_type}>');
        checkSelect('<{$content.ad_type}>');
    })();
</script>

