<h1>库存管理</h1>
<div class="storage-manage">
	<table class="table mo-list-head">
        <thead>
            <tr class="text-nowrap">
                <th width="50%" class="text-center">
                    商品信息
                </th>
                <th width="25%" class="text-center">
                    单价
                </th>
                <th width="25%" class="text-center">
                    库存
                </th>
            </tr>
        </thead>
        <tbody>
        <!-- foreach 开始 -->
        	<tr>
        		<td width="15%" class="text-center goods-info">
        			<div class="row">
                    	<div class="col-xs-5 g-img"><img src=""></div>
                    	<div class="col-xs-7 g-name"><a href="#">新西兰牛腩肉奇异进口牛肉</a></div>
                    </div>
                </td>
                <td width="15%" class="text-center">
                    100.00
                </td>
                <td width="15%" class="text-center">
                    200
                </td>
        	</tr>
        	<tr>
        		<td width="15%" class="text-center goods-info">
        			<div class="row">
                    	<div class="col-xs-5 g-img"><img src=""></div>
                    	<div class="col-xs-7 g-name"><a href="#">新西兰牛腩肉奇异进口牛肉</a></div>
                    </div>
                </td>
                <td width="15%" class="text-center">
                    100.00
                </td>
                <td width="15%" class="text-center">
                    200
                </td>
        	</tr>
        	<tr>
        		<td width="15%" class="text-center goods-info">
        			<div class="row">
                    	<div class="col-xs-5 g-img"><img src=""></div>
                    	<div class="col-xs-7 g-name"><a href="#">新西兰牛腩肉奇异进口牛肉</a></div>
                    </div>
                </td>
                <td width="15%" class="text-center">
                    100.00
                </td>
                <td width="15%" class="text-center">
                    200
                </td>
        	</tr>
        <!-- foreach 结束 -->
        </tbody>
    </table>
</div>
