<!-- <h1>订单回收站</h1> -->
<div class="buyer-check">
	<table class="table mo-list-head">
        <thead>
            <tr class="text-nowrap">
                <th width="15%" class="text-center">
                    商品图片
                </th>
                <th width="15%" class="text-center">
                    商品名称/规格
                </th>
                <th width="15%" class="text-center">
                    数量
                </th>
                <th width="10%" class="text-center">
                    商品金额(元)
                </th>
                <th width="10%" class="text-center">
                    订单金额(元)
                </th>
                <th width="10%" class="text-center">
                    订单状态
                </th>
            </tr>
        </thead>
        <tbody>
        <!-- foreach 开始 -->
        	<tr>
        		<td width="15%" class="text-center">
        			11.20-11.30
                </td>
                <td width="15%" class="text-center">
                    3000.00
                </td>
                <td width="15%" class="text-center">
                    20.00
                </td>
                <td width="10%" class="text-center">
                    10.00
                </td>
                <td width="15%" class="text-center">
                    20.00
                </td>
                <td width="10%" class="text-center">
                    10.00
                </td>
        	</tr>
        	<tr>
        		<td width="15%" class="text-center">
        			11.20-11.30
                </td>
                <td width="15%" class="text-center">
                    3000.00
                </td>
                <td width="15%" class="text-center">
                    20.00
                </td>
                <td width="10%" class="text-center">
                    10.00
                </td>
                <td width="15%" class="text-center">
                    20.00
                </td>
                <td width="10%" class="text-center">
                    10.00
                </td>
        	</tr>
        	<tr>
        		<td width="15%" class="text-center">
        			11.20-11.30
                </td>
                <td width="15%" class="text-center">
                    沙县小吃专用食材 冻鸡腿 单冻鸡琵琶腿 
50只/包
                </td>
                <td width="15%" class="text-center">
                    20.00
                </td>
                <td width="10%" class="text-center">
                    10.00
                </td>
                <td width="15%" class="text-center">
                    20.00
                </td>
                <td width="10%" class="text-center">
                    10.00
                </td>
        	</tr>
        <!-- foreach 结束 -->
        </tbody>
    </table>
</div>