<form class="content content-form" action="<{link app=b2c ctl=mobile_comment act=save args0=comment}>" method="post" id="comment_form">
<input type="hidden" name="order_id" value="<{$order.order_id}>">
<{foreach from=$order.items item=item name=oig}>
    <ul class="table-view tv-comment">
        <li class="table-view-cell media">
            <img class="img-thumbnail pull-left media-object" src="<{$item.image_id|storager:'xs'}>" alt="<{$item.name}>" />
            <div class="media-body">
                <{$item.name}>
                <p>
                    <{$item.spec_info}><br>
                    <strong>￥<{$item.buy_price|cur}> x <{$item.nums}></strong>
                </p>
            </div>
        </li>
        <{if $exits_comment[$item.product_id]}>
        <{foreach from=$exits_comment[$item.product_id] item=i}>
        <li class="table-view-cell media">
            <img src="<{$i.member_id|avatar:'xs'}>" class="img-thumbnail img-circle media-object pull-left" width="50" height="50"/>
            <div class="media-body">
                <{$i.author_name}>
                <p>
                    <{$i.createtime|cdate}>
                    <{if $i.mark.mark_star}>
                        <{switch from=$i.mark.mark_star}>
                            <{case value='5'}>
                                <span class="text-warning">★★★★★ </span><small>非常满意</small>
                            <{case value='4'}>
                                <span class="text-warning">★★★★☆ </span><small>满意</small>
                            <{case value='3'}>
                                <span class="text-warning">☆☆☆☆☆ </span><small>不满意</small>
                        <{/switch}>
                    <{/if}>
                </p>
                <p>
                    <{$i.content}>
                </p>
                <{if $i.images}>
                    <div class="comment-images">
                        <{foreach from=$i.images item=image}>
                        <a href="<{$image.image_id|storager}>" target='_blank' class="thumbnail">
                            <img src="<{$image.image_id|storager:'s'}>"/>
                        </a>
                        <{/foreach}>
                    </div>
                <{/if}>
            </div>
            <p>
                <input type="hidden" name="reply[<{$i.comment_id}>][goods_id]" value="<{$i.goods_id}>">
                <input type="hidden" name="reply[<{$i.comment_id}>][product_id]" value="<{$i.product_id}>">
                <h5>追加评论</h5>
                <textarea name="reply[<{$i.comment_id}>][content]" rows="2" class="form-control"></textarea>
            </p>
        </li>
            <{foreach from=$i['reply'] item=j}>
            <li class="table-view-cell media">
                <img src="<{$j.member_id|avatar:'xs'}>" class="img-thumbnail img-circle media-object pull-left" width="50" height="50"/>
                <p class="media-body">
                    <{$j.author_name}>
                    <p>
                        <{$j.createtime|cdate}>
                    </p>
                    <p>
                        <{$j.content}>
                    </p>
                </p>
            </li>
            <{/foreach}>
        <{/foreach}>
        <{else}>
        <li class="table-view-cell">
            <h5>综合评价</h5>
            <select class="form-control" name="comment[mark][<{$item.goods_id}>]">
                <optgroup label="非常满意">
                    <option value="5">★★★★★</option>
                </optgroup>
                <optgroup label="满意">
                    <option value="4">★★★★☆</option>
                </optgroup>
                <optgroup label="不满意">
                    <option value="3">☆☆☆☆☆</option>
                </optgroup>
            </select>
            <h5>说两句</h5>
            <textarea placeholder="说两句" class="form-control"  name="comment[word][<{$item.goods_id}>][<{$item.product_id}>]" rows="2"></textarea>
            <h5>晒一晒</h5>
            <div class="five-images-upload">
                <div class="upload-item">
                    <div class="img-preview">

                    </div>
                    <input type="file" accept="imgae/*">
                    <input type="hidden" name="comment[image][<{$item.product_id}>][]" value="">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="upload-item">
                    <div class="img-preview">

                    </div>
                    <input type="file" accept="imgae/*">
                    <input type="hidden" name="comment[image][<{$item.product_id}>][]" value="">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="upload-item">
                    <div class="img-preview">

                    </div>
                    <input type="file" accept="imgae/*">
                    <input type="hidden" name="comment[image][<{$item.product_id}>][]" value="">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="upload-item">
                    <div class="img-preview">

                    </div>
                    <input type="file" accept="imgae/*">
                    <input type="hidden" name="comment[image][<{$item.product_id}>][]" value="">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="upload-item">
                    <div class="img-preview">

                    </div>
                    <input type="file" accept="image/*">
                    <input type="hidden" name="comment[image][<{$item.product_id}>][]" value="">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
        </li>
        <{/if}>
    </ul>
<{/foreach}>
<div class="content-padded">
      <button type="submit" class="btn btn-block btn-primary">提交评价</button>
</div>
</form>
<{if !$exits_comment || !$exits_comment.0}>
<{script src="lrz/lrz.bundle.js"}>
<script type="text/javascript">
    //晒一晒传图
    $(function(){

        $('.five-images-upload input[type=file]').on('change',function(e){
            var upload_container = $(this).closest('.upload-item');
            upload_container.find('.fa').removeClass('fa-plus')
            .removeClass('hidden').addClass('fa-spinner fa-spin');
            lrz(this.files[0],{
                width:400,
                quality:1
            }).then(function(rst){
                //console.info(rst);
                upload_container.find('.img-preview').empty().append($('<img src="'+rst.base64+'">'));
                upload_container.find('input[type=hidden]').val(rst.base64);
                return rst;
            }).catch(function(err){
                Messagebox('error',err);
            }).always(function(){
                upload_container.find('.fa').addClass('hidden');
            });

        });

    });
</script>
<{/if}>
<script type="text/javascript">
    $('#comment_form').on('submit',function(e){
        e.stopPropagation();
        var form = $(this);
        form.find('button[type=submit]').text('正在提交...').prop('disabled',true);
        $.post(form.prop('action'),form.serialize(),function(re){
            if(re.success){
                Messagebox('success',re.success);
                if(re.redirect){
                    location = re.redirect;
                }
            }
            if(re.error){
                Messagebox('error',re.error);
            }
            form.find('button[type=submit]').text('提交评价').removeProp('disabled');
        },'json');
        return false;
    });
</script>
