<{if $comment_list}>
<{foreach from=$comment_list item=comment name=fec_cl}>
    <ul class="table-view tv-comment">
        <li class="table-view-cell media">
            <img src="<{$comment.member_id|avatar:'xs'}>" alt="<{$comment.author_name}>" class="img-thumbnail img-circle pull-left  media-object" width="50" height="50" />
            <div class="media-body">
                <{$comment.author_name}>
                <p>
                    <{$comment.createtime|cdate}> ,满意度：<span class="text-warning"><{$comment.mark.mark_star|star}></span>
                </p>
                <p>
                    <{$comment.content}>
                </p>
                <div class="comment-images">
                    <{foreach from=$comment.images item=image}>
                    <a href="<{$image.image_id|storager}>" target='_blank' class="thumbnail">
                        <img src="<{$image.image_id|storager:'s'}>"/>
                    </a>
                    <{/foreach}>
                </div>
            </div>
        </li>
        <{foreach from=$comment.reply item=reply}>
            <{if $reply.member_id!=$comment.member_id}>
                <{continue;}>
            <{/if}>
            <li class="table-view-cell">
                <p>
                    <{$reply.createtime|cdate}><br>
                    <{$reply.content}>
                </p>
            </li>
        <{/foreach}>
        <{foreach from=$comment.reply item=reply}>
            <{if $reply.member_id ==$comment.member_id}>
                <{continue;}>
            <{/if}>
            <li class="table-view-cell media">
                <img width=50 height=50 src="<{$reply.member_id|avatar:'xs'}>" alt="<{$reply.author_name}>" class="img-thumbnail img-circle pull-left media-object" />
                <div class="media-body">
                    <{$reply.author_name}>
                    <p><{$reply.createtime|cdate}><br><{$reply.content}></p>
                </div>
            </li>
        <{/foreach}>
    </ul>
<{/foreach}>
<{else}>
<div class="content-splash">
    <i class="fa fa-inbox fa-5x"></i>
    <p>
        暂无
    </p>
</div>
<{/if}>
