<!-- <h1>冻品管家商品列表</h1> -->
<div class="content freeze-glist">
	<div class="manage-item row">
		<div class="col-xs-2 head-img">
			<img src="" class="img-circle">
		</div>
		<div class="col-xs-8">
			<h3>管家名称</h3>
			<h5>主销品类:<span>鸡产品</span></h5>
			<p>专注冻品管理20年，平台推荐金牌管家</p>
		</div>
		<div class="col-xs-2 pull-right text-right">
			<button class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> 绑定</button>
		</div>
	</div>
	<div class="glist-container">
		<div class="row goods-list gl-default">
		    <div class="col-xs-3 item">
		        <a href="">
		          	<div class="item-img">
		          		<img src="../../themes/pc/default/statics/images/ex-pic.png">
		          	</div>
		          	<h4 class="item-price"><span>¥100.00</span>/箱</h4>
		          	<h5 class="item-name">美侍客精品冰鲜五花肉 10kg/箱</h5>
		          	<small>多鲜乐官方旗舰店</small>
		        </a>
		    </div>
		    <div class="col-xs-3 item">
		        <a href="">
		          	<div class="item-img">
		          		<img src="../../themes/pc/default/statics/images/ex-pic.png">
		          	</div>
		          	<h4 class="item-price"><span>¥100.00</span>/箱</h4>
		          	<h5 class="item-name">美侍客精品冰鲜五花肉 10kg/箱</h5>
		          	<small>多鲜乐官方旗舰店</small>
		        </a>
		    </div>
		    <div class="col-xs-3 item">
		        <a href="">
		          	<div class="item-img">
		          		<img src="../../themes/pc/default/statics/images/ex-pic.png">
		          	</div>
		          	<h4 class="item-price"><span>¥100.00</span>/箱</h4>
		          	<h5 class="item-name">美侍客精品冰鲜五花肉 10kg/箱</h5>
		          	<small>多鲜乐官方旗舰店</small>
		        </a>
		    </div>
		    <div class="col-xs-3 item">
		        <a href="">
		          	<div class="item-img">
		          		<img src="../../themes/pc/default/statics/images/ex-pic.png">
		          	</div>
		          	<h4 class="item-price"><span>¥100.00</span>/箱</h4>
		          	<h5 class="item-name">美侍客精品冰鲜五花肉 10kg/箱</h5>
		          	<small>多鲜乐官方旗舰店</small>
		        </a>
		    </div>
		    <div class="col-xs-3 item">
		        <a href="">
		          	<div class="item-img">
		          		<img src="../../themes/pc/default/statics/images/ex-pic.png">
		          	</div>
		          	<h4 class="item-price"><span>¥100.00</span>/箱</h4>
		          	<h5 class="item-name">美侍客精品冰鲜五花肉 10kg/箱</h5>
		          	<small>多鲜乐官方旗舰店</small>
		        </a>
		    </div>
		    <div class="col-xs-3 item">
		        <a href="">
		          	<div class="item-img">
		          		<img src="../../themes/pc/default/statics/images/ex-pic.png">
		          	</div>
		          	<h4 class="item-price"><span>¥100.00</span>/箱</h4>
		          	<h5 class="item-name">美侍客精品冰鲜五花肉 10kg/箱</h5>
		          	<small>多鲜乐官方旗舰店</small>
		        </a>
		    </div>
		    <div class="col-xs-3 item">
		        <a href="">
		          	<div class="item-img">
		          		<img src="../../themes/pc/default/statics/images/ex-pic.png">
		          	</div>
		          	<h4 class="item-price"><span>¥100.00</span>/箱</h4>
		          	<h5 class="item-name">美侍客精品冰鲜五花肉 10kg/箱</h5>
		          	<small>多鲜乐官方旗舰店</small>
		        </a>
		    </div>
		    <div class="col-xs-3 item">
		        <a href="">
		          	<div class="item-img">
		          		<img src="../../themes/pc/default/statics/images/ex-pic.png">
		          	</div>
		          	<h4 class="item-price"><span>¥100.00</span>/箱</h4>
		          	<h5 class="item-name">美侍客精品冰鲜五花肉 10kg/箱</h5>
		          	<small>多鲜乐官方旗舰店</small>
		        </a>
		    </div>
		    <div class="col-xs-3 item">
		        <a href="">
		          	<div class="item-img">
		          		<img src="../../themes/pc/default/statics/images/ex-pic.png">
		          	</div>
		          	<h4 class="item-price"><span>¥100.00</span>/箱</h4>
		          	<h5 class="item-name">美侍客精品冰鲜五花肉 10kg/箱</h5>
		          	<small>多鲜乐官方旗舰店</small>
		        </a>
		    </div>
		</div>
	</div>
</div>