<div class="businessInfo_page">
	<div class="page-header">
		<h1>商户信息</h1>
	</div>
	<form action="" method="" class="edit_form form-horizontal">
		<div class="area_box">
			<h2>生产商企业基本资质<i class="icon-chevron-down" ></i></h2>
			<div class="area_con">
				<{include file='site/passport/companyInfo/three_lesstion.html'}>
			</div>
		</div>
		<div class="area_box">
			<h2>生产商企业专业资质<i class="icon-chevron-down" ></i></h2>
			<div class="area_con">
				<{include file='site/passport/companyInfo/three_lesstion.html'}>
			</div>
		</div>
		<div class="area_box">
			<h2>生产商企业基本生产能力<i class="icon-chevron-down" ></i></h2>
			<div class="area_con">
				<{include file='site/passport/companyInfo/three_lesstion.html'}>
			</div>
		</div>
		<div class="area_box">
			<h2>生产商企业生产车间、设备、产品工艺流程<i class="icon-chevron-down" ></i></h2>
			<div class="area_con">
				<{include file='site/passport/companyInfo/three_lesstion.html'}>
			</div>
		</div>
		<div class="area_box">
			<h2>生产商企业实验室、检测设备及产品质量控制系统<i class="icon-chevron-down" ></i></h2>
			<div class="area_con">
				<{include file='site/passport/companyInfo/three_lesstion.html'}>
			</div>
		</div>
		<div class="area_box">
			<h2>生产商企业管理团队<i class="icon-chevron-down" ></i></h2>
			<div class="area_con">
				<{include file='site/passport/companyInfo/three_lesstion.html'}>
			</div>
		</div>
		<div class="area_box">
			<h2>生产商企业电商团队<i class="icon-chevron-down" ></i></h2>
			<div class="area_con">
				<{include file='site/passport/companyInfo/three_lesstion.html'}>
			</div>
		</div>
		<div class="area_box">
			<h2>生产商企业产品品牌<i class="icon-chevron-down" ></i></h2>
			<div class="area_con">
				<{include file='site/passport/companyInfo/three_lesstion.html'}>
			</div>
		</div>
	</form>
</div>	


<script type="text/javascript">
	$(function(){
		$('.edit_form .area_box:eq(0)').find('.area_con').css('display','block');
		$('.edit_form .area_box h2').bind('click',function(){

			$(this).siblings('.area_con').slideDown();
			$(this).parent('.area_box').siblings().children('.area_con').slideUp();
		})
	})
</script>