<div class="page-header">
    <h1>结算管理</h1>
</div>
<div class="seller_clearing_page">
	<div class="clearing_tab">
		<ul class="clearing_menu">
			<li class="active">全部</li>
			<li>已结算</li>
			<li>待结算</li>
		</ul>
		<div class="clearing_con">
			<table class="table table-hover">
				<tr>
					<th class="col-xs-2">结算单号</th>
					<th class="col-xs-2">订单编号</th>
					<th class="col-xs-2">结算完成时间</th>
					<th class="col-xs-1">订单总金额</th>
					<th class="col-xs-1">应结金额</th>
					<th class="col-xs-1">结算状态</th>
					<th class="col-xs-1">操作</th>
				</tr>
				<tr>
					<td>16543164516</td>
					<td>13156432</td>
					<td>2015-10-15 12:33:43</td>
					<td>￥:890.00</td>
					<td>￥:890.00</td>
					<td><span class="text-success">已结算</span></td>
					<td><a href="#" class="btn-link btn-block">查看明细</a></td>
				</tr>
				<tr>
					<td>16543164516</td>
					<td>13156432</td>
					<td>2015-10-15 12:33:43</td>
					<td>￥:890.00</td>
					<td>￥:890.00</td>
					<td><span class="text-success">已结算</span></td>
					<td><a href="#" class="btn-link btn-block">查看明细</a></td>
				</tr>
				<tr>
					<td>16543164516</td>
					<td>13156432</td>
					<td>2015-10-15 12:33:43</td>
					<td>￥:890.00</td>
					<td>￥:890.00</td>
					<td><span class="text-danger">待结算</span></td>
					<td><a href="#" class="btn-link btn-block">查看明细</a></td>
				</tr>
			</table>
			<table class="table table-hover">
				<tr>
					<th class="col-xs-2">结算单号</th>
					<th class="col-xs-2">订单编号</th>
					<th class="col-xs-2">结算完成时间</th>
					<th class="col-xs-1">订单总金额</th>
					<th class="col-xs-2">应结金额</th>
					<th class="col-xs-1">结算状态</th>
				</tr>
				<tr>
					<td>16543164516</td>
					<td>13156432</td>
					<td>2015-10-15 12:33:43</td>
					<td>￥:890.00</td>
					<td>￥:890.00</td>
					<td><span class="text-success">已结算</span></td>
				</tr>
				<tr>
					<td>16543164516</td>
					<td>13156432</td>
					<td>2015-10-15 12:33:43</td>
					<td>￥:890.00</td>
					<td>￥:890.00</td>
					<td><span class="text-success">已结算</span></td>
				</tr>
				<tr>
					<td>16543164516</td>
					<td>13156432</td>
					<td>2015-10-15 12:33:43</td>
					<td>￥:890.00</td>
					<td>￥:890.00</td>
					<td><span class="text-success">待结算</span></td>
				</tr>
			</table>
			<table class="table table-hover">
				<tr>
					<th class="col-xs-2">结算单号</th>
					<th class="col-xs-2">订单编号</th>
					<th class="col-xs-2">结算完成时间</th>
					<th class="col-xs-1">订单总金额</th>
					<th class="col-xs-2">应结金额</th>
					<th class="col-xs-1">结算状态</th>
				</tr>
				<tr>
					<td>16543164516</td>
					<td>13156432</td>
					<td>2015-10-15 12:33:43</td>
					<td>￥:890.00</td>
					<td>￥:890.00</td>
					<td><span class="text-danger">待结算</span></td>
				</tr>
				<tr>
					<td>16543164516</td>
					<td>13156432</td>
					<td>2015-10-15 12:33:43</td>
					<td>￥:890.00</td>
					<td>￥:890.00</td>
					<td><span class="text-danger">待结算</span></td>
				</tr>
				<tr>
					<td>16543164516</td>
					<td>13156432</td>
					<td>2015-10-15 12:33:43</td>
					<td>￥:890.00</td>
					<td>￥:890.00</td>
					<td><span class="text-danger">待结算</span></td>
				</tr>
			</table>
		</div>
	</div>
	
</div>