<div class="alert-warning">
    <div class="row">
        <div class="col-xs-4 m-baseinfo">
            <dl class="clearfix">
                <dt>
                    <a href="<{link app=seller ctl=site_seller act=account}>">
                        <img width=50 height=50  class="img-circle" src="<{$seller.avatar|storager:'avatar'}>" alt="<{$seller.login_account}>头像" />

                    </a>
                </dt>
                <dd>
                    <h4>
                        <a href="<{link app=seller ctl=site_seller act=account}>"><{$sellers.login_account}></a>
                    </h4>
                    <ul class="list-inline">
                        <li><span class="label label-warning">卖家用户</span></li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="col-xs-6 order_status_list">
            <ul class="clearfix">
                <li>
                    <a href="#">
                        <span class="status_icon">
                            <img src="<{$base_url}>/themes/pc/default/statics/images/customer_01.jpg">
                        </span>
                        <span>待付款<small><{$order_count.no_pay.no_pay}></small></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="status_icon">
                            <img src="<{$base_url}>/themes/pc/default/statics/images/customer_01.jpg">
                        </span>
                        <span>待发货<small><{$order_count.no_ship.no_ship}></small></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="status_icon">
                            <img src="<{$base_url}>/themes/pc/default/statics/images/customer_01.jpg">
                        </span>
                        <span>待收货<small><{$order_count.confirm.confirm}></small></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="status_icon">
                            <img src="<{$base_url}>/themes/pc/default/statics/images/customer_01.jpg">
                        </span>
                        <span>待评价<small><{$order_count.comment.comment}></small></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-4 m-balance">
            <p>
                <!-- <span>会员卡余额<small>￥:1500.0</small></span> -->
            </p>
        </div>
    </div>
</div>



<div class="activity_con">
    <div class="col-xs-6 act_store">
        <h2><span>店铺推广活动</span></h2>
        <ul>
            <li><a href="#">首单满一百送10元代金券</a></li>
            <li><a href="#">首单满一百送10元代金券</a></li>
            <li><a href="#">首单满一百送10元代金券</a></li>
            <li><a href="#">首单满一百送10元代金券</a></li>
            <li><a href="#">首单满一百送10元代金券</a></li>
        </ul>
    </div>
    <div class="col-xs-6 act_official">
        <h2><span>官方活动</span></h2>
        <ul>
            <li><a href="#">首单满一百送10元代金券</a></li>
            <li><a href="#">首单满一百送10元代金券</a></li>
            <li><a href="#">首单满一百送10元代金券</a></li>
            <li><a href="#">首单满一百送10元代金券</a></li>
            <li><a href="#">首单满一百送10元代金券</a></li>
        </ul>
    </div>
</div>
