<div class="alert-warning">
    <div class="row">
        <div class="col-xs-4 m-baseinfo">
            <dl class="clearfix">
                <dt>
                    <a href="<{link app=seller ctl=site_seller act=account}>">
                        <span>编辑资料</span>
                        <img width=50 height=50  class="img-circle" src="<{$member.avatar|storager:'avatar'}>" alt="<{$member.uname}>头像" />

                    </a>
                </dt>
                <dd>
                    <h4>
                        <a href="<{link app=b2c ctl=site_member act=setting}>"><{$member.uname}></a>
                        <span class="btn-group">
                            <{if !$pam_data.local}>
                            <!-- <a class="btn btn-xs btn-default" href="<{link app=b2c ctl=site_member act=set_pam_uname}>">设置昵称</a> -->
                            <{/if}>
                            <{if $pam_data.email && $pam_data.email.disabled=='true'}>
                            <a class="btn btn-xs btn-default" href="<{link app=b2c ctl=site_member act=active_pam_email}>">验证邮箱  <{$pam_data.email.login_account}></a>
                            <{/if}>
                        </span>
                    </h4>
                    <ul class="list-inline">
                        <li><span class="label label-warning"><{$member.levelname}>
                            <{if $member.lv_discount<1}>(<{$member.lv_discount*10}>折)<{/if}></span></li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="col-xs-4 order_status_list">
            <ul class="clearfix">
                <li>
                    <a href="#">
                        <span class="status_icon">
                            <img src="./../themes/pc/default/statics/images/customer_01.jpg">
                        </span>
                        <span>待付款<small>0</small></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="status_icon">
                            <img src="./../themes/pc/default/statics/images/customer_01.jpg">
                        </span>
                        <span>待发货<small>0</small></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="status_icon">
                            <img src="./../themes/pc/default/statics/images/customer_01.jpg">
                        </span>
                        <span>待收货<small>0</small></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="status_icon">
                            <img src="./../themes/pc/default/statics/images/customer_01.jpg">
                        </span>
                        <span>待评价<small>0</small></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-4 m-balance">
            <p>
                <!-- <span>会员卡余额<small>￥:1500.0</small></span> -->
            </p>
        </div>
    </div>
</div>
