<div class="passport-lost-container">
    <div class="panel panel-default lost-panel">
      <div class="panel-heading clearfix">
          重置密码
          <a class="btn btn-danger btn-xs pull-right" href="<{link app=seller ctl=site_passport act=login args0=$forward}>">登录&raquo;</a>
      </div>
      <div class="panel-body">
          <form id="member_signup_form" class="form-horizontal" action="<{link app=seller ctl=site_passport act=reset_password}>" method="post">
              <div class="form-group">
                  <label for="input_psw_confirm" class="col-md-2 control-label"><span class="text-danger">*</span>验证手机：</label>
                  <div class="col-md-5">
                      <input type="text" required="true" name="pam_account[mobile]" value="<{$seller.mobile}>" class="form-control" id="input_mobile">
                  </div>
              </div>
              <div class="form-group">
                  <label for="input_psw_confirm" class="col-md-2 control-label"><span class="text-danger">*</span>短信验证码：</label>
                  <div class="col-md-3">
                      <input type="text" required="true" name="smscode" class="form-control" id="input_vcode">
                  </div>
                  <div class="col-md-2">
                      <div class="mobile-vcode">
                          <button type="button" data-loading-text="正在发送..." class="btn btn-default">获取短信验证码</button>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="input_login_password" class="col-md-2 control-label"><span class="text-danger">*</span>新密码：</label>
                  <div class="col-md-5">
                      <input type="password" required="true" name="pam_account[login_password]" class="form-control" id="input_login_password" placeholder="登录密码">
                  </div>
              </div>
              <div class="form-group">
                  <label for="input_psw_confirm" class="col-md-2 control-label"><span class="text-danger">*</span>确认新密码：</label>
                  <div class="col-md-5">
                      <input type="password" required="true" name="pam_account[psw_confirm]" class="form-control" id="input_psw_confirm" placeholder="再次输入登录密码">
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-md-offset-2 col-md-4">
                      <button type="submit" data-loading-text="正在提交..." class="btn btn-warning">立即重置</button>
                  </div>
              </div>
          </form>
      </div>

    </div>
</div>




<script>
    void function(signup_form) {

        var alert_timer = 0;
        var _alert_error = function(msg) {
            signup_form.find('.alert-error').remove();
            signup_form.append($('<div class="alert alert-danger">' + msg + '</div>'));
            alert_timer = setTimeout(function() {
                clearTimeout(alert_timer);
                signup_form.find('.alert-danger').fadeOut('fast', function() {
                    $(this).remove();
                });
            }, 3000);
        }
        //获得短信验证码
        var _cutdown_sms = function(btn) {
            btn.addClass('disabled');
            var cutdown = 120,
                    btn_o_text = btn.text(),
                    timer =
                            setInterval((function() {
                                btn.text('短信已发送,' + (cutdown--) + '秒后可重试');
                                if (cutdown < 1) {
                                    clearInterval(timer);
                                    btn.text(btn_o_text).removeClass('disabled');
                                }
                                return arguments.callee;
                            })(), 1000);
        };
        signup_form.find('.mobile-vcode button').on('click', function(e) {
            var btn = $(this);
            if (btn.hasClass('disabled')) return;
            btn.addClass('disabled');
            $.post('<{link app=seller ctl=site_passport act=send_vcode_sms}>', {
                mobile: $('#input_mobile').val(), type : 'securitycenter'
            }, function(re) {
                if (re && re.error) {//input_vcode
                    btn.removeClass('disabled');
                    _alert_error(re.error);
                }
                if (re && re.success) {
                    $("#input_vcode").val(re.redirect);
                    _cutdown_sms(btn);
                }
            }, 'json');


        });



    }($('#member_signup_form'));
</script>
