<h3
        class="page-title"><{if $dlyplace.dp_id }>编辑仓库<{else}>添加仓库<{/if}></h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index.php?app=b2c&ctl=admin_dlycorp&act=index">仓库地点列表</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:;"><{if $dlyplace.dp_id }>编辑仓库地点<{else}>添加仓库地点<{/if}></a>
        </li>
    </ul>
</div>
<form action="index.php?app=b2c&ctl=admin_dlyplace&act=save" method="post" id='dlyplace_form' class="form" >

    <{if $dlyplace.dp_id }><input type="hidden" name="dp_id" value="<{$dlyplace.dp_id}>"><{/if}>
    <div class="form form-horizontal">
        <div class="form-body">
            <!--<div class="form-group">-->
                <!--<label class="col-md-2 control-label">发货仓库类型<span class="required" aria-required="true">*</span></label>-->
                <!--<div class="col-md-5">-->
                    <!--<select class="form-control" name="dp_type">-->
                        <!--<option value='warehouse'>仓库</option>-->
                        <!--&lt;!&ndash;<option value='store' <{if $dlyplace.dp_type=='store'}>selected<{/if}>>门店</option>&ndash;&gt;-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <input type="hidden" name="dp_type" value="warehouse"/>
             <div class="form-group">
                 <label class="col-md-2 control-label">仓库名称<span class="required" aria-required="true">*</span></label>
                 <div class="col-md-5">
                     <input type="text"  name="dp_title"  required="true" value="<{$dlyplace.dp_title}>" class="form-control" autocomplete="off">
                 </div>
             </div>
             <div class="form-group">
                 <label class="col-md-2 control-label">所在地区<span class="required" aria-required="true">*</span></label>
                 <div class="col-md-5">
                     <{input type=region name='consignor[area]' value=$dlyplace.consignor.area}>
                 </div>
             </div>
             <div class="form-group">
                 <label class="col-md-2 control-label">详细地址<span class="required" aria-required="true">*</span></label>
                 <div class="col-md-5">
                     <input type="text"  name="consignor[addr]"   value="<{$dlyplace.consignor.addr}>" class="form-control" autocomplete="off">
                 </div>
             </div>
            <div class="Warehouse">
                <div class="form-group">
                    <label class="col-md-2 control-label">覆盖地区<span class="required" aria-required="true">*</span></label>
                    <div class="col-md-5" style="padding-left:0px;">
                        <div class="col-xs-10"><{input type=region}></div>
                        <div class="col-xs-2 delWarehouse">
                            <button class="btn btn-md btn-success addWarehouse"type="button">新增</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-5 col-xs-offset-2">
                        <ul class="list-group storage_list">
                            <textarea class="hide">
                                <div class="delWarehouse">
                                    <input type="hidden" name="warehouse[addr_id][]" value="{0}"/>
                                    <input type="hidden" class="form-control" readonly name="warehouse[addr][]" value="{1}"/>
									<input type="hidden" class="form-control" readonly name="warehouse[title][]" value="{2}"/>
                                    <li class="list-group-item">
                                        {1}
                                        <span class="pull-right">是否启用 <input type="checkbox"  name="warehouse[disabled][]"
                                                                value="{0}">
                                        <i title="删除" class="icon-trash pull-right" style="cursor: pointer"></i></span>
                                    </li>
                                </div>
                            </textarea>
                            <{foreach from=$dlyplace.warehouse item=item}>
                            <div class="delWarehouse">
                                <input type="hidden" name="warehouse[id][]" value="<{$item.id}>"/>
                                <input type="hidden" name="warehouse[addr_id][]" value="<{$item.addr_id}>"/>
                                <input type="hidden" name="warehouse[addr][]" value="<{$item.addr}>"/>
								<input type="hidden" name="warehouse[title][]" value="<{$item.title}>"/>
                                <li class="list-group-item">
                                    <{$item.addr}>
                                    <span class="pull-right">是否启用 <input type="checkbox"  name="warehouse[disabled][]"
                                                                         <{if $item.disabled eq 'true'}> checked <{/if}>
                                                                         value="<{$item.addr_id}>">
                                    <i title="删除" class="icon-trash pull-right" style="cursor: pointer"></i></span>
                                </li>
                            </div>
                            <{/foreach}>

                        </ul>
                    </div>
                </div>
            </div>

             <div class="form-group">
                 <label class="col-md-2 control-label">邮编</label>
                 <div class="col-md-5">
                     <input type="text"  name="consignor[zip]"   value="<{$dlyplace.consignor.zip}>" class="form-control" autocomplete="off">
                 </div>
             </div>
             <div class="form-group">
                 <label class="col-md-2 control-label">联系人</label>
                 <div class="col-md-5">
                     <input type="text"  name="consignor[name]"  value="<{$dlyplace.consignor.name}>" class="form-control" autocomplete="off">
                 </div>
             </div>
             <div class="form-group">
                 <label class="col-md-2 control-label">联系人手机</label>
                 <div class="col-md-5">
                     <input type="text"  name="consignor[mobile]"   value="<{$dlyplace.consignor.mobile}>" class="form-control" autocomplete="off">
                 </div>
             </div>
             <div class="form-group">
                 <label class="col-md-2 control-label">联系电话</label>
                 <div class="col-md-5">
                     <input type="text"  name="consignor[tel]"   value="<{$dlyplace.consignor.tel}>" class="form-control" autocomplete="off">
                 </div>
             </div>
             <div class="form-group">
                 <label class="col-md-2 control-label">联系Email</label>
                 <div class="col-md-5">
                     <input type="text"  name="consignor[email]"   value="<{$dlyplace.consignor.email}>" class="form-control" autocomplete="off">
                 </div>
             </div>
             <div class="form-group">
                 <label class="col-md-2 control-label">备注</label>
                 <div class="col-md-5">
                     <textarea class="form-control" name="memo"><{$dlyplace.memo}></textarea>
                 </div>
             </div>
    </div>
        <div class="form-actions">
            <div class="row">
                    <div class="col-md-offset-2 col-md-9">
                        <button type="submit" class="btn blue">保存</button>
                    </div>
            </div>
        </div>

    <div>
</form>
<script>
    $('#dlyplace_form .addWarehouse').click(function(){
        var text = '';
        var value = '';
        var result = false;
        var parent = $('.Warehouse .storage_list');
        $('#dlyplace_form .Warehouse select').each(function(idx, item){
            if($(item).css('visibility') != 'hidden' && $(item).find('option:selected').text() != '请选择'){
                text += idx == 0 ? '' : '-';
                text +=  $(item).find("option:selected").text();
                value = $(item).find("option:selected").val();
				title = $(item).find("option:selected").text();
            }
        });
        if(!text) return false;
        $(parent).find('input').each(function(idx, item){
            if(value == $(item).val()){
                result = true;
                return false;
            }
        });
        if(result) {
            alert('已有地区');
            return false;
        }
        var html = $('.Warehouse textarea').val();
        html = substitute(html, value, text, title);
        parent.append(html);
        $(parent).on('click', 'i:last', function(){
            delWarehouse($(this));
        });
    });

    var delWarehouse = function(obj){
        $(obj).closest('div').remove();
    }

    var substitute = function(str,obj){
        var params = $.makeArray(arguments).slice(1);
        str = str.replace(/\\?\{([^{}]+)\}/g, function(match, name) {
            return params[name];
        });
        return str;
    }
</script>
