<?xml version="1.0" encoding="UTF-8" ?>
<theme>
    <name>VMCSHOP HTML5触屏默认模板</name>
    <id>vmcshop_mobile_default</id>
    <version>1.0</version>
    <info>VMCSHOP官方默认HTML5触屏端模板</info>
    <author>ued@vmcshop.com</author>
    <views>
         <file type="list" use="默认商品列表页">list-default.html</file>
         <file type="item" use="默认商品详情页">item-default.html</file>
         <file type="member" use="默认会员中心页">my.html</file>
         <file type="maddr" use="地址选择器">maddr.html</file>
    </views>
</theme>
