<!-- <h1>违规处理</h1>  -->
<div class="content break-rule">
	<div class="page-header">
		<h1>违规处理</h1>
	</div>
	<h4>如果您有需要处理的违规,你可以</h4>
	<div class="list-group">
	    <a href="#" class="list-group-item">
	        <div class="row">
	            <div class="col-xs-1 text-center">
	                <h2 class="glyphicon glyphicon-user"></h2>
	            </div>
	            <div class="col-xs-8">
	                <h4>向平台咨询</h4>
	                <p>平台客服24小时接受实时咨询。如需进一步帮助，可通过留言或者电话联系客服。</p>
	            </div>
	            <div class="col-xs-3 text-right">
					<span>点击进入»</span>
	            </div>
	        </div>
	    </a>
	</div>
</div>