<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" required="true"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">品牌添加</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label class="control-label col-xs-2">
            <span class="text-danger">*</span>品牌名称
        </label>
        <div class="col-xs-5">
            <input type="text" <{if $brand.brand_id}>disabled<{/if}> required=true value="<{$brand.brand_name}>" id="check_brand_name" name="brand[brand_name]" vtype='required' class='form-control' />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">
            <span class="text-danger">*</span>品牌logo
        </label>
        <div class="col-xs-5">
            <{input type="imageupload" tag="图片上传" name="brand[brand_logo]" value=$brand.brand_logo required='true' accept="jpg|png|gif" }>
            <span class="msgTip" data-message="error">不能为空</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">
            <span class="text-danger">*</span>品牌类型
        </label>
        <div class="col-xs-5">
            <select class="form-control" name="brand_type" required="true">
                <option value="1">自有品牌</option>
                <option value="2">代理品牌</option>
                <option value="3">OEM委托品牌</option>
            </select>
            <span class="msgTip" data-message="error">不能为空</span>
        </div>
    </div>
    <div class="form-group" data-module="brand_add">
        <label class="control-label col-xs-2">
            <span class="text-danger">*</span>品牌持有者
        </label>
        <div class="col-xs-5">
            <{input type=select required="true" name="brand_holder" rows=$company valueColumn="company_id" labelColumn="company_name"}>
            <span class="msgTip" data-message="error">不能为空</span>
            <button type="button" class="btn-link"  href="<{link app=seller ctl=site_passport act=brand_aptitude}>?type=add" style="margin-top:10px;" data-toggle="tooltip" data-placement="right" title="需要重新填写相关资质">新增品牌持有者</button>
            <a href="<{link app=seller ctl=site_passport act=brand_aptitude}>?type=add" data-link="write_apt">请去填写公司相关资质</a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">
            <span class="text-danger">*</span>品牌授权书
        </label>
        <div class="col-xs-5">
            <{input type="imageupload" tag="图片上传" name="brand[accredit]" value=$extra.store.brand_accredit required='true' accept="jpg|png|gif" }>
            <span class="msgTip" data-message="error">不能为空</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">
            注册商标证书
        </label>
        <div class="col-xs-5">
            <{input type="imageupload" tag="图片上传" name="brand[brand_setting][reg_card]" value=$brand.brand_setting.reg_card required='true' accept="jpg|png|gif" }>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    <button type="button" class="btn btn-primary brand_save_btn" data-save="brand_save">保存品牌</button>
</div>

