<div data-module="uploader" class="uploader" name="<{$id}>" tag="<{$tag}>" >    
    <div class="thumb showImg" data-toggle="show">        
        <img <{if $value}>src="<{$value|storager:'xs'}>"<{/if}> />     
    </div>
    <input type="file" name="<{$id}>" class="handle" accept="<{$accept}>" for="<{$name}>" data-url="<{link app=image ctl=site_upload act=site}>" />
    <input type="hidden" name="<{$name}>" <{if $required}>required="<{$required}>"<{/if}> id="<{$id}>-<{$name}>" value="<{$value}>" />   
</div>