<div data-module="upload" class="filebox" name="<{$id}>" tag="<{$tag}>">
</div>

<!--
<div data-module="upload" class="filebox" data-box-name="<{$id}>" data-tag="文件上传">
    <input type="hidden" name="<{$name}>" id="<{$id}>-<{$name}>" value="<{$value}>" />
    <div class="thumb showImg" data-toggle="show">        
        <img src="<{$value|storager:'xs'}>" data-thumb-default="<{$base_url}>/themes/pc/default/statics/images/file_add.jpg">      
    </div>
    <input type="file" name="files[]" style="display:none;" for="<{$name}>" data-url="<{link app=image ctl=site_upload act=index}>" />
</div>
<div data-module="filebox" class="filebox" id="image_upload_box_<{$id}>">    
    <div class="filebox fileinput-new thumbnail" style="border:0px;padding:0px;margin-bottom:0px">
        <input type="hidden" value="<{$image_id}>" name="<{$name}>"/>        
        <div class="showImg">
            <{if $image_id && $url}>
            <img src="<{$content.image|storager:'xs'}>" />
            <{else}>               
            <img src="<{$base_url}>/themes/pc/default/statics/images/file_add.jpg">
            <{/if}>
        </div>
        <input type="file" data-action="fileupload" data-url="<{link app=image ctl=site_upload act=index}>" accept="image/*" class="file_input" />
    </div>
</div>

<script charset="utf-8">

$('#image_upload_box_<{$id}> input[type=file]').fileupload({
    <{if $tag}>
    formData:{tag:'<{$tag}>'},
    <{/if}>
    add:function(e,data){      
        var msg = data.files[0]['name']+'不是允许的图片类型';
        var _type = '';
        if(typeof data.files[0]['type'] != 'undefined')
        {
            _type =  data.files[0]['type'];
        }else{
            _type = "image/" + data.files[0]['name'].split(".").pop().replace('jpg', 'jpeg');
        }
        if(!_type.match(/^image/))
        {
            return toastr.warning(msg, '类型错误');
        }       
        //$('#image_upload_box_<{$id}> .fileinput-btn-text').text('正在上传...');       
        data.submit();
    },
    done:function(e,data){
        var re = $.parseJSON(data.result);
        if(!$('#image_upload_box_<{$id}> .thumbnail img').length){
            $('#image_upload_box_<{$id}> .thumbnail .showImg').empty().append('<img src="'+re.url+'"  /><input type="hidden" name="<{$name}>" value="'+re.image_id+'">');
        }else{
            $('#image_upload_box_<{$id}> .thumbnail .showImg img').attr('src',re.url);
            $('#image_upload_box_<{$id}> .thumbnail input[type="hidden"]').val(re.image_id);
        }
        //$('#image_upload_box_<{$id}> .fileinput-btn-text').text('从本地选择图片');
    }
});
</script>
-->