<div class="input-group  region" id="<{$params.id}>" >
<input name="<{$params.name}>" data-v="<{$params.value}>" <{if isset($params.required)}>required="true"<{/if}> package="<{$params.package}>"  type="hidden" value="<{$params.value}>" />
<{foreach from=$area_depth item=item key=key}>
<{if $item === 0}>
<select data-level-index="<{$item}>" class="form-control input-xsmall"><option value="_NULL_">请选择</option></select>
<{else}>
<select data-level-index="<{$item}>"  class="form-control input-xsmall" style="visibility:hidden"></select>
<{/if}>
<{/foreach}>
</div>
<script>

// 地区联动验证 返回 callback
function region_union_require(e){
    var obj = $(e[0]).parents('.input-group');
    var label = $(obj).parent().find('label');
    console.log(label);
    if(label.length > 0)
    {
        label.removeClass('error').addClass('right').html("&nbsp;");	
    }else{
        var name = $(e[0]).parent().find("input[type=hidden]").attr("name");
        $(obj).parent().append($('<label id="' + name + '-error" for="' + name + '" class="right"></label>').html("&nbsp;"));
    }
}

!function(){    
    var region_js_path ='<{$env.statics_host_url}>/javascripts/';
    var region_data_path ='<{$env.base_url}>/data/misc/';
    var callback = '';
    <{if $params.callback}>
        callback = "<{$params.callback}>";
    <{/if}>
    var _region_init = function(region_panel_id,region_data,callback){
        region_sel.init(region_panel_id,region_data, callback);//REGION_DATA FROM SCRIPT

    }
    function region_init(){
        if( typeof(region_sel)!='undefined'){
            return _region_init($('#<{$params.id}>'), REGION_DATA,callback);
        }else{
            $.ajax({
                url:region_js_path+'region_sel.js',
                dataType:'script',
                complete:function(){
                    _region_init($('#<{$params.id}>'), REGION_DATA,callback);
                }
            });
        }
    }
    var regionInit = function(){
        if(typeof(REGION_DATA)=='undefined'){
            var url = region_data_path + 'region_data.js';
            var type = '<{$params.detail}>';
            if(type){
                url = region_data_path + 'warehouse_data.js';
            }
            $.ajax({
                url: url,
                dataType:'script',
                complete:function(){
                    region_init();
                }
            });
        }else{
            region_init();
        }
    };
    regionInit();
}();
</script>
