<h3>冻品管家管理</h3>
<div class="reg_progress clearfix">
</div>
<div class="freeze-manager">
	<table class="table mo-list-head">
        <thead>
            <tr class="text-nowrap">
                <th width="20%" class="text-center">
                    管家名称
                </th>
                <th width="10%" class="text-center">
                    性别
                </th>
                <th width="10%" class="text-center">
                    年龄
                </th>
                <th width="15%" class="text-center">
                    工作经验
                </th>
                <th width="15%" class="text-center">
                    地区
                </th>
                <th width="15%" class="text-center">
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
        <!-- foreach 开始 -->
        <{foreach from=$list item=freeze}>
        	<tr>
        		<td width="10%" class="text-center mem-head">
                    <{$freeze.name}>
                    <!--<div class="row">-->
                    	<!--&lt;!&ndash;<div class="col-xs-6"><img src=""></div>&ndash;&gt;-->
                    	<!--<div class="col-xs-6 name"></div>-->
                    <!--</div>-->
                </td>
                <td width="10%" class="text-center">
                    <{if $freeze.sex == 0}>
                            女
                        <{else $freeze.sex == 1}>
                            男
                        <{else $freeze.sex == 2}>
                            其他
                    <{/if}>
                </td>
                <td width="10%" class="text-center">
                    <{$freeze.age}>
                </td>
                <td width="15%" class="text-center">
                    <{if $freeze.experience == 1}>
                        1年以下
                    <{else $freeze.experience == 2}>
                        1~3年
                    <{else $freeze.experience == 3}>
                        5年以上
                    <{/if}>
                </td>
                <td width="15%" class="text-center">
					<{$freeze.area|region}>
                </td>
                <td width="15%" class="text-center opt">
                    <a href="<{link app=freeze ctl=site_center act=index arg0=$freeze.freeze_id}>"><button  class="btn btn-default">查看详情</button></a><br>
                    <a href="<{link app=freeze ctl=site_passport act=delete_freeze}>" class="btn">删除</a>
                </td>
        	</tr>
        <{/foreach}>

        <!-- foreach 结束 -->
	        <tr class="add-mem">
	        	<td colspan="12">
                    <a href="<{link app=buyer ctl=site_manager act=manager_signup}>"><button class="btn btn-default">+添加新管家</button></a>
	        	</td>
	        </tr>
        </tbody>
    </table>
</div>
<{pagers data=$pager}>