<div class="passport-signup-container seller_regbox">
    <ul class="nav nav-tabs">
        <li class="active"><a href="">冻品管家基本信息</a></li>
        <li><a href="<{link app=freeze ctl=site_account act=buyer_info}>">买手店信息</a></li>
    </ul>
    <div class="panel panel-default signup-panel clearfix">
        <div class="panel-body panel-rt pull-right">
            <form id="companyInfo_form" action="<{link app=freeze ctl=site_account act=basic_info}>" class="form-horizontal companyInfo_form" method="post" data-module="validator">

                <div id="basic">
                    <h4> 基本信息</h4>

                    <div class="form-group">
                        <label class="col-xs-2 control-label">
                            <span class="text-danger">*</span>头像：
                        </label>
                        <div class="col-xs-4">
                            <{input type="imageupload" tag="图片上传" name="head_image" value=$info.head_image  required='true' accept="jpg|png|gif"}>
                            <span class="msgTip" data-message="error">不能为空</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">
                            <span class="text-danger">*</span>用户名：
                        </label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" disabled="ture" name="" value="<{$login_account}>" required="true">
                            <span class="msgTip" data-message="format">格式不正确</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">
                            <span class="text-danger">*</span>手机号：
                        </label>
                        <div class="col-xs-4">
                            <input type="text" disabled="true" class="form-control" name="mobile" value="<{$info.mobile}>" required="true">
                            <a class="btn btn-md btn-danger pull-right" style="margin-right:-120px; margin-top:-34px;" href="<{link app=freeze ctl=site_account act=set_pam_mobile}>">绑定手机号码</a>
                            <span class="msgTip" data-message="format">格式不正确</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">
                            <span class="text-danger">*</span>邮箱：
                        </label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" name="email" value="<{$info.email}>" required="true" format="email">
                            <span class="msgTip" data-message="format">邮箱格式不正确</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">
                                <span class="text-danger">*</span>名字：
                        </label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" name="name" value="<{$info.name}>" required="true">
                            <span class="msgTip" data-message="error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">
                            <span class="text-danger">*</span>性别：
                        </label>
                        <div class="col-xs-4">
                            <select class="form-control"  name="sex" required="true">
                                <option value="0" <{if $info.sex == 0}>selected<{/if}>>女</option>
                                <option value="1" <{if $info.sex == 1}>selected<{/if}>>男</option>
                            </select>
                            <span class="msgTip" data-message="error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">
                            <span class="text-danger">*</span>身份证号：
                        </label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" name="ID" value="<{$info.ID}>" required="true" format="idcard">
                            <span class="msgTip" data-message="format">身份证号格式错误</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">
                            <span class="text-danger">*</span>虚拟经营地址：
                        </label>
                        <div class="col-xs-4">
                            <{input type=region required="true" name="area" value=$info.area }>
                            <span class="msgTip" data-message="error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">
                            <span class="text-danger">*</span>虚拟经营详细地址：
                        </label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" name="address" value="<{$info.address}>" required="true">
                            <span class="msgTip" data-message="error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">
                            <span class="text-danger">*</span>管理区域注册：
                        </label>
                        <div class="col-xs-4">
                            <{input type=region required="true" name="manage_area" value=$info.manage_area }>
                            <span class="msgTip" data-message="error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">
                            <span class="text-danger">*</span>管理区域注册详细地址：
                        </label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" name="manage_address" value="<{$info.manage_address}>" required="true">
                            <span class="msgTip" data-message="error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">
                            <span class="text-danger">*</span>QQ：
                        </label>
                        <div class="col-xs-4">
                            <input type="text" value="<{$info.QQ}>" name="QQ" class="form-control" required="true" format="qq">
                            <span class="msgTip" data-message="format">QQ号格式不正确</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">
                            <span class="text-danger">*</span>微信号：
                        </label>
                        <div class="col-xs-4">
                            <input type="text" value="<{$info.WeChat}>" name="WeChat" class="form-control" required="true" >
                            <span class="msgTip" data-message="error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">
                            <span class="text-danger">*</span>一寸免冠照片：
                        </label>
                        <div class="col-xs-4">
                            <{input type="imageupload" tag="图片上传" name="self_image" value=$info.self_image  required='true' accept="jpg|png|gif"}>
                            <span class="msgTip" data-message="error">不能为空</span>
                        </div>
                    </div>
                </div>


                <hr>
                <div class="form-group">
                    <label class="col-xs-2"></label>
                    <div class="col-xs-4">
                        <button type="submit" data-loading-text="正在提交..." class="btn btn-danger" style="margin-left: 20px;">保存并进行下一步</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    /**
     *动态添加多项,例如：检测设备，电商团队成员，企业荣誉，车间概况
     */
    var itemLength = function(obj){
        var items = obj.find('div[data-items="itemList"]');
        var item = items.find('div[data-item="creat-item"]:first');
        item.find($('.delBtn')).hide();
    }
    $('div[data-module="creater"]').each(function(index, el) {

        var addBtn = $(this).find('.addBtn');
        var delBtn = $(this).find('delBtn');
        var items = $(this).find('div[data-items="itemList"]');
        var item = items.find('div[data-item="creat-item"]');
        var itemLen = item.size();
        var html = items.find('div[data-item="creat-item"]:first').prop("outerHTML");
        var _this = $(this);
        var imgUrl = '<{$base_url}>/public/javascripts/images/add.jpg';

        //增加
        addBtn.bind('click',function(){
            _this.find('div[data-items="itemList"]').append(html);
            _this.find('div[data-item="creat-item"]:last').find('input').val('');
            _this.find('div[data-item="creat-item"]:last').find('img').attr('src', imgUrl);
            itemLen++;
            $.VMC.init();
        })

        //删除

        if(itemLen <= 1){
            item.find($('.delBtn')).hide();
        }
        itemLength(_this);
        _this.on('click','.delBtn',function(){
            if(!confirm('确定删除')) return false;
            var parent = $(this).parents('div[data-item="creat-item"]');
            var content_id = parent.find('.content_id').val();
            if(!content_id){
                parent.remove();
                return false;
            }
            var url = '<{link app=seller ctl=site_passport act=del_extra}>';
            $.post(url, {content_id: content_id}, function (re) {
                if (re.success) {
                    parent.remove();
                    itemLen--;
                    itemLength(_this);
                } else {
                    alert('操作失败');
                }
            });
        });
    });



    /**
     * 表单验证
     */

    void function (signup_form) {
        var _alert_error = function (msg) {
            signup_form.find('.alert-error').remove();
            signup_form.append($('<div class="alert alert-danger">' + msg + '</div>'));
            alert_timer = setTimeout(function () {
                clearTimeout(alert_timer);
                signup_form.find('.alert-danger').fadeOut('fast', function () {
                    $(this).remove();
                });
            }, 3000);
        }
        signup_form.on('submit', function (e) {
            e.stopPropagation();
            $.post(signup_form.attr('action'), signup_form.serialize(), function (re) {
                if (re.error) {
                    _alert_error(re.error);
                } else if (re.success) {
                    location = re.redirect;
                }
            }, 'json');
            return false;
        });
    }($('#seller_signup_form'));



    $('#companyInfo_form .business').change(function(){
        var typeId = $('#companyInfo_form input[name="typeId"]').val().trim();
        var url = '<{link app=seller ctl=site_passport act=check_company}>';
        $.post(url, {business : $(this).val().trim(), business_type : 0, type_id : typeId}, function(re){
            console.log(re);
        })
    });


</script>




