<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">关闭</button>
    <h3 class="modal-title">内容<{if $content.content_id }>编辑<{else}>添加<{/if}></h3>
</div>

<form method="post" action="<{link app=seller ctl=site_tpl act=content_add}>" id='content_form' class="form" target="self">
<div class="modal-body  form-horizontal">
    <div class="form-body">
        <input type="hidden" value="<{$content.content_id|default:0}>" name="content[content_id]" />
        <input type="hidden" value="<{$position.position_id|default:0}>" name="content[position_id]" />
        <input type="hidden" value="<{$pages.pages_id|default:0}>" name="content[pages_id]" />
        <div class="form-group">
            <label class="col-md-3 control-label">标题
                <span class="required" aria-required="true">*</span>
           </label>
            <div class="col-md-7">
                <input type="text" required=true value="<{$content.title}>" id="" name="content[title]" vtype='required' class='form-control'/>
            </div>
        </div>    
        <div class="form-group">
            <label class="col-md-3 control-label">链接地址
                <span class="required" aria-required="true">*</span>
           </label>
            <div class="col-md-7">
                <input type="text" required=true value="<{$content.url}>" name="content[url]" vtype='required' class='form-control'/>
            </div>
        </div>

      
        <div class="form-group">
            <label class="col-md-3 control-label">图片上传:</label>
            <div class="col-md-7">
                <{input type="imageupload" tag="图片上传" name="content[image_id]" value=$content.image_id required='true'}>            
            </div>
        </div>


        <div class="form-group" id="content_type">
            <label class="col-md-3 control-label">类型
                <span class="required" aria-required="true">*</span>
           </label>
            <div class="col-md-7">
                <{input type="select" options=$content_types value=$content.type name="content[type]" required="true" class='form-control'}>
            </div>
        </div>
        
        <div class="form-group" id="content_price">
            <label class="col-md-3 control-label">商品价格：</label>
            <div class="col-md-7">
                <div class="col-md-5">
                    <label>原价：</label>
                    <{input type="text" data-map="price" name="content[extra][cost]" value=$content.extra.cost|default:'0.00'}>
                </div>
                <div class="col-md-5">
                    <label>售价：</label>
                    <{input type="text" data-map="price" name="content[extra][price]" value=$content.extra.price|default:'0.00'}>
                </div>
            </div>
        </div>

        <div class="form-group ">
           <label class="col-md-3 control-label">排序
                <span class="required">*</span>
           </label>
            <div class="col-md-7">
                <{input type='text' name='content[ordernum]' value=$content.ordernum|default:0 required='true' }>
            </div>
        </div>
        <div class="form-group ">
           <label class="col-md-4 control-label">状态
                <span class="required">*</span>
           </label>
            <div class="col-md-3">
            <label class="radio-inline"><input  type="checkbox" name="content[status]" value="1" <{if !$content || $content.status == 1 }>checked<{/if}>>启用</label>
            </div>
        </div>  
    </div>
</div>

<div class="modal-footer">
        <button type="button" class="btn default" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn blue">保存</button>
</div>
</form>


<{if $env.get.callback_func}>
<!-- 保存后，不跳转 -->
<input type="hidden" name="no_redirect" value="1">
<{/if}>



<script charset="utf-8">
var content = {
    id : <{$content.content_id|default:0}>,
    page : <{$content.page_id|default:0}>,
    type : <{$content.type|default:0}>,
    position : <{$content.position_id|default:0}>
};
function typeChange(val)
{
    if( val == 2)
    {
        $("#content_price").show();
    }else{
        $("#content_price").hide();
    }
}

$(function(){
    typeChange(content.type);
    $('#content_type select').on('change',function(e){  
        typeChange($(this).val());
    });
});
</script>
