<div class="page-header">
	<h1 >商铺模板 <small>Store-template</small></h1>
</div>

<div class="table-scrollable">
    <table class="table  table-striped table-hover">
    <thead>
        <tr>
            <th>推荐位</th>
            <th>页面</th>
            <th>类型</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody id="position_list">
        <{foreach from=$positions item=item name="item"}>
            <tr data-catid="<{$item.position_id}>">
                <td><{$item.name}></td>
                <td><{$pages[$item.pages_id].name}></td>
                <td><{$position_types[$item.type]}></td>
                <td>
                    <a href="<{link app=seller ctl=site_tpl act=content args0=$item.position_id}>" class="btn btn-xs btn-default">
                        <i class="fa fa-edit"></i> 查看
                    </a>
                </td>
            </tr>
        <{/foreach}>
    </tbody>
    </table>
</div>
